[2016-07-20 05:34] xiang90 opened #2 "doc: how to implement watcher"
@heyitsanthony

Probably we need to add doc to talk about:
1. multiple watch sharing one grpc stream
2. error handling for watcher

So that the java implementation can be close to go impl.

[2016-07-20 16:54] skyao opened #5 "JDK version"
One question, which JDK version should we support in jetcd?

java8? or java 7?

[2016-07-20 16:55] skyao opened #6 "project name about jetcd"
There is another java project named jetcd on github and it is a java client for etcd v2.

Do we change to another name? like jetcd3?

[2016-07-21 11:14] skyao commented on #5
We decide to java7 now. Now java 8 limitation.

[2016-07-21 17:40] xiang90 commented on #6
let's keep it this way for now. we can change the project name once we plan to do the first release.

[2016-07-21 20:39] xiang90 opened #9 "set up initial testing infrastructure"
We probably just want to use a real etcd cluster for testing instead of mocking it for now.

Something like this https://github.com/justinsb/jetcd/blob/master/scripts/run_etcd.sh should be good enough.

[2016-07-22 06:50] jurmous commented on #6
I could donate the name etcd4j to you as long as it is versioned 3.x.x (to show which API it supports) and supports async communication. Then I don't mind that it clashes since with the arrival of this official implementation I am not interested to write a v3 api implementation.

[2016-07-22 09:08] skyao commented on #5
Reopen this topic.

For me, java8 is enough.

I don't know if there is some special requirement for java7.

[2016-07-22 09:11] jurmous commented on #5
Java7 is officially not supported anymore and Java 8 would allow to base the async calls on CompletableFuture. On HBase (where I also worked on Netty client besides etcd4j) they did not want to expose Netty futures so they decided to use CompletableFuture as the return. It seems that it is the most future ready way to do async calls.

https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/

[2016-07-22 10:17] AdoHe commented on #5
@skyao I think we need to make a decision about the jdk version from beginning.

[2016-07-22 10:51] skyao commented on #5
Java7 is officially not supported anymore.

This is my point to only support java8.

[2016-07-22 10:55] skyao opened #15 "[design]: add internal package to hide our implementation details"
I would like to add a internal package such as "com.coreos.jetcd.internal" and move some implementation classes like EtcdKVImpl to it.

And we should document that all the classes in package internal are our internal implementation detail and should not be used directly.

Then We can update them freely.

[2016-07-22 12:56] lburgazzoli commented on #5
+1 for java 8 only

I also think we should limit as much as possible to expose Guava's specific classes and eventually repackage it as Guava is sometime an issue if another incompatible version is already provided via dependency chain.

[2016-07-22 13:01] lburgazzoli commented on #9
See also:
- https://github.com/jurmous/etcd4j/tree/master/src/main/bash
- https://github.com/jurmous/etcd4j/blob/master/.travis.yml

Another option would be to run the official docker image i.e:
- https://docs.travis-ci.com/user/docker/

[2016-07-22 13:16] lburgazzoli opened #16 "Client interfaces"
I'm wondering if it could make sense to enhance client interface with convenient methods i.e:
- Options should not be mandatory:

[code]
- Leverage java 8 functional interfaces (if project will be moved to java 8 of course):

[code]

[2016-07-22 13:29] jurmous commented on #16
My preference would be to return java 8 CompletableFuture on any of those put calls. It seems to be the route for futures/listeners in java going forward. You would then be able to do this:

[code]
or just ``` future.get() ``` for sync call and throws ExecutionException

More:
http://www.nurkiewicz.com/2013/05/java-8-definitive-guide-to.html
http://download.java.net/lambda/b88/docs/api/java/util/c

[2016-07-22 13:39] lburgazzoli commented on #16
The only problem is that grpc layer returns a ListenableFuture so we neeed to wrap/convert it, or is ther any better way ?

[2016-07-22 13:40] xiang90 commented on #5
OK. Let's do java8 only. Thanks for your opinions.

[2016-07-22 13:40] #5 closed

[2016-07-22 13:51] AdoHe commented on #15
@skyao I already have a [design proposal](https://github.com/AdoHe/etcd4j/issues/13) when I try to implement this client, you may take a look.

[2016-07-22 13:54] AdoHe commented on #16
SGTM.

[2016-07-22 13:55] xiang90 commented on #16
@lburgazzoli we should do suggestion 1 for sure. can you help to improve that?

/cc @sijie what's your opinion on suggestion2?

[2016-07-22 13:59] lburgazzoli commented on #16
I've a patch (https://github.com/lburgazzoli/coreos-jetcd/commit/9f287c89a3bc0e22b3f782dff39f9c4b2e389e47) that should implement both (suggestion 2 using CompletableFutureas suggested by @jurmous). It includes an additional dependency at the moment for quick prototyping

[2016-07-22 13:59] jurmous commented on #16
Ah I did not look into grpc yet... Wrapping would create overhead but at the same time it is I think good to hide away implementation details which could change in the future. Don't know if there are alternatives with grpc and guava ListenableFutures than wrapping.

[2016-07-22 14:00] xiang90 commented on #6
jetcd is a friend's project too. I do not think he has enough bandwidth to help on this for the moment.  But I feel he would like to donate the name too if we really want.

Yea. Right now this jetcd is super uncompleted. None of these are actually supported yet... Let's get the initial release done, and then talk about the naming. :)

/cc @justinsb

[2016-07-22 14:39] justinsb commented on #6
Yes, that project is very old, I haven't had time to maintain it, and I don't think anyone is using it.  You should use the name!

I don't _think_ I should just delete the project just in case someone is still using it.  But I could put a big README saying "don't use this - go to coreos/jetcd instead"?

[2016-07-22 15:52] lburgazzoli commented on #16
Let me know what you think about lburgazzoli@9f287c8 so I can send a PR

[2016-07-22 16:16] sijie commented on #16
re the second question:

@xiang90 @lburgazzoli @jurmous  since we haven't thought of what is the best structures for returning to users, I would suggest using the ListenableFuture generated by grpc for now. It seems to me it is only a wrapper for converting ListenableFuture to CompletableFuture, so don't seem to be a big deal though. Also, the interface is marked as Beta for now. We can iterate th

[2016-07-24 01:31] jhspaybar opened #18 "Discuss wrap vs enhance"
I see the EtcdKV interface and impl are wrapping the generated gRPC clients with some helper utilities.  At least for simple things like put and delete, I'd like to discuss if these should wrap, or sit to the side?  For example.

generatedClient.put(EtcdUtil.putRequest(key, value));

This way users can still easily choose their interaction model(blocking, future, async), but still get the benefit

[2016-07-24 06:03] xiang90 commented on #18
@jhspaybar I think we want to hide gRPC details as much as possible to start with. Client lib should support blocking and nonblocking. The utility func should exist, it is just a question that if we should expose them to start with. Then users now only have one way to do the thing, and we can iterate on it until we know the API is stable and flexible. We might reach to a point that some users stil

[2016-07-24 06:15] xiang90 opened #22 "define etcdException"
We should hide the exception throw directly from gRPC. So we can have better defined errorCode and status for easier error handling.

[2016-07-25 04:46] lburgazzoli opened #25 "dns discovery"
In @jurmous etcd4j's client, there were a simple dns srv discovery util to get a list of etcd instances, would it make sense to port it here ?

[2016-07-25 04:48] AdoHe commented on #25
@lburgazzoli thanks for pointing out this, I will take a look, if possible I will port it here, and actually we are going to implement one, you can see [here](https://github.com/coreos/jetcd/blob/master/src/main/java/com/coreos/jetcd/lb/EtcdNameResolverFactory.java). Thx :)

[2016-07-25 05:25] lburgazzoli commented on #25
@AdoHe best would be to have a common class to extend then I could el providing a dns imp

[2016-07-25 07:22] AdoHe commented on #25
@lburgazzoli grpc-java already has a dns based name resolver provider, I guess you are trying to implement a different one. So I would add an `AbstractEtcdNameResolverFactory` class, then you could provide a dns impl.

[2016-07-25 07:44] lburgazzoli commented on #25
I had a quick look at grpc's dns impl but it does not seems to use srv records.
I would like to be able to leverage etcd or discovery options [1][2] like:

- dns:
[code]

- etcd:
[code]

If it make sese of course.

[1] https://coreos.com/etcd/docs/latest/clustering.html#etcd-discovery
[2] https://coreos.com/etcd/docs/latest/clustering.html#dns-discovery

[2016-07-25 08:05] AdoHe commented on #25
@lburgazzoli so I would suppose there are three ways to specify the endpoints:

1. dns:
[code]
2. etcd discovery:
[code]
3. plain host:port list:
[code]
Then we need to implement three types name resolver. wdyt?

[2016-07-25 08:12] lburgazzoli commented on #25
Could be, I do not yet know how the name resolver work but it is definitively be required for srv and etcd.

[2016-07-25 08:16] AdoHe commented on #25
@lburgazzoli I opened an init pr #26, ptal.

[2016-07-25 08:19] AdoHe commented on #25
@lburgazzoli I would think dns based name resolver will resolve SRV records found at specific DNS domain name, discovery based name resolver will fetch discovery service to get endpoint addresses, directly host:port will just use user configured list of endpoints.

[2016-07-25 08:22] AdoHe commented on #25
Also the `AbstractEtcdNameResolverFactory` may be not complete, we may add more methods here.

[2016-07-29 06:10] AdoHe commented on #25
@lburgazzoli this pr #26 has merge, would you help implement dns based name resolver? Thanks very much :)

[2016-07-29 06:23] lburgazzoli commented on #25
@AdoHe I will

[2016-07-29 09:58] lburgazzoli commented on #25
@AdoHe I see that in grpc-java they use NameResolverProvider instead of NameResolver.Factory , which one should we use ?

[2016-07-29 10:04] AdoHe commented on #25
@lburgazzoli we should use `NameResolver.Factory`, `ManagedChannelBuilder` can configure this.

[2016-07-29 10:33] lburgazzoli commented on #25
I've created PR #31 for discussion, let me know what your opinion is

[2016-08-03 15:19] #25 closed

[2016-08-04 09:51] StupidHod commented on #22
Ok, should we define the exception in the class where throw the exception or within a certain package?

[2016-08-04 10:31] AdoHe commented on #22
@StupidHod It depends, we can put them in a certain package.

[2016-08-15 02:45] skyao commented on #6
Close it and we will reopen it just before we release first version.

[2016-08-15 02:45] #6 closed

[2016-08-15 04:15] skyao opened #39 "Update grpc version to 1.0.0-pre2?"
hi, now we are using grpc version 0.15.0, and the new version of grpc is 1.0.0.pre2。

should we update to this version now? One strong reason is that in this version protobuf has been update to release version 3.0.0 and netty is udpate to 3.1.7-final with some bug fixing.

I have to say that in 1.0.0-pre2 (includes pre1) there are some big changes we have to face:

1.  In the generated code from .

[2016-08-24 05:42] StupidHod opened #42 "discuss watch client"
Hi, as discussed in PR #40 , we should discuss about the goals of etcd watch client.

As my idea, etcd watch is a client to manage watch requests.
Goals:
1. Request watch operation, watch client create watch request for client with key, option(revision, delete only, put only and end key) and register callback for watch request.
2. Notification, when watch client receive event from etcd server, it

[2016-08-24 05:52] hongchaodeng commented on #42
I agree with above statements.

The goals we want should be more explicit. Specifically, we want to talk about what we want instead of coding details like methods, instances in #40 .

[2016-08-24 06:03] StupidHod commented on #42
Ok, got your advice, so I should add above statements to etcd watch design document.

[2016-08-28 18:18] xiang90 commented on #39
already fixed by #44

[2016-08-28 18:18] #39 closed

[2016-09-01 13:15] oza opened #46 "EtcdLease should not use ListenableFuture directly"
Currently, [EtcdLease](https://github.com/coreos/jetcd/blob/8658eb43e975e69d0030d71147323b5ef37ecb41/src/main/java/com/coreos/jetcd/EtcdLease.java) exposes com.google.common.util.concurrent.ListenableFuture as a part of API. If ListenableFuture is used directly, it will conflict with user-side guava library. Instead, [ListenableSetFuture](https://github.com/StupidHod/jetcd/blob/8d4d09c78aa6029bfab

[2016-09-01 13:27] lburgazzoli commented on #46
This is related to #16.
IMHO best would be to shade guava and use CompletableFutures as suggested by @jurmous

[2016-09-01 14:09] oza commented on #46
@lburgazzoli thanks for the notification. I will also check #16.

I have a patch to shade Guava into jetcd locally, so I can send a PR soon. However, it can increase the size of binary. Can we accept it?

[2016-09-01 14:11] oza commented on #16
FYI, as I mentioned [here](https://github.com/coreos/jetcd/pull/45#discussion_r76964462), I think we should avoid using ByteString generated by protobuf directly.

[2016-09-01 15:56] lburgazzoli commented on #46
I do not know, but having had quite a few issues with guava dependencies I would really like not to do it again ;)

[2016-09-01 15:59] oza commented on #46
Thanks for your comment. I agree with you. Created #47. I appreciate if you take look.

[2016-09-09 23:37] philips opened #49 "README: write a minimal readme"
Could someone write a few lines in the README with:

1. Link to example Main program that does a read/write
2. Link to the API documentation
3. A high-level introduction to etcd in a sentence or two with links to https://coreos.com/etcd/

[2016-09-15 07:45] xiang90 commented on #49
close via #50

[2016-09-15 07:45] #49 closed

[2016-10-07 00:59] jlamillan opened #52 "Ability for client conn to set arbitrary gRPC metadata / HTTP2 request headers"
I think it'd be useful for the client to be able to set custom metadata (e.g. HTTP2 request headers) that would be part of the remote call. Basically, a way for the client to set gRPC metadata. It could be abstracted supported something like:

`Map<String, String> requestHeaders = new HashMap<>();
requestHeaders.put("someKaey", "someValue");
EtcdClient client = EtcdClientBuilder.newBuilder().endpo

[2016-10-07 02:07] AdoHe commented on #52
@StupidHod

[2016-10-14 09:32] himanshu14049 opened #54 "Missing com.coreos.jetcd.api"
Importing jetcd to intellij IDEA cause missing com.coreos.jetcd.api
Anybody faced same issue?

[2016-10-14 11:14] AdoHe commented on #54
@himanshu14049 we have not include generated code in repo, so I am afraid you have to generate this by yourself.

[2016-10-20 07:09] himanshu14049 commented on #54
Could I get the binaries for jetcd?

[2016-10-20 09:46] AdoHe commented on #54
@himanshu14049 I am afraid we are not ready to build binary now, watch has not been fully implemented.

[2016-10-28 20:36] eho-eho opened #55 "Using SSL"
Has anyone managed to get a java etcd client to use SSL, and if so, how?
I have generated self-signed certificates (ca, server, and client) that work fine with etcdctl (with etcd3) but cannot get it to work with netty-tcnative from java. I always get the following:
io.netty.handler.ssl.OpenSslEngine - SSL_read failed: OpenSSL error: error:10000412:SSL routines:OPENSSL_internal:SSLV3_ALERT_BAD_CERT

[2016-11-01 16:59] eho-eho commented on #55
This was happening with netty-tcnative-boringssl-static 1.1.33.Fork23. Once I switched to netty-tcnative-boringssl-static 1.1.33.Fork19 the problem disappeared.

[2016-11-03 19:22] at88mph opened #56 "Test failures on initial build"
Hello,

I'm prototyping ```etcd``` to run our local service discovery.

I'm running Debian 8.0, and using the official [Quay Docker image](http://quay.io/coreos/etcd) to run ```etcd```.

I've started the docker single instance cluster using:
[code]

If I clone the latest ```coreos/jetcd``` and run ```mvn package```, I get a test failure:
[code]

Is this a known issue?

Also, if I try to run it aga

[2016-11-03 19:23] xiang90 commented on #56
This code is not production ready. Can you try to help to fix the issue you found?

[2016-11-03 19:26] at88mph commented on #56
Yes.  I'll aim for a pull request as soon as I can.

[2016-11-03 22:54] at88mph commented on #56
The test just expects a 3-node cluster to be running, which I don't have.  I will try to force it to accommodate however many nodes there are actually running, which is 1 in my case.

Also, is there a known issue when adding a member to a single instance cluster?

When the ```testAddMember``` of the ```EtcdClusterClientTest``` method successfully adds a member, the service seems to get into an end

[2016-11-08 02:47] lamuguo commented on #42
What's the status of this one?

[2016-11-25 14:51] jaroslavl1 commented on #54
Building using Maven resolves this, as some classes need to be generated. If you give the artifact new name, you can publish it to your private Maven repository and use it.

It's not just watches that are missing, EtcdLease seems implemented but not available in EtcdClient

[2016-11-25 14:58] jaroslavl1 opened #60 "Txn.Builder has unfriendly API"
I think Txn.Builder would be more user friendly if it allowed appending If/Then/Else operations rather than just replacing them. Right now you have to prepare them in some lists, then add them to builder.

[2016-11-29 14:37] urcadox opened #61 "No way to use leases?"
Hello,

Am I correct in assuming there is no actual way to use EtcdLeaseImpl at the moment or have I missed something?

[2016-12-01 15:47] StupidHod commented on #61
I have added the lease to EtcdClient in #62

[2016-12-01 15:49] urcadox commented on #61
Great! I'm closing this then.

[2016-12-01 15:49] #61 closed

[2016-12-06 06:43] StupidHod commented on #56
Hello,
@at88mph After you use testAddMember, there are 2 members in the term. For raft with 2 members, the cluster get a leader only after  2 members all vote to the candidate. You do not have another member, so the cluster get into a endless loop without a leader.
You can use the [https://github.com/coreos/jetcd/blob/master/scripts/run_etcd.sh](url) to start a 3 nodes cluster for the test.
The te

[2016-12-06 06:47] StupidHod commented on #52
Got it, I will take this advice soon.

[2016-12-08 20:50] at88mph commented on #56
Hi @StupidHod ,
I got carried away with the test setup being automated and was trying to resolve it.  Thank you for the reply.

[2016-12-17 21:02] brettgriffin opened #64 "Running `mvn package` on master fails"
I just checked out master and ran `mvn package` and it appears seven tests are failing:

Failed tests:
  EtcdAuthClientTest.testRoleAdd:59 » Execution io.grpc.StatusRuntimeException: ...
  EtcdAuthClientTest.testUserAdd:75 » Execution io.grpc.StatusRuntimeException: ...
  EtcdClusterClientTest.testListCluster:32 » Execution io.grpc.StatusRuntimeExce...
  EtcdLeaseTest.testGrant:43 » Execution io.g

[2016-12-18 11:32] StupidHod commented on #64
You should  run  scripts/run_etcd.sh to start a 3 nodes cluster for the test.

[2016-12-18 15:42] brettgriffin commented on #64
Hi @StupidHod. I don't want to run a test cluster - I already have a three node etcd cluster running in Kubernetes (using this: https://github.com/coreos/etcd/tree/master/hack/kubernetes-deploy).

I want to use this package in a Maven application. To do this I either need a compiled .jar that I can reference, or I need the Maven dependency entry that is hosted on the public maven registry. It does

[2016-12-18 18:34] #64 closed

[2017-01-22 16:16] akauppi opened #66 "Release for Maven / sbt consumption"
Is jetcd released in some Maven repo? The 'releases' tab in GitHub shows 0.

I am fine by this - can use `mvn install -DskipTests` - but [this](http://stackoverflow.com/questions/40226805/how-to-import-jetcd-in-a-java-playframework-project-using-sbt) StackOverflow entry might benefit from official comments.

[2017-01-31 17:05] warnesey333 commented on #66
Hey - it would be great if we could get this published to the Maven repo also.

[2017-01-31 17:08] jimzli commented on #66
Agreed @warnesey333 - is there any particular reason why there isn't yet a release version as of now?

[2017-01-31 18:14] heyitsanthony commented on #66
No release yet due to lack of testing and lack of watch support. Not going to cut a release before the software is ready. Sorry.

[2017-02-01 16:08] warnesey333 commented on #66
Understood @heyitsanthony  - are there any current plans to implement Watch? Thanks

[2017-02-01 20:45] heyitsanthony commented on #66
@warnesey333 yes, planning to ramp up development soon. No firm target release dates, though.

[2017-02-06 21:36] bdhess commented on #66
@heyitsanthony are there any pieces where you're either looking for or willing to accept help from the community?  I too would love to see an official release.

[2017-02-21 13:23] josselin-c commented on #55
Hello,
How did you setup jetcd with SSL? I can't find anything in the javadoc of the project nor on it's online documentation.
I need to do client-auth with TLS certificates. I know how to build a properly configured netty channel but I can't find how to pass it to jetcd.
If you have some time to recall how you did it, it would be wonderful!

[2017-02-23 16:30] akauppi commented on #56
@StupidHod Thanks for mentioning

I believe that would be beneficial to be on the front `README`. Will check, and probably make a PR to get a faster ignition experience for newcomers.

[2017-03-13 21:27] krestenkrab commented on #42
Hi.  What's the status of the watch client?  `jetcd` is not usable without watches?...

[2017-03-13 21:50] heyitsanthony commented on #42
/cc @fanminshi

[2017-03-14 00:07] fanminshi commented on #42
@krestenkrab, The watch implementation is still in pr https://github.com/coreos/jetcd/pull/45. I will try to get it merged starting Q2; Expect a full speed development on jetcd in Q2.

[2017-03-14 00:33] lamuguo commented on #42
StupidHod merge the watch changes in https://github.com/enncloud/jetcd
temporarily, it should be a workable version in his internship. You can
ping him if you get any error in using it.

Best Regards,
Xiaofeng

On Mon, Mar 13, 2017 at 5:07 PM, fanmin shi <notifications@github.com>
wrote:

[2017-03-17 20:51] jolly2 opened #73 "jetcd error"
Hello,
I am trying to use jetcd. However, it needs a lot of dependency jar files. I have downloaded/included all slf4j-1.7.25, protobuf-java-3.2.0, grpc-java-1.0.0,netty-4.1.9.Final JAR files. But, still when running the java program, I am getting "Exception in thread "main" java.lang.NoClassDefFoundError: .io/netty/handler/codec/BinaryHeaders". I am not sure what else need to be included. Is ther

[2017-03-17 22:00] fanminshi commented on #73
You should build jetcd with maven by running ` mvn clean install -DskipTests=true`. Then you will see a jar file `jetcd-0.1.0-SNAPSHOT.jar` under the `target` folder.

jetcd is not feature completed yet and still in development, fyi.

[2017-03-17 22:01] fanminshi commented on #73
let me know if you have more questions.

[2017-03-17 22:44] StupidHod commented on #42
@lamuguo  OK, please  ping me with no hesitation.

[2017-03-20 15:26] jolly2 commented on #73
Thanks for the response. Now, I am getting no such method error in protobuf...

# java jaytest
Mar 20, 2017 8:22:40 AM io.grpc.internal.ManagedChannelImpl <init>
INFO: [ManagedChannelImpl@457e2f02] Created with target etcd
Exception in thread "main" java.lang.NoSuchMethodError: io.grpc.protobuf.ProtoUtils.marshaller(Lcom/google/protobuf/Message;)Lio/grpc/MethodDescriptor$Marshaller;
        at com

[2017-03-20 20:04] fanminshi commented on #73
@jolly2 just include jars from pom.xml is not enough because those jars also have dependencies.

You don't need to download those jar manually. You can use maven to download it for you.

cd to jetcd repo dir.

run `mvn dependency:copy-dependencies` will download all dependency jars to target/dependency

run `mvn dependency:copy-dependencies -DincludeScope=runtime` if you don't want to include test

[2017-03-21 18:04] fanminshi commented on #54
@himanshu14049 kindly ping?

[2017-03-22 16:42] fanminshi commented on #73
@jolly2 kindly ping?

[2017-03-23 18:44] pgbunce opened #76 "EtcdMaintenanceImpl.setSnapshotCallback(...) never uses the supplied callback"
Am I missing something? Or the callback parameter is never actually used?

[2017-03-23 19:25] fanminshi commented on #73
@jolly2 reopen this if you have more questions.

[2017-03-23 19:25] #73 closed

[2017-03-27 20:50] fanminshi commented on #76
taking a look.

[2017-03-27 22:52] fanminshi commented on #76
@pgbunce the EtcdMaintenanceImpl code doesn't seem right. I'll take a stab on fixing it.

[2017-04-13 06:03] atmlvs opened #81 "LeaseGrpc and KVGrpc cannot be generated from proto"
com.coreos.jetcd.api.KVGrpc and com.coreos.jetcd.api.LeaseGrpc cannot be generated from auth.proto, kv.proto and rpc.proto by protoc-3.0.0-win32.
I used the latest version of master, if any configuration missed?

[2017-04-13 16:21] heyitsanthony commented on #81
@atmlvs what commands did you use to generate the grpc stubs? What errors are being returned?

[2017-04-17 22:55] emiapwil commented on #60
Seconded. The current design also makes it difficult to work with lists.

Just made a quick pull request.

[2017-04-23 04:25] heyitsanthony opened #83 "static check using ErrorProne"
https://github.com/google/error-prone

[2017-04-27 21:37] xiang90 opened #85 "test KV API"
- [x] Put
- [x] Get
- [x] Delete
- [x] Transaction
- [x] Compact

[2017-04-27 21:39] xiang90 opened #86 "Make watch API stable"
- [ ] Revisit watch API to make it consistent with etcd/clientv3 Watch API
- [ ] Add test

[2017-04-27 21:40] xiang90 commented on #2
already implemented.

[2017-04-27 21:40] #2 closed

[2017-04-27 21:41] xiang90 commented on #42
watcher is implemented

[2017-04-27 21:41] #42 closed

[2017-05-02 23:40] fanminshi opened #87 "test java client"
- [x] add tests
- [x] verify tls support.

[2017-05-02 23:42] fanminshi opened #88 "rework Lease API"
- [x] add tests to grant()
- [x] add tests to revoke()
- [x] add tests to keepAlive()
- [x] add timeToLive() API with tests
- [x] add tests keepAliveOnce()

[2017-05-02 23:43] fanminshi opened #89 "Review/test Cluster API"
- [x] listMember()
- [x] addMember()
- [x] removeMember()
- [x] updateMember()

[2017-05-02 23:45] fanminshi opened #90 "Review/test Maintenance API"
- [x] manual testing Alarm()
- [x] manual testing alarmDisarm()
- [x] manual testing Status()
- [x] manual testing Defragment()
- [x] manual testing Snapshot()

edit: no need to add Hash() because etcd go client doesn't have it.

[2017-05-02 23:47] fanminshi opened #91 "Review/test Auth API"
- [x] authEnable()
- [x] authDisable()
- [x] userAdd()
- [x] userDelete()
- [x] userChangePassword()
- [x] userGet()
- [x] userList()
- [x] userGrantRole()
- [x] userRevokeRole()
- [x] roleAdd()
- [x] roleGrantPermission()
- [x] roleGet()
- [x] roleList()
- [x] roleRevokePermission()
- [x] roleDelete()

[2017-05-03 12:34] chenyouhuang opened #92 "the add-source config in pom.xml is error"
`<goals>
	<goal>add-source</goal>
</goals>
<configuration>
	<sources>
		<source>${basedir}/target/generated-sources</source>
	</sources>
</configuration>`

I think this config above is incorrect.
It must change to config like below：
`<goals>
    <goal>add-source</goal>
</goals>
<configuration>
    <sources>
        <source>${basedir}/target/generated-sources/protobuf/java</source>
        <source>

[2017-05-08 22:15] fanminshi commented on #92
@chenyouhuang are you experiencing any errors?
 I did a `mvn clean` and `mvn install -DskipTests` and see no build errors with the current pom config.

[2017-05-10 02:24] riclava opened #93 "Watch does not work well"
When I using code below to start watch a key, but failed with an exception
[code]
Exception:
[code]
the root cause is:
[code]
wish u to give a solution, thanks

[2017-05-10 20:31] fanminshi commented on #93
@riclava I am reviewing the watch implementation at the moment. I will let know you when this issue get fixed.

[2017-05-14 09:04] jalenyang opened #95 "when we can have a official release?"
As subject...

[2017-05-14 09:52] riclava commented on #93
Thanks !
Besides, I use etcd v3.1.5 server in cluster mode with 3 nodes.

[2017-05-17 23:30] fanminshi commented on #95
@jalenyang sorry, no official date yet. I am trying to clean up current code. It might take as long as needed since I want to have a clean/elegant APIs for the official release.

[2017-05-20 00:27] fanminshi commented on #92
@chenyouhuang kindly ping?

[2017-05-22 08:00] ncubrian opened #97 "How to do service discovery with jetcd?"
I'm trying to implement a micro service demo using etcd as service registry center. Assume I have deployed three etcd nodes, which are 192.168.99.11:2379, 192.168.99.22:2379 and 192.168.99.33:2379, along with a service process deployed on each node.

The service process on each node is listening on port 9999 and registered in the etcd cluster with keys /etcd3/foo/192.168.99.11:9999, /etcd3/foo/192

[2017-05-22 20:21] fanminshi commented on #97
@ncubrian once this pr gets merged, https://github.com/coreos/jetcd/pull/79. EtcdKV will have the prefix option. I'll take a look of how NameResolver works.

[2017-05-22 20:24] fanminshi commented on #93
@riclava I am submitting an pr to change watch interface https://github.com/coreos/jetcd/pull/98. that change might broke your code. However, I think the new interface might be easier to use.  Take a look at the new interface and let me know what you think.

[2017-05-24 20:27] fanminshi commented on #92
reopen if you have more questions. thanks.

[2017-05-24 20:27] #92 closed

[2017-05-24 20:27] #95 closed

[2017-05-24 20:28] fanminshi commented on #54
reopen if you have more question. just like @jaroslavl1 said. building with maven will generate all the missing `com.coreos.jetcd.api`.

[2017-05-24 20:28] #54 closed

[2017-05-25 00:02] fanminshi commented on #97
@ncubrian I think you need a NameResolver that uses etcd client to retrieve service endpoints under `/etcd3/foo/`. Then you need use that NamerResolver to build a java gRPC that would retrieve the endpoint from etcd and attempt to make connections with those.  Currently, Jetcd doesn't have that NameResolver implemented. When EtcdKV prefix feature gets merged, then It is possible to implement such

[2017-05-25 10:45] ncubrian commented on #97
@fanminshi Thanks to your advise I implemented a service discovery demo by rewriting the SimpleEtcdNameResolver and it actually works. Oh btw, I found that getWithPrefix is just get with range_end option which is just one bit larger than the key :)

[2017-05-25 17:40] fanminshi commented on #97
@ncubrian that's very nice! Let me know if you have more questions.

[2017-05-26 00:09] fanminshi commented on #97
closing. re-open if you have more questions.

[2017-05-26 00:09] #97 closed

[2017-05-30 19:14] xiang90 commented on #9
this is finished.

[2017-05-30 19:14] #9 closed

[2017-05-30 19:15] #60 closed

[2017-06-01 22:31] fanminshi opened #105 "untangle test dependency in AuthClientTest."
currently all test cases in AuthClientTest depends on each other and should be decoupled. each test should be self contained.

[2017-06-01 22:37] fanminshi opened #106 "integration: improve integration test framework"
Currently, all tests are running against one etcd cluster. This is bad because ordering of how tests case are being run can affect the correctness of the test; A test failure might cause by operations done to the shared cluster from another test.

We need a better test framework that allows each test to spawn its own etcd cluster and runs against it. In this way, all tests don't need to share a te

[2017-06-01 22:37] #76 closed

[2017-06-01 22:47] fanminshi commented on #106
it seems like there is another pr something like this. https://github.com/coreos/jetcd/pull/58.
need to take a look.

[2017-06-01 23:42] fanminshi commented on #90
# Manual test for AlarmList()

Set a very small 16MB quota.
[code]

Fill etcd.
[code]

Java client get alarm.
[code]
[code]

[2017-06-02 00:00] fanminshi commented on #90
# manual testing alarmDisarm()

Set a very small 16MB quota.
[code]

Fill etcd.
[code]

Java client disarm.
[code]
[code]
[code]

[2017-06-02 23:40] fanminshi commented on #90
[code]

Java client gets member status.
[code]
[code]

[2017-06-02 23:47] fanminshi commented on #90
Manual testing defragmentMember().
[code]
Java client defragmentMember.
[code]
[code]
[code]

[2017-06-05 18:04] xiang90 commented on #90
finished. closing.

[2017-06-05 18:04] #90 closed

[2017-06-05 21:43] #16 closed

[2017-06-08 00:40] fanminshi commented on #15
"com.coreos.jetcd.internal" is added.

[2017-06-08 00:40] #15 closed

[2017-06-08 00:42] fanminshi commented on #46
closing via https://github.com/coreos/jetcd/pull/109

[2017-06-08 00:42] #46 closed

[2017-06-08 00:46] fanminshi commented on #56
`README` is updated via https://github.com/coreos/jetcd/pull/72. closing. Thanks @akauppi !

[2017-06-08 00:46] #56 closed

[2017-06-08 00:46] fanminshi commented on #66
I will add to maven repo when is it production ready. closing.

[2017-06-08 00:47] fanminshi commented on #81
@atmlvs kindly ping?

[2017-06-08 02:13] heyitsanthony commented on #66
This is not resolved.

[2017-06-09 03:31] smartminghan commented on #81
i also can't generate KVGrpc and LeaseGrpc. seems the proto file lack the definition of the them? can u help to provide?

[2017-06-09 20:48] fanminshi commented on #81
@smartminghan how are you generating KVGrpc and LeaseGrpc? Are you using maven to build jetcd? jetcd pom.xml includes plugin that generate protobuf automatically if you run
[code]

[code]

[2017-06-12 16:59] fanminshi opened #114 "jetcd should return custom response over grpc response"
In order to remove grpc and guava dependency, all the responses that jetcd returns shouldn't be a direct message type from grpc because the grpc message contains ByteString field which is a type from Guava Library. Then user needs to import guava library and can cause Guava version conflicts.

[2017-06-14 18:24] fanminshi commented on #81
@smartminghan kindly ping?

[2017-06-15 08:27] lburgazzoli opened #116 "[discuss] API implementation visibility/packages"
The package com.coreos.jetcd contains both the interface definition and the related implementations that cane be instantiated as they are public and have a public constructor so I think it would be nice to do eithe make the visibility of the implemntation classes as package scope or move them to com.coreos.jetcd.internal.impl so at least the name mark them as non public.

Thoughts ?

[2017-06-15 15:33] ThilinaManamgoda opened #117 "NoSuchMethodError in grpc libraries"
Cannot run following code snippet
// create client
Client client = ClientBuilder.newBuilder().endpoints("http://localhost:2379").build();
KV kvClient = client.getKVClient();

ByteSequence key = ByteSequence.fromString("test_key");
ByteSequence value = ByteSequence.fromString("test_value");

// put the key-value
kvClient.put(key, value).get();
// get the CompletableFuture
CompletableFuture<RangeRes

[2017-06-15 18:28] fanminshi commented on #116
I am fine with moving impl classes to `com.coreos.jetcd.internal.impl` folder.

[2017-06-15 19:09] fanminshi commented on #117
@ThilinaManamgoda do you know why test doesn't throw exception?

[2017-06-15 19:12] fanminshi commented on #117
I just run you script without any issue.
[code]

[2017-06-15 21:40] fanminshi commented on #81
closing due to no activities. reopen if you have more questions.

[2017-06-15 21:40] #81 closed

[2017-06-16 07:22] ThilinaManamgoda commented on #117
@fanminshi No. This happens when get() method is called on the completableFuture object. Once i recompiled with grpc 1.4.0 it didn't throw this. It's mentioned here that this exception can be thrown in version 1.3.0 [https://github.com/grpc/grpc-java/issues/2981](url). I cannot understand why isn't throw exception when you run it ?

[2017-06-16 17:03] fanminshi commented on #117
@ThilinaManamgoda got it.

[2017-06-16 17:04] fanminshi commented on #117
close via https://github.com/coreos/jetcd/pull/118

[2017-06-16 17:04] #117 closed

[2017-06-21 10:07] suresh-chaudhari opened #124 "Is this api fully support v3 api for etcd server and is it authorization and connection pooling issue is resolved with this?"
please confirm above question.

[2017-06-21 16:51] fanminshi commented on #124
`Is this api fully support v3 api for etcd server`
It supports most of v3 apis excepts few such hash(), locking, and leader election. Support locking and leader election api is not critical for now but can be added later.

`is it authorization and connection pooling issue is resolved with this?`
I don't understand what you mean by `authorization and connection pooling issue`. Could you elaborate?

[2017-06-21 17:06] xiang90 commented on #88
closing

[2017-06-21 17:06] #88 closed

[2017-06-22 08:34] Hubery2757 opened #125 "There is an exception for adding two watcher"
Exception info as below:

Exception while executing runnable io.grpc.internal.ClientCallImpl$ClientStreamListenerImpl$1MessageRead@7f9132bb
java.util.NoSuchElementException: No value present
	at java.util.Optional.get(Optional.java:135)
	at com.coreos.jetcd.WatchImpl.getResumeWatchOptionWithWatcher(WatchImpl.java:299)
	at com.coreos.jetcd.WatchImpl.resumeWatchers(WatchImpl.java:252)
	at com.coreos

[2017-06-22 21:36] #125 closed

[2017-06-22 21:38] fanminshi commented on #125
fixed by #126. closing.

[2017-06-22 21:56] fanminshi opened #129 "testKeepAliveOnceStreamCloseOnSuccess() fails"
50% of time testKeepAliveOnceStreamCloseOnSuccess() blocks on `    this.responseObserverRef.get().onNext(lrp);`
[code]

For some reason, `onNext()` doesn't return.

[2017-06-23 05:51] riclava opened #131 "I want to know whether jetcd supports https ?"
same with title

[2017-06-23 12:57] lburgazzoli opened #133 "[discuss] delay channel creation/authentication"
If I properly understood etcd set-ups channels and eventually authentication on constructors (Client, KVImpl, etc) but that may be a little bit early so it would be nice to have an option to delay it to later stage i.e. when the first request is made.

Does it make sense ?

[2017-06-23 17:07] fanminshi commented on #133
I am curious on how the delay channel creation logic look like.

Current logic.
1. create channel in client.
2. pass the channel to construct different client Impl.
3. made a request on using different client impl.

delay logic?
to create channel when step 3 happens? I wonder what's your proposal on doing that?

can you elaborate on `authentication on constructors`? I am not sure if I understand w

[2017-06-26 02:03] Hubery2757 opened #134 "watch event lost"
you can reproduce this bug as such steps:
1. First, add watch for "/test1", then add watch for "/test2", the watch for "/test2" is added later than "/test1"
2. set value for "/test2", you can receive the PUT watch event
3. set value for "/test1", I think we should receive the PUT event, but it's lost

[2017-06-26 05:25] lburgazzoli commented on #133
Yeah, I mean to eventually delay the initialization of the client and the authentication to the 3rd step.

Looking at the Client implementation I see:
1. the constructor invokes [toChannelAndToken](https://github.com/coreos/jetcd/blob/master/src/main/java/com/coreos/jetcd/Client.java#L85)
2. toChannelAndToken create a cahnel manager and invokes [generateToken](https://github.com/coreos/jetcd/blob/

[2017-06-27 08:40] Hubery2757 opened #136 "cannot initialize Client"
Exception in thread "main" java.lang.IncompatibleClassChangeError: Found interface com.coreos.jetcd.Client, but class was expected

[2017-06-27 16:40] fanminshi commented on #136
could you provide a script on how to trigger this issue? Thanks!

[2017-06-27 16:56] fanminshi commented on #133
@lburgazzoli I think delaying connection creation is an optimization. I haven't see any issues related by current approach. I'd suggest that implementing the delaying logic when needed.

[2017-06-27 18:53] lburgazzoli commented on #133
It is my use case where I'd like to create the client instance in spring and only connect when the specific client i.e the kv one is created. As today I have delay the client creation at the latest stage si that I can eventually handle the exception.

[2017-06-27 19:24] fanminshi commented on #133
`As today I have delay the client creation at the latest stage si that I can eventually handle the exception.`
I wonder are you trying to handle client specific exception at `client.getKVClient()` so that you can somehow reason about creating client error?

Also it seems to me that you could have a ClientWrapper class that does lazy client initialization. When ClientWrapper.getKVClient() called.
1

[2017-06-27 19:29] fanminshi commented on #134
it should be fixed by https://github.com/coreos/jetcd/pull/123/.

[2017-06-28 02:40] Hubery2757 commented on #134
I pull the latest code and test it, this bug still be reproduced.

[2017-06-28 02:41] Hubery2757 commented on #134
I pull the latest code and test it, this bug still be reproduced.

[2017-06-28 02:42] Hubery2757 commented on #136
I pull the latest code and succeed to initialize Client.

[2017-06-28 02:42] #136 closed

[2017-06-28 02:44] fanminshi commented on #134
I am going to change watch interface via https://github.com/coreos/jetcd/pull/98. the new pr reimplements the underly logic. it probably will fix the issue you are having now. In the meantime, let me see what's causing the issue you have.

[2017-06-28 02:55] fanminshi commented on #134
@Hubery2757 the #123 fixes the issue you have I just test it out.

[code]
[code]

[2017-06-28 03:07] fanminshi commented on #134
try again with latest master.

[2017-06-28 05:20] lburgazzoli commented on #133
Yes, I need to catch the exception when the app is ready so I can properly report it but as today if I one sets up the client i.e. using spring boot it may get an exception while the application context is starting up.

Yes there are may way to lazy create the client but I wanted to point out that optionally laziness in resource creation may be a nice to have option.

I can work on a prototype if

[2017-06-28 21:12] fanminshi commented on #133
@lburgazzoli  sounds good. it will be great if you can work on a prototype.

[2017-06-28 21:39] fanminshi commented on #93
fixed via https://github.com/coreos/jetcd/pull/126.

[2017-06-28 21:39] #93 closed

[2017-06-28 21:44] fanminshi opened #143 "api:support nested txn"
jetcd should support nested txn behavior as documented here https://github.com/coreos/etcd/issues/7857.

[2017-06-28 22:01] #86 closed

[2017-06-28 22:02] fanminshi opened #144 "watch: add more integration tests"

[2017-06-28 22:21] xiang90 commented on #134
try master. i believe this is fixed.

[2017-06-28 22:21] #134 closed

[2017-06-28 22:22] xiang90 commented on #116
@lburgazzoli is this already fixed?

[2017-06-28 22:22] xiang90 commented on #22
already fixed.

[2017-06-28 22:22] #22 closed

[2017-06-28 22:52] fanminshi commented on #124
close due to inactivity. please reopen when have more questions.

[2017-06-28 22:52] #124 closed

[2017-06-29 03:18] smartminghan commented on #81
It works. Thanks.

[2017-06-29 03:21] smartminghan commented on #81
Btw, may i know if ByteSequence is necessary?  GRPC interface require us to input ByteString param as key and value. why not just directly use ByteString.copyFrom("targetString")  to return ByteString ?

[2017-06-29 03:23] smartminghan opened #145 "Is ByteSequence necessary?"
May i know if ByteSequence is necessary?  GRPC interface require us to input ByteString param as key and value. why not just directly use ByteString.copyFrom("targetString")  to return ByteString ?  Look forward to your reply.

[2017-06-29 04:20] fanminshi commented on #145
The reason for using ByteSequence  instead of Bytestring is to hide implementation detail. Jetcd interface shouldn't depend on protobuf type.

[2017-06-29 05:29] lburgazzoli commented on #116
yes it is

[2017-06-29 05:29] #116 closed

[2017-06-29 05:33] xiang90 commented on #55
@lburgazzoli do you want to help with this issue?

[2017-06-29 07:05] smartminghan commented on #145
Then why not just use String as Jetcd interface's param?  In implementation we can transform String to ByteString directly.

[2017-06-29 08:38] lburgazzoli opened #146 "[discuss] core api naming"
Hi,

the current Client interface is in fact a facade to create clients for etcd functionalities so I'm wondering if it could make sense to:

- rename Client to Etcd or JEtcd
- add ``Client`` suffix to the client so we match the getter names ``get*Client``

Something like:

[code]
A similar naming can be found in [Orbitz's consul client](https://github.com/OrbitzWorldwide/consul-client)

[2017-06-29 13:20] lburgazzoli opened #147 "ClientBuilder method naming"
ClientBuilder follows different naming conventions as there is a mix of builder style naming and get/set style, i.e. :

   ClientBuilder.endpoints(...)
   ClientBuilder.setPassword

As this is a builder it would be better to use builder style naming:

    ClientBuilder password(ByteSequence password) { ... }
    ByteSequence password() { ... }

Am I missing something ?

[2017-06-29 17:03] fanminshi commented on #145
@smartminghan what if you don't want to use string as the key but with arbitrary bytes? have an interface that takes bytes is more generic.

[2017-06-29 17:14] fanminshi commented on #146
`rename Client to Etcd or JEtcd`
I don't we need to have `etcd` keyword in any of the interface. Since it is quite obvious that you are using a java client for etcd. I don't user will gain additional clarity from the `etcd` keyword.

`add Client suffix to the client so we match the getter names get*Client`
I would like jetcd api naming to match that of the go client. In go client, there aren't any

[2017-06-29 17:18] fanminshi commented on #147
@lburgazzoli I agree with you. the naming should be consistent. I think the convention is to have `set*()` prefix. `ClientBuilder.endpoints(...)` -> `ClientBuilder.setEndpoints(...)`?

[2017-06-29 17:26] #146 closed

[2017-06-29 17:33] fanminshi commented on #131
cc/ @lburgazzoli

[2017-06-29 21:25] #147 closed

[2017-06-29 22:37] nbrauer opened #150 "Semantic versioning"
Right now the version for jetcd is hard coded at 0.1.0-SNAPSHOT. All of the code changes are getting lumped under that version. When I upgrade to the latest code, there are build breakages because classes have been renamed and signatures have changed.

For people like me who would like to use jetcd in my projects it's difficult to experiment with because upgrading means that I am potentially hit b

[2017-06-29 22:38] xiang90 commented on #150
It is too early to even use Semver. We will start using semver when we feel it is alpha quality software at least...

[2017-06-29 22:43] fanminshi commented on #150
@nbrauer sorry for all the changes going on right. we are trying hard to get the alpha version out; so a lot changes are being made to make sure that the interfaces and implementations are good.

[2017-06-30 16:53] fanminshi commented on #145
closing. reopen if you have more questions.

[2017-06-30 16:53] #145 closed

[2017-07-03 06:54] Hubery2757 opened #154 "About watch interface redefine"
I test the latest code, watch callback have been deprecated, now we need use watcher.listen to retrieve the watch event. But I need to get watch event by passive way as the same as watch callback . so is there such mechanism for the latest code?

[2017-07-03 07:42] lburgazzoli commented on #55
As far as I know as today jetcd forces plain text in managed channel creation so to properly support ssl the client builder should allow to pass a SslContext.

@eho-eho do you mind sharing the instructions to set up etcd/etcdctl with ssl so I can try to work on it ?

[2017-07-03 07:42] lburgazzoli commented on #131
See #55

[2017-07-03 11:13] baiwfg2 opened #155 "Does jetcd support etcd v3.2.1 ?"
I use jetcd with etcd version 3.2.1. Here is my scala code snippet:
[code]

I got the following log on etcd server console:

And I can't find the key with etcdctl tool. Is there something I did wrong ?

[2017-07-05 13:51] eho-eho commented on #55
It has been a while since I looked at this. Also, I am not working on that project and have no access to the source code, so everything I write here is from memory.
Re setting up etcd/etcdctl:
For setting up etcd/etcdctl follow instructions on etcd documentation site. Instructions for etcd2 should suffice if there are none for etcd3.
Re ssl and jetcd:
I have not used jetcd with ssl. I wrote my own

[2017-07-05 13:51] #55 closed

[2017-07-05 17:25] embs commented on #155
Hey @baiwfg2. I was trying out jetcd with etcd v3.2.1 and had a similar problem. It seems that the problem was some misconfiguration in my etcd setup.

I was able to properly interact with etcd newest version through jetcd using a [docker single node etcd](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/container.md#running-a-single-node-etcd-1). This is my `docker run` command:

[2017-07-10 18:45] fanminshi commented on #154
@Hubery2757 I wonder why do you want to have a passive and asynchronous way of getting watch event? Why wouldn't ` watcher.listen` do the job for you? the reason to remove the callback is to make watch simpler to use and easier to reason about.

[2017-07-10 19:00] heyitsanthony commented on #154
A callback mechanism can be built on top of what's there now. Why does the client need to implement it?

[2017-07-10 21:03] xiang90 commented on #154
we might add an async helper in the future if there are more and more people wanting it. but for now, we are not going to do it.

[2017-07-10 21:09] fanminshi commented on #155
@baiwfg2 jetcd supports etcd 3.2.1. does @embs's answer help you resolve your issue?

[2017-07-10 21:10] fanminshi commented on #133
Thank you for the pr. closed via #148

[2017-07-10 21:11] #133 closed

[2017-07-10 23:04] fanminshi opened #159 "options: GetOption should use client side SortOrder and SortTarget"
currently, GetOptionBuilder's `withSortOrder(RangeRequest.SortOrder order)` and
`withSortField(RangeRequest.SortTarget field)` use `RangeRequest` which is protobuf type. Instead, it should use client side `SortOrder` and `SortTarget` to hide internal grpc types.

[2017-07-11 08:33] baiwfg2 commented on #155
Yes. thank you @embs

[2017-07-11 08:33] #155 closed

[2017-07-12 06:19] lburgazzoli opened #162 "Add tests for ssl/tls"

[2017-07-12 17:23] #159 closed

[2017-07-12 23:41] fanminshi commented on #162
https://github.com/grpc/grpc-java/blob/master/interop-testing/src/test/java/io/grpc/testing/integration/TlsTest.java

there is a example of TlsTest from grpc. Maybe we can get some idea for that.

[2017-07-13 04:34] foolonhill opened #163 "UNAUTHENTICATED: etcdserver: invalid auth token"
When i use kv client, i first build Client with auth when service startup. But after about 5 minutes, if i get KVClient form the built client to put a key/vaule when necessary, "Client.getKVClient().put(key, value).get();" will result in this exception. Client builder is as below:
[code]
I wonder whether the auth token will be expire in about 5minutes. And does the token will be generated automati

[2017-07-13 05:22] fanminshi opened #164 "client: add doc on how to set up tls"

[2017-07-13 11:38] chenyouhuang opened #165 "there are 2 class named PutResponse"
why not use some class that protoc has generated like PutResponse directly? instead, declared other class named PutResponse and use it and you must transform each other. I compare the two class, its property are same. I'm confuse on this.

[2017-07-13 17:22] fanminshi commented on #165
Jetcd interface shouldn't depend on any internal technology. If the APIs returns protobuf message directly, then jetcd must depends on protobuf. Suppose jetcd is move away grpc/protobuf, then interface would have to change and thus breaks existing api. In addition, suppose that we return protobuf message directly where in future new protobuf version changes structure of generated message. Then it

[2017-07-13 17:30] heyitsanthony commented on #165
@fanminshi the server API isn't going to drop grpc/protobuf or change the protobuf messages/structure; protobuf is a hard dependency. If there's a move away from protobuf, that's going to be an API refresh and the client should change to reflect it so there's a good correspondence with the RPCs and messages.

The main motivation behind wrapping the protobuf stubs is that they're very primitive; if

[2017-07-13 17:33] xiang90 commented on #165
for go, we cannot easily do this since it is not allowed to add new methods out of a pkg. same thing for java, right?

[2017-07-13 17:51] fanminshi commented on #163
`first build Client with auth when service startup`
Could you provide the script for this as well? It will help me debug this.

[2017-07-13 17:53] heyitsanthony commented on #165
@xiang90 java will let you do that, but the protobuf stub classes are all marked `final` which prevents it.

[2017-07-13 18:14] chenyouhuang commented on #165
In addition, auth api and cluster api is depend on protoc message directly, i think its not unify.

[2017-07-13 18:14] xiang90 commented on #165
@chenyouhuang yea. we are fixing them right now. if you have time, you can help to unify them too.

[2017-07-13 18:17] fanminshi commented on #165
https://github.com/coreos/jetcd/pull/153 is for auth api.

[2017-07-13 18:27] chenyouhuang commented on #165
Thank you for your rapid response. Because i am using jetcd in my project and find it some duplicate, so have this questions.

[2017-07-13 20:19] #165 closed

[2017-07-13 21:21] fanminshi opened #167 "Discuss client message wrapper around protobuf obj"
Currently, there is a client side response message for every given protobuf msg.
when client receives a response, it copies all the content from the protobuf response to construct the client side response and returns it to the user; the duplication might be expensive.

I would like to discuss a better approach to return client side response.

I took a look `PutResponse` from
https://github.com/lbu

[2017-07-14 02:38] foolonhill commented on #163
Client build is just as below when service start. It is built just once. For i use etcd in a web application, i build the Client in the init parse when the web application is started.
`Client client = ClientBuilder.newBuilder().setEndpoints(endpoints).setUser(name).setPassword(pwd).build();`

Then i use KVClient to put key when necessary. But after the application has started more than 5min, the g

[2017-07-14 08:49] lburgazzoli opened #168 "discuss: add gitter channel"
It would be nice to have a gitter channel, best would be under a coreos organization but it can also be created outside it.

[2017-07-14 08:53] foolonhill commented on #163
I have tried two methods to solve my problem. And each one dose work.
1. Build client each time when i use etcd, that is, **every time** i use KV or Watch or Lease, i need explicit build the Client by follow codes;
`Client client = ClientBuilder.newBuilder().setEndpoints(endpoints).setUser(name).setPassword(pwd).build();`

2. I modify the latest jetcd code to generate token each time when i getXXX

[2017-07-14 16:29] fanminshi commented on #168
cc/ @xiang90

[2017-07-14 16:32] heyitsanthony commented on #168
How about IRC?

[2017-07-14 16:38] lburgazzoli commented on #168
Yeah that would very good

On Fri, 14 Jul 2017 at 18:32, Anthony Romano <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2017-07-14 16:50] #168 closed

[2017-07-14 18:32] fanminshi opened #172 "client: support balancer in jetcd"
etcd has [balancer](https://github.com/coreos/etcd/blob/master/clientv3/balancer.go) manage etcd client connections. Jetcd should have similar thing.

[2017-07-14 21:54] fanminshi commented on #163
@foolonhill how are you setting up user?

java client requires you setup user beforehand before building a client with user and pass enabled.

e.g
[code]

[2017-07-15 00:05] lburgazzoli opened #174 "build: add maven wrapper"
By using a maven wrapper [1] we can be sure that the the project can be built even if maven is not installed and that the build always use the right maven version.

[1] https://github.com/takari/maven-wrapper

[2017-07-15 05:05] foolonhill commented on #163
@fanminshi , i set user and role in etcd server and enable in server too. I do this follow :
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/authentication.md

[2017-07-15 08:25] lburgazzoli commented on #163
@xiang90 @fanminshi

is there any doc on etcd side explaining hot this should be handled ?
how does other implementations like go client behaves within this case ?

[2017-07-15 12:15] lburgazzoli opened #176 "[discuss] remove name resolver factory from ClientBuilder"
As today we have the possibility to set the name resolver factory on the client builder but it may be better to determine the resolver to use based on the scheme used for the endpoints so i.e.

[code]

They can also be mixed and if an advanced user needs to apply advanced configuration to the underlying channel it can provide its own ManagedChannelBuilder as today.

[2017-07-17 12:03] foolonhill commented on #163
@fanminshi @lburgazzoli
i found another one discuss this problem. https://github.com/davissp14/etcdv3-ruby/issues/74

[2017-07-17 12:14] donsonHub opened #177 "invalid auth token"
I init client like this,and then use it as a singleton to execute command like get、put、delete：
[code]

but about after 5 minitus, when i execute command get、put or delete, I get the error:
[code]
so is the token is expired about 5 minitus latter?

and there is a mechanism to update the client token?

[2017-07-17 12:19] lburgazzoli commented on #177
duplicate of #163

[2017-07-17 22:13] fanminshi commented on #163
@foolonhill Jetcd should renew token if it is expired and retry the given request with user's intervention. @lburgazzoli  KV and Lease in Go Client has a retry mechanism as the following

0. request something
1. etcd detects token has expired and return `etcdserver: invalid auth token` to client.
2. client re-generates token
3. client replaces old token with the new one for the existing underlying

[2017-07-17 22:43] xiang90 commented on #177
closing due to the duplication.

[2017-07-17 22:43] #177 closed

[2017-07-18 05:36] lburgazzoli commented on #163
@fanminshi

So if I properly understood what the go client does is wrapping the kv client like

[code]

[2017-07-18 05:57] fanminshi commented on #176
@lburgazzoli I need sometime to think about this.
Eventually, I want to add
`void SetEndpoints(List<String> endpoints)`  function to `client` where this function
allows user to updates endpoints dynamically.
https://github.com/coreos/etcd/blob/master/clientv3/client.go#L119-L122

if `newBuilder().setEndpoints` only accepts `http/https` then `client.SetEndpoints` only update endpoints for scheme `h

[2017-07-18 06:13] fanminshi commented on #174
@lburgazzoli sounds like a good idea to me. Do you know if this is a best practice for java project that depends on maven?

[2017-07-18 06:14] lburgazzoli commented on #176
It would do the same: it goes down to the resolver and it is up to the resolver to update the right underlying resolver.

[code]

But I'm not a big fan to have a mixed way to set options as in general it cause confusion, maybe we can have something like:

[code]
And:

[code]

[2017-07-18 06:16] lburgazzoli commented on #174
Yeah, lot of projects (i.e. spring) are doing so (for both maven and gradle)

[2017-07-18 06:17] fanminshi commented on #174
@lburgazzoli cool. Let's do this then.

[2017-07-18 06:18] fanminshi commented on #174
let me tackle this as i want to learn how this work.

[2017-07-18 06:22] fanminshi commented on #176
@lburgazzoli i agree with on this. I don't like mix options too.  the idea of setting resolver based on the scheme  sounds good to me.  cc/ @xiang90

[2017-07-18 07:14] lburgazzoli commented on #176
If you guys approve I can work on it

[2017-07-19 07:13] jalenyang commented on #154
@fanminshi I think the passive event notification event it is better and it is needed to many scenarios.
`watcher.listen` will block the main thread. Anyway like @heyitsanthony  said we can build a callback mechanism on top `watcher.listen`.

[2017-07-19 18:12] fanminshi commented on #163
@lburgazzoli yep, that's the idea. the go client also automatic retry on grpc transient error. we don't have to implement that now. However, retry on `ErrInvalidAuthToken` is needed to client to work properly.

[2017-07-19 23:46] fanminshi commented on #176
@lburgazzoli talked to @xiang90 in person. We think that the endpoints from `setEndpoints ` should  always associate to name resolver if there is one given; we need to document this expectation so that there shouldn't be any confusion. If name resolver not given, then we can be smart about choosing the default resolver(simple or dns) base on scheme. I think this approach gives users flexibility to

[2017-07-20 05:12] lburgazzoli commented on #176
Yeah but there is a problem: endpoints and name resolver are not linked :)

If you look at the documentation of ``NameResolver`` and ``NameResolver.Factory``  you'd see that the implementation relies on the ``target`` or a single address argument you can set with
 ``ManagedChannelBuilder.forTarget/forAddress``.

Our ``SimpleResolver*`` does not use the target to resolve the addresses but the endpo

[2017-07-20 18:51] fanminshi commented on #176
@lburgazzoli oh my bad. now I see what you meant.  the current`setEndpoint` only associates with `SimpleNameResolver` and `DnsSRVNameResolver` but not any `CustomNameResolverFactory`.

any `CustomNameResolver` would have `target` set to `"etcd"` which might not be what user wants; hence can be confusing.

removing NameResolver option make sense to me.

[2017-07-20 19:19] fanminshi commented on #164
@lburgazzoli have you successfully set up tls with jetcd?

[2017-07-21 06:30] lburgazzoli commented on #164
not yet, will have a look when get back from holidays

[2017-07-21 06:58] donsonHub commented on #163
so when to fix the bug?

[2017-07-21 06:59] donsonHub commented on #163
@fanminshi so when to fix the bug?

[2017-07-21 07:13] jalenyang opened #180 "watcher.close() throw the EtcdException(InterruptedException)"
Jetcd will throw an `EtcdException` if you close an on going listened watcher.
The `InterruptedException` exception caused by `this.eventsQueue.take();` when you interrupted the thread.
For `this.eventsQueue.take();` , it is an exception if the thread is interrupted. But for Jetcd the expected behavior for the `watcher.close()` method is to get the thread interrupted. So why does Jetcd raise an `E

[2017-07-21 16:45] #167 closed

[2017-07-21 17:00] fanminshi commented on #180
@jalenyang are you expected that  the behavior of `watcher.close()` just simply close watcher and not thrown any exception?

[2017-07-21 21:37] fanminshi commented on #163
@donsonHub it is working in progress.

[2017-07-24 17:58] fanminshi opened #182 "pom: should add FindBugs static analysis to jetcd"
It seems to me a lot of java projects includes FindBugs maven plugin to help developer finding potential bugs. We probably should add that to Jetcd too.

http://findbugs.sourceforge.net/

[2017-07-25 17:12] fanminshi commented on #180
@jalenyang kindly ping?

[2017-07-26 10:47] naveenkumargp opened #184 "in memory caching using etcd4j #154"
Hi All,
i want to store the etcd data into the local cache using this etcd4j i e i want cache the etcd data using this etcd client code .is it possible to do with this present code if not how do we change the code .
can any one help to how to do this.
Regards
Naveen

[2017-07-26 16:07] heyitsanthony commented on #184
@naveenkumargp have you tried the etcd [grpcproxy](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/grpc_proxy.md)? it does just that

[2017-07-26 16:55] fanminshi commented on #172
close via #173

[2017-07-26 16:55] #172 closed

[2017-07-26 16:57] fanminshi commented on #131
@riclava it does support now via https://github.com/coreos/jetcd/pull/161.

[2017-07-26 17:29] xiang90 commented on #184
also the name of the project is actually jetcd, not etcd4j :P. Try grpcProxy instead as @heyitsanthony mentioned.

[2017-07-26 17:29] #184 closed

[2017-07-26 17:30] #85 closed

[2017-07-26 17:50] #131 closed

[2017-07-27 02:17] riclava commented on #131
@fanminshi thanks a lot ;-)

[2017-07-28 22:42] fanminshi opened #185 "discuss: provide a more detail jetcd exception message."
the current EtcdException only contains `String message` and  `Throwable cause`
[code]
I noticed that the etcd4j project has a more detail EtcdExcpetion which includes errorCode as follow
[code]
https://github.com/jurmous/etcd4j/blob/master/src/main/java/mousio/etcd4j/responses/EtcdException.java

In addition, I noticed that cloud spanner api have similar pattern.
[code]
https://github.com/GoogleC

[2017-07-31 21:36] fanminshi commented on #174
@lburgazzoli would you be interested in doing this. I saw that your etcd4j already has this included.

[2017-07-31 21:50] fanminshi commented on #185
@lburgazzoli what's your opinion on this?

[2017-08-01 07:40] lburgazzoli commented on #182
Maybe we can use http://errorprone.info, not sure which one is the best but we try them

[2017-08-01 16:59] fanminshi commented on #176
close via #181

[2017-08-01 16:59] #176 closed

[2017-08-01 16:59] fanminshi commented on #182
sounds good. close in favor of https://github.com/coreos/jetcd/issues/83

[2017-08-01 16:59] #182 closed

[2017-08-01 18:37] fanminshi commented on #87
@lburgazzoli would you be interested this one. Once you verify TLS support. You can close this one.

[2017-08-01 20:35] fanminshi commented on #89
`ClusterCLientTest` tests the above and they work fine.

[2017-08-01 20:35] #89 closed

[2017-08-01 20:37] fanminshi commented on #154
@jalenyang can you provide few scenarios that pass even would help?

[2017-08-02 00:49] jalenyang commented on #154
@fanminshi one simple example is the auto service discovery.
I.E.  application A watch with the prefix `app/services`, if there is one new service registered(e.g. `app/services/Service B`) and the application A has some dependencies on Service B, then application B should be able to receive an asynchronous notification and start the business.

[2017-08-02 00:54] jalenyang commented on #180
@fanminshi  yes, my opinion is `watcher.close()` just simply close watcher and not throw any exception.
I checked your changes, but I think it is an `InterruptedException ` instead of `ExecutionException`.
So you should return a default `WatchResponse `  when `InterruptedException `  happen.

[2017-08-02 17:43] fanminshi opened #190 "doc: improve readme by providing more examples"

[2017-08-04 18:40] fanminshi commented on #174
close via https://github.com/coreos/jetcd/pull/186

[2017-08-04 18:40] #174 closed

[2017-08-04 21:03] #180 closed

[2017-08-07 16:10] fanminshi commented on #154
@jalenyang I understand the use case.  However, the question I am having is why is  ` asynchronous notification` prefer over `synchronous` one? Wouldn't `synchronous notification` achieves what you want as well?

[2017-08-07 16:15] #91 closed

[2017-08-07 16:19] fanminshi opened #192 "license: prepend apache 2.0 license to the header of all jetcd related files."
Need to add apache 2.0 license to all jetcd related files. Do this after all pending 0.0.1 milestone prs have merged.

[2017-08-07 16:28] #163 closed

[2017-08-07 16:36] fanminshi opened #193 "discuss: jetcd 0.0.1 release"
I want to discuss what's needed be done for jetcd 0.0.1 release? Maven Central? Github Release? Uber Jar somewhere? and etc?

cc/ @lburgazzoli

[2017-08-07 17:31] lburgazzoli commented on #193
I'd go for:

- maven central
- oss sonattype for snapshots
- ship an additional uber jar with shaded dependencies

[2017-08-07 18:38] fanminshi commented on #193
@lburgazzoli good suggestions. Let's do that for 0.0.1 release.

[2017-08-08 07:21] lburgazzoli commented on #193
We should ask to have an account on oss sonatype, do we have it ?

[2017-08-08 07:33] lburgazzoli commented on #192
I think we can add a maven goal to do so and a related checkstyle rule to ensure the header is there

[2017-08-08 08:01] joshua-jin opened #194 "issue: maven install task doesn't copy services directory into META-INF"
After I use `mvn install` to build target jar, I found `service` directory and file `com.coreos.jetcd.resolver.URIResolver` which under this directory are not copied into `META-INF`. It will make grpc calls failure, because of uri resolve issue.

[2017-08-08 08:18] lburgazzoli opened #195 "discuss: client builder"
As today the ClientBuilder use bean style to set options like:

[code]

But builders usually have a shorten and less verbose syntax:

[code]

See [ManagedChannelBuilder](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/ManagedChannelBuilder.java) for refeence.

In addition - as endpoints are mandatory -  it maybe better to have:

[code]

Instead of:

[code]

I'd also deprec

[2017-08-08 09:56] lburgazzoli commented on #192
Would the header below be ok:

[code]

[2017-08-08 16:49] fanminshi commented on #193
we don't have an account. I am following this guide to create an account. http://central.sonatype.org/pages/ossrh-guide.html.

[2017-08-08 17:00] fanminshi commented on #195
@lburgazzoli agreed. let's follow the `ManagedChannelBuilder` style. Do we still keep getter `get***()`?

[2017-08-08 17:10] fanminshi commented on #192
header looks fine with me. defer @xiang90.

[2017-08-08 17:13] xiang90 commented on #192
@lburgazzoli @fanminshi changing the copyright to jetcd authors? lgtm other than that.

[2017-08-08 17:17] fanminshi commented on #192
@xiang90  should the date be 2017 or 2016?

[2017-08-08 17:24] xiang90 commented on #192
2017 is better

[2017-08-08 17:29] fanminshi commented on #192
@lburgazzoli `Copyright © 2016 CoreOS` => `Copyright 2017 The jetcd authors` follows etcd header convention.

[2017-08-09 01:56] smartminghan opened #200 "Netty version conflict issue"
Hi, I use the jetcd previous version which use grpc 1.4.0 and met before exception.  It seems the issue of netty 4.1.11. May i know how to resolve it ?

java.lang.ClassNotFoundException: jdk.internal.misc.Unsafe
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:331)

[2017-08-09 02:43] fanminshi commented on #200
@smartminghan have you tried jetcd on the latest master?

[2017-08-09 04:30] jalenyang commented on #154
@fanminshi well, one example is when the application startup it will watch the configuration changes.
we don't want the main thread was blocked by the `synchronous ` watch. Also, we need to persistent monitoring the changes of the configuration in etcd.  That means we need to implement the `asynchronous ` watch ourselves with `watcher.listen`.  Surely, we can implement it base on your current desi

[2017-08-09 05:06] lburgazzoli commented on #195
``get*()`` just pollute the class so I'd get rid of them

[2017-08-09 05:12] #194 closed

[2017-08-09 05:16] lburgazzoli commented on #200
As far as I can remember the exception just tell you that jdk.internal.misc.Unsafe is not available but it is not a blocking one afaik, can you post your logs ?

[2017-08-09 07:00] lburgazzoli commented on #192
I'm having a small issue now that I'm unable to add an empty line between the license header and the package directive which violates one of the checkstyle rules, so I have temporary disabled checkstyle's EmptyLineSeparator module

[2017-08-09 08:28] lburgazzoli commented on #154
Although it is is possible to achieve an async notification by wrapping the synchronous one, I think every functionality should be asynchronous first.

Now briefly looking at the code I see that as today a call to listen() submit a new task to a single threaded  executor which creates a Future we blocks on, then one eventually needs to create an additional thread/executor to make watch asynchronou

[2017-08-09 14:54] lburgazzoli opened #202 "build: code coverage using jacoco"
See http://www.jacoco.org/

[2017-08-09 17:02] fanminshi commented on #83
closed via https://github.com/coreos/jetcd/pull/203

[2017-08-09 17:02] #83 closed

[2017-08-09 17:31] fanminshi commented on #192
@lburgazzoli disable `EmptyLineSeparator` is fine with me.

[2017-08-09 23:49] fanminshi commented on #154
`why did remove it while the asynchronous watcher had already been implemented in the previous version?`

The previous `asynchronous` version doesn't have correct behavior as the etcd go client and its callback definition was confusing; it has something called `onResuming` which is hard to reason about what to do with it. I rewrote the watch api to match the synchronous nature of the go client whi

[2017-08-10 05:00] #202 closed

[2017-08-10 05:01] #195 closed

[2017-08-10 05:05] lburgazzoli opened #205 "github: enable advanced PR merge functionalities"
Beside basic merge options there are also:
- squash and merge
- rebase an merge

The later is the most interesting one to as allows to avoid the merge commit. would it make sense to enable it ?

[2017-08-10 15:16] shuijing198799 opened #206 "failed to resolve name error occrued"
I have add my etcd endpoints into a array and I try to telnet these endpoints, all are successed
moreover, when this code can be accepted
Client client = ClientBuilder.newBuilder().setEndpoints(endPointList).build();

however when my process try to connect etcd , this error shows:

**2017-08-10 22:58:24  [ grpc-default-executor-0:1 ] - [ WARN ] com.coreos.jetcd.resolver.SmartNameResolver.doResolve

[2017-08-10 15:20] lburgazzoli commented on #206
Looks strange, can you provide the full code ?

[2017-08-10 15:29] shuijing198799 commented on #206
@lburgazzoli of course
        try {
            String path = "/home/kptech/etcd/etcdendpoints";
            File file = new File(path);
            InputStream inputStream = new FileInputStream(file);
            byte bytes[]=new byte[(int)file.length()];
            inputStream.read(bytes, 0, bytes.length);
            inputStream.close();
            String endpoints =  new String(bytes);

[2017-08-10 15:37] lburgazzoli commented on #206
Sorry, can you test with the latest source ? There was a bug with the service loader so the resolver was unable to load resolvers for protocols.

[2017-08-10 15:40] shuijing198799 commented on #206
@lburgazzoli OK, let me have a try. thanks for your help,In chinese there is nearly 0 o'clock ,can I give you a feedback tomorrow?

[2017-08-10 16:35] shuijing198799 commented on #206
@lburgazzoli sorry, how can I get the latest version? I only find and build the jetcd-0.1.0-SNAPSHOT.jar.

[2017-08-10 16:42] lburgazzoli commented on #206
you need to build it from sources

[2017-08-10 16:45] shuijing198799 commented on #206
@lburgazzoli
this is my workflow
I download the source code
git clone https://github.com/coreos/jetcd.git

and then I build it
./mvnw install -Dmaven.test.skip=true

and then I can locate the jar in
/root/bootstrap/cluster/kpdev/lib/jetcd-0.1.0-SNAPSHOT.jar

is that right?

I rarely use java, So this question seems stupid , sorry.

[2017-08-10 16:46] fanminshi commented on #206
@shuijing198799 once you git clone jetcd. you need to update the local repo with the upstream. then you build the jar with the latest master.

[2017-08-10 16:51] fanminshi commented on #206
@shuijing198799 also your workflow is correct. you just need to make sure that the local repo is updated with the upstream one https://github.com/coreos/jetcd.git.

[2017-08-11 02:49] shuijing198799 commented on #206
@fanminshi I feel asleep on sofa . sorry. thanks for your help ,I try to fix it now.

[2017-08-11 08:58] smartminghan opened #207 "Ip Resolve issue"
Hi, I use the same way as your test case to build and connect etcd  and below error happen.  It seems SmartNameResolver can't resolve the ip correctly. May i know how to fix it?

public static final String[] endpoints = System.getProperty(
      "etcd.endpoints",
      "http://localhost:2379,http://localhost:22379,http://localhost:32379").split(",");

Client client = ClientBuilder.newBuilder().set

[2017-08-11 09:02] lburgazzoli commented on #207
please use the latest sources, there were an issue that prevented the client to load the resolvers.

[2017-08-11 12:58] f4n commented on #154
+1 for an asynchronous watch api

[2017-08-11 13:21] f4n opened #208 "Cluster connection problems"
Hi, i have two problems with the attached sample cluster application and i hope that somebody has an idea what the problem is.

If all three processes are up, everything works fine.
If i kill the first process (2379) i would expect the KVClient quietly switch to the next address from the connection list but it doesn't. i get an exception `UNAVAILABLE: etcdserver: request timed out`. Is there any w

[2017-08-11 13:28] lburgazzoli commented on #208
For the first issue, as far as I can remember killing a node of the cluster may lead to the cluster to be in an inconsistent state and you should get the same result if you use etcdctl.

[2017-08-11 13:52] f4n commented on #208
Yes you are right, i got the same with etcdctl. Did i configure something wrong or is there no failover in etcd?

[code]

[2017-08-11 14:45] #185 closed

[2017-08-11 14:59] fanminshi commented on #208
@f4n how are you creating etcd cluster?

[code]
I am unsure how you have 4 members if you only configure 3.

[2017-08-11 16:10] fanminshi commented on #208
@f4n it seems like this is an etcd issue. please file the issue to etcd repo, https://github.com/coreos/etcd.

[2017-08-11 16:29] fanminshi commented on #206
@shuijing198799 is the issue fixed with latest master?

[2017-08-12 05:41] shuijing198799 commented on #206
@fanminshi  @lburgazzoli  thx for resolve my problem. I have fixed it.

[2017-08-12 14:48] #206 closed

[2017-08-14 07:30] f4n commented on #208
It was a misconfiguration/old data of my cluster. I removed all the data and restarted it with --initial-cluster-state new, now everything works fine. Thank you

[2017-08-14 07:35] #208 closed

[2017-08-14 15:56] heyitsanthony opened #212 "concurrency/coordination APIs"
This is to track supporting locks and elections, probably through RPCs.

[2017-08-15 06:34] fanminshi commented on #207
@smartminghan has the latest source solved the resolver issue?

[2017-08-17 13:41] lburgazzoli opened #215 "watch: Watcher.listen() should have an overloaded parameter with timeout"
Watcher.listen() waits in-definitively so it would be nice to have an overloaded method that allow to set a timeout, like

[code]

[2017-08-17 17:22] fanminshi commented on #215
@lburgazzoli let's see if more users want this. then we can add it. I think if we use`watcher.close() ` combines with extra thread that waits. then that should have same effect as timeout.

[2017-08-18 17:21] xiang90 commented on #192
closing. this is done.

[2017-08-18 17:21] #192 closed

[2017-08-18 17:26] fanminshi commented on #190
close via https://github.com/coreos/jetcd/pull/210

[2017-08-18 17:26] #190 closed

[2017-08-18 17:35] fanminshi commented on #205
@lburgazzoli I am curious what's the benefit of basic merge option vs rebase on merge. It seems to me that rebase an merge creates cleaner history avoiding additional merge commit e.g `Merge pull request #210 from fanminshi/improve_read_me`.

[2017-08-18 21:03] lburgazzoli commented on #205
Yes, plain merge add a merge commit which pollute the log. Rebase make history cleaner.

[2017-08-18 21:05] fanminshi commented on #205
@lburgazzoli I enabled the rebase on merge options.

[2017-08-18 22:16] #205 closed

[2017-08-21 12:52] RutledgePaulV commented on #154
I was also thrown off by this. Either an asynchronous API or an example of turning the synchronous one into an asynchronous one (without spinning the CPU against the thread or polling?) would be great.

[2017-08-21 13:40] akd31 commented on #193
Did you deploy this ?

Could not find artifact com.coreos:jetcd-core:jar:0.0.1 in oss-sonatype (https://oss.sonatype.org/content/repositories/snapshots/)

I get an error like this ?

[2017-08-21 16:08] fanminshi commented on #193
@akd31 plan to deploy today.

[2017-08-21 20:38] fanminshi commented on #193
@lburgazzoli when calling ` mvn clean package -P release`, jetcd-all only has jetcd-all.0.0.1.jar but doesn't include jetcd-all.0.0.1.-javadoc.jar. This is causing uploading artifacts to staging repo to fail due to "Missing: no javadoc jar found in folder `/com/coreos/jetcd-all/0.0.1`.

[2017-08-21 22:28] fanminshi commented on #193
@lburgazzoli generating java-all jar with java doc is blocking 0.0.1 release it's a requirement for deploying to the maven central. I am not going to upload java-all 0.0.1 for now. We can try to deploy java-all independently or for next release.

[2017-08-22 05:42] fanminshi commented on #193
@akd31 jetcd-core-0.0.1 is in maven central.
https://search.maven.org/#search%7Cga%7C1%7Ccoreos

[2017-08-22 05:42] fanminshi commented on #150
@nbrauer push first release to maven central https://search.maven.org/#search%7Cga%7C1%7Ccoreos

[2017-08-22 05:42] #150 closed

[2017-08-22 05:43] fanminshi commented on #66
jetd-core-0.0.1 is pushed to maven central via https://search.maven.org/#search%7Cga%7C1%7Ccoreos

[2017-08-22 05:43] #66 closed

[2017-08-22 06:15] akd31 commented on #193
Thank you 👍

[2017-08-22 07:10] smartminghan commented on #207
sorry for late reply. yes. resolved. thanks.

[2017-08-22 07:10] #207 closed

[2017-08-23 18:03] fanminshi opened #222 "api: support HashKV"
etcd go client added a new feature called `HashKV`

[code]
https://github.com/coreos/etcd/blob/master/clientv3/maintenance.go#L57

jetcd should support that as well.

[2017-08-24 07:18] akd31 opened #224 "whatcher.listen() should give an error when etcd servers are down."
Hello,

I tried to test watchers.listen() when etcd servers are down. It keeps locked and when etcd servers up again and make some change on the key listened it works and get the change. I think it should aware the servers status and give an error, shouldn't it ?

[2017-08-24 07:51] heyitsanthony commented on #224
The go client's watch hides connection errors so that reconnection appears seamless. There are cases without watches where it's useful to detect disconnects, so baking transport error information into watches is less flexible than what would be needed in general. Do you have a specific use case in mind?

[2017-08-24 11:10] akd31 commented on #224
Actually I am building my own client based on yours and just tried this scenario.I don't think this is a big issue and there is no problematic use case in my mind.

[2017-08-24 16:51] fanminshi commented on #224
@akd31 I am interested on what kind of client are you building base on the jetcd

[2017-08-24 23:34] xiang90 commented on #193
this is done. closing.

[2017-08-24 23:34] #193 closed

[2017-08-25 04:24] akd31 commented on #224
It is sufficient. I just make some arrangements and puts some limits on my users.

[2017-08-25 05:58] fanminshi commented on #224
Cool! also suggestions to improve jetcd are welcomed if you seen any.

[2017-08-25 05:59] fanminshi commented on #224
closing.

[2017-08-25 05:59] #224 closed

[2017-08-26 14:41] xingyunhui opened #229 "spring boot did not support?"
I use jetcd with spring boot  .But, when running the java program in my new project(build with maven), I am getting "java.lang.NoClassDefFoundError: io/netty/util/internal/DefaultPriorityQueue".
java version 1.8.0_121
spring boot version v1.5.2.RELEASE)
mvn dependency
         <dependency>
            <groupId>com.coreos</groupId>
            <artifactId>jetcd-core</artifactId>
            <versio

[2017-08-26 15:01] ScienJus commented on #229
I think it is a netty version conflict between `netty-codec-http2` and `netty-common`.

Please report the result of `mvn dependency:list | grep 'netty-common'` or `mvn dependency:tree`.

[2017-08-26 15:05] xingyunhui commented on #229
[INFO]    io.netty:netty-common:jar:4.1.7.Final:compile
[INFO]    io.netty:netty-common:jar:4.1.7.Final:compile
[INFO]    io.netty:netty-common:jar:4.0.45.Final:compile
[INFO]    io.netty:netty-common:jar:4.1.7.Final:compile
[INFO]    io.netty:netty-common:jar:4.1.7.Final:compile
[INFO]    io.netty:netty-common:jar:4.1.7.Final:compile
[INFO]    io.netty:netty-common:jar:4.1.7.Final:compile
[INFO]

[2017-08-26 17:21] ScienJus commented on #229
@xingyunhui

`DefaultPriorityQueue` is not exists in `netty-common:4.1.7.Final`, you should upgrade to at
least `4.1.9.Final`.

More details:

https://github.com/netty/netty/commit/3482651e0c29edfa02f189751c704ebe4fe8f54c

[2017-08-26 17:23] xiang90 commented on #229
@xingyunhui try what @ScienJus suggested. i believe it would solve your issue. so, closing.

[2017-08-26 17:23] #229 closed

[2017-09-02 06:26] fanminshi commented on #200
kindly ping @smartminghan

[2017-09-05 16:10] christian-pinto commented on #212
Hello,

do you have a rough estimation of when distributed locks and other coordination facilities will be supported?

Thanks a lot,
Christian

[2017-09-07 03:30] yangliucheng opened #232 "How can I get the sample code contain the HTTPS"
I use code as follow to create a client support https:
`Client.builder().endpoints(endpoints).sslContext(context).build();`
but I do not know how to complete code of 'context'

[2017-09-07 03:34] yangliucheng commented on #232
https://github.com/grpc/grpc-java/blob/master/interop-testing/src/test/java/io/grpc/testing/integration/TlsTest.java

this sample does not work very well.

[2017-09-07 03:35] yangliucheng commented on #232
`String ca = "D:\\kubernetes\\ca.cer";
String cert = "D:\\kubernetes\\server.cer";
String key = "D:\\kubernetes\\server_key_decode.pem";`

[2017-09-07 03:37] yangliucheng commented on #162
I use the example create a HTTPS client for JETCD,but it did not work very well:
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
java.lang.IllegalArgumentException: File does not contain valid private key: D:\kubernetes\server_key_decode.pem
	at io.netty.handler.ssl.SslContextBuilder.keyManager(SslContextBuilder.java:267)
	at io.netty.handler.ssl.SslContextBuilde

[2017-09-07 03:54] yangliucheng commented on #55
@eho-eho Hello, have you succed in  used jetcd whit ssl?

[2017-09-07 21:27] fanminshi opened #233 "api: support MoveLeader"
etcd go client has added `MoveLeader` feature. jetcd should add it as well.

[code]

[2017-09-07 22:28] fanminshi commented on #212
@christian-pinto the distributed lock and leader election are easier to implement since etcd supports those from service side. I can probably get those two done fair quickly.  Will those two recipes to be sufficient for you?

[2017-09-08 02:24] cc861010 opened #236 "watch bug?"
@org.junit.Test
    public void watch() throws Exception {

        Client client = null;
        Watch watch = null;
        Watch.Watcher watcher = null;
        try {
            client = Client.builder().endpoints("http://127.0.0.1:2379").build();
            watch = client.getWatchClient();
            watcher = watch.watch(ByteSequence.fromString("cc"));
            WatchResponse response =

[2017-09-08 02:43] fanminshi commented on #236
@cc861010 ` client = Client.builder().endpoints("http://127.0.0.1:2379").build()`  never throw any connection error?

[2017-09-08 02:46] fanminshi commented on #236
@cc861010 another question, did you start the etcd server at all?

[2017-09-08 03:35] cc861010 commented on #236
i mean the junit test run in an environment that does not have etcd server @fanminshi

[2017-09-08 05:07] fanminshi commented on #236
@cc861010 seems a bug to me. I would expect the client throw connection error.

[2017-09-08 08:30] christian-pinto commented on #212
Thanks @fanminshi , I think those recipes are going to be enough for my needs. BTW, besides the standard blocking mutexes, is there also going to be a try-lock kind of functionality?

Thanks again,
Christian

[2017-09-08 23:19] fanminshi commented on #212
@christian-pinto do you mean try-lock as described here https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/locks/Lock.html#tryLock()?

[2017-09-11 10:22] christian-pinto commented on #212
Exactly, that's what I meant with try-lock.

Thanks,
Christian

[2017-09-12 09:02] DamianCummins commented on #162
@lburgazzoli
@fanminshi

I'm trying to migrate from etcd v2 to v3 using the jetcd library.

However, when I attempt to connect using the SSL certificate (caCert in the code below) I hit the following error:
[code]

If I pass in `InsecureTrustManagerFactory.INSTANCE` then it is successful.

FWIW this succeeds via etcdctl.

Please see the code snippet below. Any guidance here would be much appreciat

[2017-09-12 17:14] fanminshi commented on #212
@christian-pinto no plan to implement `try-lock` yet. I'll take a look into this once i get the distributed lock and leader election working.

[2017-09-12 17:25] fanminshi commented on #162
@yangliucheng @DamianCummins I am looking into this.

[2017-09-12 17:25] fanminshi commented on #232
@yangliucheng taking a look.

[2017-09-12 18:23] lburgazzoli commented on #164
@fanminshi I'm a little busy at the moment so I can't have a look at this

[2017-09-12 18:46] fanminshi commented on #164
@lburgazzoli not a problem. I am digging into this now.

[2017-09-17 22:50] ehubin opened #237 "TxnResponse issue"
Filter statement in the 3 getXXXResponse() methods of TxnResponse class should be using == operator instead of !=

Currently these 3 method won't work as expected

I can submit a pull request if needed

[2017-09-18 17:34] fanminshi commented on #237
@ehubin  good catch!

[2017-09-18 21:46] ehubin commented on #237
@fanminshi you are welcome ;-)

[2017-09-20 18:21] davissp14 commented on #162
@fanminshi Any updates?

[2017-09-20 18:42] #237 closed

[2017-09-23 00:07] fanminshi commented on #236
cc/ @skyao @俊雄 could you take a look on this issue.

[2017-09-23 00:08] fanminshi commented on #232
cc/ @skyao @俊雄 could you guys take a look of setting up tls for jetcd.

[2017-09-23 06:36] ScienJus opened #239 "client: uses java.lang.AutoCloseable"
Make `com.coreos.jetcd.Client` and `com.coreos.jetcd.internal.impl.CloseableClient` extends `java.lang.AutoCloseable`, then we can use Client with `try-with-resource` like:

[code]

and it's useful when client is a spring bean.

[2017-09-23 09:22] ScienJus commented on #236
in `WatchImpl#processError`, if throwable is a `io.grpc.StatusRuntimeException: UNAVAILABLE: Transport closed for unknown reason`, we should throw it out?

[2017-09-23 18:12] fanminshi commented on #236
@ScienJus that's expected behavior. the watch should retry on temporary connection error. I think issue is that building `Client.builder().endpoints("http://127.0.0.1:2379").build()` should return an error but it doesn't.

[2017-09-24 10:55] ScienJus commented on #236
@fanminshi i see the https://github.com/coreos/etcd/tree/master/client also does not throw an error when building client. so i don't think it is a bug.

[2017-09-24 19:07] fanminshi commented on #236
@ScienJus you should look clientv3 https://github.com/coreos/etcd/tree/master/clientv3.  in etcd go client, create client waits for a dail timeout as shown here https://github.com/coreos/etcd/blob/master/clientv3/client.go#L396-L416. jetcd client should have similar behavior.

[2017-09-25 00:18] shveik opened #240 "Not able to receive watch events in the example code"
Running the example in com.coreos.jetcd.examples.watch, and I am unable to receive any events.
running just etcdctl in two terminals works fine.
In the example, the code gets to watcher.listen() and that's it.

the options i am sending are -e "http://127.0.0.1:2379" -k "foo".

any ideas?

thanks,
alex

[2017-09-25 01:33] shveik commented on #240
sorry, this was user issue, needed to set ETCDCTL_API=3 in the client.

[2017-09-25 01:33] #240 closed

[2017-09-28 11:31] DamianCummins commented on #162
@fanminshi Some further investigation on the above and it appears there are two issues:

I forked this repo and added the above ssl configuration to the `setUp()` method of the `/jetcd-core/src/test/java/com/coreos/jetcd/internal/impl/KVTest.java" class.

FWIW I'm using the following:
[code]

If I run `mvn -Dtest=com.coreos.jetcd.internal.impl.KVTest.java package` then I hit the following problem:

[2017-09-28 15:02] lburgazzoli commented on #162
I guess the first thing we need to do is to add the authority as builder option, make sense ?

[2017-09-29 06:36] lburgazzoli opened #242 "Support for Java 9"
Java 9 GA has been released so we should plan to properly support it

[2017-09-29 06:38] fanminshi commented on #239
@lburgazzoli what's your opinion about this?

[2017-09-29 06:41] lburgazzoli opened #243 "Support for Spring Boot"
We should provide a spring-boot starter for jetcd and eventually get it included in official spring-boot repo once stable.

That would allow people working with spring boot to configure jetcd via properties like:

[code]

And then using IOC to inject jetcd instance like:

[code]

Or even a specific client:

[code]

I can work on this if there is any interest.

[2017-09-29 06:41] lburgazzoli commented on #239
I agree, auto closeable would be useful

[2017-09-29 06:51] lburgazzoli commented on #162
@DamianCummins do you have by chance any time to send a PR ?

[2017-09-29 06:53] fanminshi commented on #243
@lburgazzoli is this related to https://github.com/spring-cloud-incubator/spring-cloud-etcd?

[2017-09-29 06:54] fanminshi commented on #239
@ScienJus let's support this then.

[2017-09-29 06:56] fanminshi commented on #243
cc/ @skyao

[2017-09-29 07:09] ScienJus commented on #243
https://github.com/spring-cloud-incubator/spring-cloud-etcd uses etcd4j and etcdv2 api.

I have a [demo project](https://github.com/ScienJus/spring-cloud-etcd), which uses the jetcd and it contains the same api as spring cloud consul/etcd

[2017-09-29 07:42] lburgazzoli commented on #243
Yeah it relates **also** to spring-cloud-etcd, I think the best would be to host here some spring-boot related project with the goal to contribute them to spring once jetcd becomes stable, so I think we should have:

- **jetcd-spring/spring-boot-starter-jetcd** that contains core jetcd/sprinb-boot bits
- **jetcd-spring/spring-cloud-jetcd** that leverages spring-boot-starter-jetcd for spring cloud

[2017-09-29 13:37] lburgazzoli commented on #212
@fanminshi as far as I can see the go client implements leader election and locks leveraging txn so as they are not part of the core functionalities does it make sense to have a structure like :

- jetcd-recupes/leader-election
- jetcd-recupes/mutex
- ...

btw, I'm also interested in having the leader election receipe so I can use it in Apache Camel.

[2017-09-29 23:58] fanminshi commented on #242
is there any java 9 feature that jetcd might want?

[2017-09-30 00:04] fanminshi commented on #236
cc/ @lburgazzoli

[2017-09-30 00:11] fanminshi commented on #243
@skyao what's your opinion about this.

[2017-09-30 06:01] lburgazzoli commented on #242
no it is more about compatibility of jetcd and its dependencies and to trst if we can make jetcd play with JPMS

[2017-10-04 13:19] fomkin opened #246 "Support of lock API"
Cant it be implemented?

https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_concurrency_reference_v3.md#service-lock-etcdserverapiv3lockv3lockpbv3lockproto

[2017-10-05 01:28] skyao commented on #243
I suggest to setup a new project named like `spring-cloud-etcd` to provide jetcd(etcd v3) and spring cloud related functonality like service registry and config. The target is to replace similar project like spring-cloud-zk, spring-cloud-consul. And I suggest to give up the `spring-cloud-incubator/spring-cloud-etcd` since it is based on etcd v2 and not completed.

I plan to start a project to inte

[2017-10-05 05:39] lburgazzoli commented on #243
I think there should be a standalone spring-boot-starter-etcd on which spring-cloud-etcd should be based as not everyone requires spring-cloud bits.

[2017-10-05 11:43] #239 closed

[2017-10-05 11:45] ScienJus commented on #243
@skyao

I totally agree with you.

My [Spring Cloud Etcd](https://github.com/ScienJus/spring-cloud-etcd) was created to replace Spring Cloud Consul. it will work with Spring Cloud Feign without any changes.maybe in the future, it can also replace Spring Cloud Consul Config.

If you need, I am willing to participate in your new project.

@lburgazzoli

yes, in spring-boot-starter-etcd we can create

[2017-10-05 18:54] #162 closed

[2017-10-05 18:55] fanminshi commented on #232
@yangliucheng fixed via https://github.com/coreos/jetcd/issues/162

[2017-10-05 18:55] #232 closed

[2017-10-05 18:55] fanminshi commented on #164
fixed via https://github.com/coreos/jetcd/issues/162

[2017-10-05 18:56] #164 closed

[2017-10-05 18:56] fanminshi commented on #87
tested tls https://github.com/coreos/jetcd/issues/162

[2017-10-05 18:56] #87 closed

[2017-10-06 10:49] lburgazzoli commented on #236
I think the implementation of processError should be improved as it may ends-up in an infinite loop, i.e. you are connected and listening and then the connection drops. So I think the call to listen should return in case of error and eventually re-established if the next call to listen().

[2017-10-06 11:03] lburgazzoli opened #247 "Implement HealthBalancer"
etcd's go client leverages grpc health (https://github.com/coreos/etcd/blob/master/clientv3/client.go#L383) to unhealty endpoints are not taken into account, we should do the same here.

[2017-10-06 16:48] fanminshi commented on #247
@lburgazzoli yeah, agreed.

[2017-10-15 16:38] gtudan opened #249 "Name resolving seems overcomplicated"
The `SmartNameResolver` uses the Java ServiceLoader to lookup implementations of `URIResolver`. I would like to understand why this design decision was made, as it seems a little overengineered. The implementations are right there in the same package. Is there a use case for implementing your own resolver?

I tripped over this one when I tried started implementing a JCA-Resource-Adapter based on t

[2017-10-15 17:10] lburgazzoli commented on #249
The initial idea was to move additional resolvers like dns-srv out of the core package that's why we have the service loader now but this is not the final version as we have also to deal with OSGi so cassloading is definitively an issue.

I'll try to make it simple and flexible in the coming days.

[2017-10-16 05:54] dinoopt commented on #212
@fanminshi I use a jetcd client to talk to etcd in my project and I'm specifically looking for the locking feature support in jetcd. As I understand, currently only the 'go' etcd client supports the lock API. Could you kindly let know when the locking support would be available in jetcd ?

[2017-10-16 10:40] davidstack opened #251 "does this etcd client support https?"
does this etcd client support https? could give a example of using https to connect etcd? thanks

[2017-10-17 01:29] davidstack commented on #55
@yangliucheng  have you succeed in used jetcd with ssl

[2017-10-17 16:34] shveik commented on #251
there was an example added a few days ago in the master branch that showed how to use it with localhost. Unfortunately, some details were missing. The client process has to be started with
-Xbootclasspath/p:/<path-to-jar>/alpn-boot-8.1.10.v20161026.jar or some configuration specific to a web server.
Also, I am having trouble authenticating against a remove server (not localhost) with exception:
[c

[2017-10-17 19:13] lburgazzoli commented on #251
The test provided is a very simple an minimalist ssl setup, but jetcd relies on grpc-java and netty so relevant information about ssl can be found here:

- https://github.com/grpc/grpc-java/blob/master/SECURITY.md

About the error you are facing, tou need to set a proper authority as done in the example here:

- https://github.com/coreos/jetcd/blob/master/jetcd-core/src/test/java/com/coreos/jetcd/

[2017-10-17 19:40] shveik commented on #251
how does the authority work with self-signed certs?

[2017-10-17 19:52] shveik commented on #251
i also think that the tests are working because the servers are run on localhost.

[2017-10-18 11:00] davidstack commented on #251
@lburgazzoli  i try to use the SslTest.java example,but it failed,because the authority method does not exist in com.coreos:jetcd-core:0.0.1.

[2017-10-18 12:19] shveik commented on #251
@davidstack you need to build from source, the authority method is not yet released.

[2017-10-18 13:04] davidstack commented on #251
@shveik  thanks

[2017-10-24 03:53] namgivu opened #254 "Cannot maven build sample `jetcd-simple-ctl`"
I'm trying the sample code [here](https://github.com/coreos/jetcd/tree/master/jetcd-examples/jetcd-simple-ctl) and cannot get the first step succeed i.e. `./mvnw clean package` failed.

Error as the snapshot.
How to get around that?
Regards,
Nam

![screenshot from 2017-10-24 10-49-12](https://user-images.githubusercontent.com/1185192/31924142-6fa054c8-b8a9-11e7-90b4-18e0482aff3c.png)

[2017-10-24 05:34] lburgazzoli commented on #254
As it uses the SNAPSHOT version, you should build at least jetcd-core first

[2017-10-24 12:27] namgivu opened #255 "Maven build failed"
I'm trying the sample code [here](https://github.com/coreos/jetcd/tree/master/jetcd-examples/jetcd-simple-ctl) and cannot get the first step succeed i.e. `./mvnw clean package` failed.

Error as the snapshot.
How to get around that?
Regards,
Nam

![screenshot from 2017-10-24 10-49-12](https://user-images.githubusercontent.com/1185192/31924142-6fa054c8-b8a9-11e7-90b4-18e0482aff3c.png)

[2017-10-24 12:34] lburgazzoli commented on #255
Looks the same as #254  you should first install jetcd-core at least

[2017-10-24 12:34] #255 closed

[2017-10-26 11:39] donsonZhang opened #256 "how to use the txn api ?"
I used the old api as the follows,it's work:
`  Txn txn = Txn.newBuilder().If(new Cmp[]{CMP}).Then(new Op[]{OP}).build();
   CompletableFuture<TxnResponse> commit = kvClient.commit(txn);`

however,the 0.0.1 new api ,how to use it? what's the param for TxnImpl.newTxn(?)
` Op OP = Op.put(masterKey, masterValue, PutOption.newBuilder().withLeaseId(leaseId).build());
  CompletableFuture<TxnResponse> co

[2017-10-27 05:15] #256 closed

[2017-11-02 04:19] namgivu commented on #255
Hi @lburgazzoli,
I expect the maven to install that for the sample code.
Or I may misunderstand maven usage here?
Nam

[2017-11-02 06:21] lburgazzoli commented on #255
It does if the version required is available from on a maven repository but jetcd 0.1.0-SNAPSHOT is not so you need to install it from sources.

[2017-11-06 08:25] lburgazzoli commented on #249
It should be fixed by #250

[2017-11-06 08:25] #249 closed

[2017-11-06 08:26] #254 closed

[2017-11-06 08:26] lburgazzoli commented on #251
@shveik can we close this ?

[2017-11-06 08:28] lburgazzoli opened #257 "Publish SNAPSHOTs"
We should publish snapshots for each successful build of master branch on travis-ci so people can try the lastest code without building it from source.

[2017-11-06 08:41] #251 closed

[2017-11-06 17:59] fanminshi commented on #257
yeah, we should do that. Does snapshot needs to be signed with pgp key?

[2017-11-06 18:02] lburgazzoli commented on #257
not afaik

[2017-11-06 19:07] fanminshi commented on #257
@lburgazzoli sounds good.

[2017-11-13 12:30] DamianCummins commented on #162
Hi @fanminshi - do you have an eta on when this will make it into a dev snapshot / release?

[2017-11-20 15:23] DamianCummins commented on #162
Any update on a dev snapshot / release? @fanminshi cc: @xiang90 - thanks

[2017-11-20 20:58] agarman opened #258 "Disabling hostname checking for connecting via SSL"
Attempting to connect to compose.io etcd service using example in [SssTest.java](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/test/java/com/coreos/jetcd/internal/impl/SslTest.java#L44). It looks like compose.io uses certificates that do not `matchDNS`. Is there a way to disable `HostnameChecker` exposed by `ClientBuilder` or `GrpcSslContexts`?

[code]

[2017-11-21 05:49] lburgazzoli commented on #258
You can set the right authority via the builder:

    https://github.com/coreos/jetcd/blob/master/jetcd-core/src/test/java/com/coreos/jetcd/internal/impl/SslTest.java#L46

[2017-11-21 14:17] agarman commented on #258
@lburgazzoli thanks - looks like I need to use a SNAPSHOT to get access to that.

[2017-11-21 14:46] kingpong commented on #258
@lburgazzoli How should one set the authority correctly when there are multiple endpoints, each with distinct names and certificates?

[2017-11-21 14:50] lburgazzoli commented on #258
I think there was a discussion about this issue on grpc-java about this so I need to check what solution has been implemented and reflect it on jetcd but I had no time so far. The issue is on how the grpc-java NameResolver.

[2017-11-21 16:29] agarman commented on #258
Re-opening as this is still not usable. Authority needs to be set per endpoint.

[2017-11-21 22:34] davissp14 commented on #162
@xiang90 @fanminshi Hey guys, this is a big one for us as well.  Any information on when we can get this into a release would be super helpful!

[2017-11-21 22:38] fanminshi commented on #162
@DamianCummins @DamianCummins  Sorry for the delay. I'll try to get this into the dev snapshot this week. For the release, I'll think there are few tasks needs to be done for 0.02 release. I'll evaluate those and get you back later.

[2017-11-22 05:22] lburgazzoli commented on #258
@agarman I'm not sure about what we can do on jetcd side, see the following conversations:

- https://github.com/grpc/grpc-java/pull/2662
- https://groups.google.com/forum/#!msg/grpc-io/xtwACYjZ2p8/Vg23_VTSAAAJ
- https://github.com/ExampleDriven/spring-boot-grpc-example/pull/3

[2017-11-22 17:00] davissp14 commented on #162
@fanminshi Good deal, also let us know what issues you're wanting to wrap up before cutting a release.  This is a blocker for quite a few of our users looking to move to Etcd v3, so if there's contributions needed in order to get this pushed through faster please let us know!

[2017-11-23 07:00] gtudan commented on #162
I took a look at the newly added authority option in the client build, but I'm not sure how to use it in combination with the multiple endpoints.

If we're using a single endpoint, I can just pass the host name as authority and everything is fine. But what if I have more than one endpoint? Should I issue a certificate with an additional SAN like "etcd"? That's probably close to impossible with "of

[2017-11-23 09:18] lburgazzoli commented on #162
For single endpoint, yes the issue is the SmartNameResolver so I will improve it but for multiple endpoint the issue is that the NameResolver can't provide a an authority per sub channel, see the following discussion: https://github.com/grpc/grpc-java/pull/2662

I don't have much time to investigate the issue further but I'll do my best, any hel is very appreciated.

[2017-11-23 14:22] Grisu118 commented on #246
I'm currently working on a PR for this, because we need it too.

https://github.com/Grisu118/jetcd/tree/GG-489-add-lock-support

[2017-11-24 11:59] #246 closed

[2017-11-24 17:21] xiang90 commented on #246
@Grisu118

Thanks!

[2017-11-29 10:19] Grisu118 commented on #106
I also started some work here, similar to #58, my target was to make bug #236 testable
I didn't see this issue and pull #58 as I started, now my question is should I continue and make it ready for PR?
https://github.com/Grisu118/jetcd/tree/use-dockerjava

[2017-12-06 16:16] jeethridge opened #262 "ServiceLoader prevents jetcd from working in Karaf"
I'm trying to get jetcd working in a poject that runs in Karaf. I'm currently working primarily with the 0.0.1 build and I'm hoping somebody can help me out. Basically, in Karaf, the jetcd client can't resolve any hostnames. This is due to the call to ServiceLoader.load(URIResolver.class) in SmartNameResolver.java. My understanding is that it is possible to work around this in karaf by modifying t

[2017-12-06 17:30] lburgazzoli commented on #262
The latests source should not expose this problem at least the direct resolver is available out of the box. I will work on OSGi stuffs as soon as I have time but could you please check the latest code does not have the same problem ?

[2017-12-06 18:36] jeethridge commented on #262
Sure, I'll try building from the latest source and let you know what I run into. I know for this version we also had to work around a ClassNotFoundError because of a split package issue between grpc-context and grpc-core, but that may not be something you have a lot of control over.

[2017-12-06 19:20] jeethridge commented on #262
@lburgazzoli I think I've managed to get it working by building the latest jetcd-core-0.1.0-SNAPSHOT.jar, however, it's somewhat based on trial and error with the other dependencies we've included. In order to get it to install and run properly, we have the following dependencies declared in the pom.xml in our project:

    <dependencies>

        <dependency>
            <groupId>com.coreos</grou

[2017-12-07 06:16] lburgazzoli commented on #262
I'll try to provide a karaf featurex xml for the next release but I'm quite busy so I do not have an ETA so if you have any spare time to work on that I'd more than happy to review and merge a PR.

[2017-12-07 14:33] jeethridge commented on #262
Understood. It looks like the latest snapshot is the path forward for us, so If I can get something working cleanly I'll submit a PR.

[2017-12-07 14:33] #262 closed

[2017-12-08 07:20] cmukunda opened #263 "OSGi compliant Jetcd client"
I want to use Jetcd in Apache Felix container. I tried converting the Jetcd client to OSGi bundle using Apache's maven-bundle-plugin2-4-0.  I get the following warning which I ignored.

_[WARNING] Could not transfer metadata io.grpc:grpc-core/maven-metadata.xml from/to typesafe (http://repo.typesafe.com/typesafe/releases/): Connection to http://repo.typesafe.com refused
org.sonatype.aether.transfe

[2017-12-08 08:31] lburgazzoli commented on #263
jetcd is already packaged as a bundle this is what you'd get when installing it on karaf

[code]

However you need to install required dependencies on your OSGi runtime.

[2017-12-08 08:31] #263 closed

[2017-12-14 21:37] danielrohe commented on #243
Is this idea still valid? I'm also interested in integrating jetcd with etcd API 3 into spring boot.

[2017-12-28 03:28] indrabasak opened #266 "Get Query for Retrieving all Keys"
What is the equivalent KV client query for performing the following operation to retrieve all keys?

[code]
I tried the following query, it didn't work.
[code]

[2017-12-28 21:24] sampowers opened #267 "run_etcd.sh has drifted from run_etcd_docker.sh"
If the cluster is started up with the apparently older `run_etcd.sh`, it will not run the `etcd-ssl` or `etcd-proxy` processes, which are depended on by the maven tests.  So the tests fail when not using `run_etcd_docker.sh`.

I think they should be updated to match, or if `run_etcd.sh` is obsolete it should be removed.

[2017-12-28 21:39] sampowers commented on #266
etcdctl (in v3 mode) appears to be special-casing the empty string arg for getPrefix as `0x00` then using WithFromKey instead of WithPrefix.  I see you are using withPrefix.

jetcd has `withRange` which I am guessing is equivalent to WithFromKey in etcdctl.

So for the jetcd equivalent, try using withRange(\0).

See https://github.com/coreos/jetcd/blob/112956b907e7ea09fd5daf4e40dd99cf3f27dd0e/jetc

[2017-12-28 23:34] nixgadget opened #268 "Watch a range of keys"
Its not very clear from the documentation but how do you watch for a range of keys ?
Say I have a map of keys and I want to iterate through these and watch every key for a certain time.

This seems to be possible with [`etcdctl`](https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/interacting_v3.md#watch-key-changes)

Is this possible with v0.0.1 ?

[2017-12-29 06:58] indrabasak commented on #266
It did the trick. Thanks, Sam!

[2017-12-29 17:12] xiang90 commented on #266
we probably need to document this somewhere, or provide a const to make it clear.

[2018-01-04 03:22] samaxm opened #270 "Does jetcd support reconnect?"
will the kvclient and watchclient will reconnect  after etcd server reboot?

[2018-01-04 11:31] Abhijith1 opened #271 "SSL Not working"
I'm trying to hit etcd with TLS. My `Client` looks something like this:

` client = Client.builder()
                .endpoints(etcdAddr)
                .user(ByteSequence.fromString(username))
                .password(ByteSequence.fromString(password))
            .sslContext(GrpcSslContexts.forClient()
                .trustManager(cert)
                .build())
                .build();`

Bu

[2018-01-04 11:50] lburgazzoli commented on #271
Do you have a proper ssl implementation on the classpath ? see https://github.com/grpc/grpc-java/blob/master/SECURITY.md

[2018-01-05 07:34] Abhijith1 commented on #271
Yes, I've added `compile 'io.netty:netty-tcnative-boringssl-static:2.0.7.Final'` in my`dependencies`
I use gradle for dependancy management.

[2018-01-05 07:36] Abhijith1 commented on #271
@lburgazzoli Yes, I've added compile 'io.netty:netty-tcnative-boringssl-static:2.0.7.Final' in mydependencies
I use gradle for dependancy management.
My dependencies looks like this:
`dependencies {
    compile 'com.coreos:jetcd-core:0.0.1'
    compile 'org.slf4j:slf4j-simple:1.6.1'
    compile 'io.netty:netty-tcnative-boringssl-static:2.0.6.Final'
}`

[2018-01-05 08:07] lburgazzoli commented on #271
Hard to tell, there is a test that uses ssl, can you check your example against that one ? You may also need to build jetcd form sources to use the latest bits.

[2018-01-06 05:43] xiang90 commented on #271
@Abhijith1 Why do you close it?

[2018-01-06 05:48] Abhijith1 commented on #271
@xiang90 @lburgazzoli Weirdly I tried running my code on a different machine and it worked. I re-installed java and tried it on my machine and I faced the same issue again. :( Could be an IDE issue as well. I use IntelliJ IDEA Version: 2017.3.2.

[2018-01-07 14:50] jinjiangxu opened #274 "Use jetcd put a k-v, why use etcdctl not find the value of the key"
java code：
Client client = Client.builder().endpoints("http://127.0.0.1:2379").build();
client.getKVClient().put(ByteSequence.fromString("/message"), ByteSequence.fromString("hello")).get();

./etcdctl get /message

[2018-01-08 06:41] lburgazzoli commented on #274
Make sure to set environment variable ETCDCTL_API=3, see https://github.com/coreos/etcd/tree/master/etcdctl#etcdctl

[2018-01-08 20:35] fanminshi commented on #274
@jinjiangxu has @lburgazzoli suggestion solve your issue?

[2018-01-08 20:48] fanminshi commented on #270
@samaxm I am entirely sure. jetcd uses grpc-java. the reconnect logic might be handled under the grpc layer. I need to double check on that. Have you tested those two scenarios out yourself? if yes, what's your finding?

[2018-01-08 20:51] fanminshi commented on #267
@sampowers the tests should be run again run_etcd_docer.sh. I think `run_etcd.sh` can be removed. @lburgazzoli what do you think?

[2018-01-08 22:02] sampowers commented on #267
@fanminshi I agree that removing run_etcd.sh would be one way to resolve the issue.  Needing docker to run the tests doesn't bother me, personally.

Is run_etcd.sh used by builds or other automated processes?   I didn't want to outright suggest removal without knowing if `run_etcd.sh` is needed by something.

[2018-01-08 22:10] fanminshi commented on #267
@sampowers i think `run_etcd.sh` is used to testing originally. i don't think it is being used anywhere else. I need to double check on that.

[2018-01-09 08:33] #274 closed

[2018-01-09 11:08] lburgazzoli commented on #267
afaik it is not needed anymore

[2018-01-09 16:00] Abhijith1 opened #275 "Issue with SSL"
I'm unable to create an etcd client as specified here: https://github.com/coreos/jetcd/commit/1906f202189392a212c2c947e293d25eea5165d5
I'm creating the client something like this:
`Client client = Client.builder()
          .endpoints(endpoints)
          .authority(authority)
          .sslContext(GrpcSslContexts.forClient()
              .trustManager(is)
              .build())
          .build

[2018-01-09 16:02] lburgazzoli commented on #275
You need to build jetcd from sources

[2018-01-09 17:31] fanminshi commented on #267
@sampowers would you like to submit an pr to fix this and update the readme.md as well?

[2018-01-17 10:50] Abhijith1 commented on #275
@lburgazzoli I did that and for some reason the `jetcd-core-0.1.0-SNAPSHOT.jar` jar generated was causing an issue with `io.grpc.netty.GrpcSslContexts;` library.
So I tried importing the `jetcdctl.jar` (The jetcdctl example) jar and I'm able to get the authority function now and the .
Now the connect to etcd works fine but when I try ro get a key, I get this error:
`com.coreos.jetcd.exception.Etcd

[2018-01-17 12:12] lburgazzoli commented on #275
What is the issue with jetcd-core-0.1.0-SNAPSHOT.jar ?
Did you install the right openssl libraries ?

[2018-01-17 13:40] Abhijith1 commented on #275
I just added these dependencies and I don't encounter the issues that I was facing earlier:
[code]

It was probably not working earlier because I was using the older versions as mentioned here:
https://github.com/coreos/jetcd#manual

But I still get this error:
`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See

[2018-01-18 16:15] adprocas commented on #257
I would like to third this opinion.

[2018-01-22 09:22] men348 opened #277 "package com.coreos.jetcd.api not exists"
Why so many errors when I downlod the project and then compile it.
Error:(19, 28) java: package com.coreos.jetcd.api do not exists
like this:
public class UnlockResponse extends AbstractResponse<com.coreos.jetcd.api.lock.UnlockResponse> {

  public UnlockResponse(com.coreos.jetcd.api.lock.UnlockResponse response) {
    super(response, response.getHeader());
  }

}

public class AuthRoleAddResponse

[2018-01-22 09:24] lburgazzoli commented on #277
what are you doing ?

[2018-01-22 09:31] men348 commented on #277
@lburgazzoli   I upload a image.

[2018-01-22 11:27] lburgazzoli commented on #277
You need to compile protobuf files first, this is done my maven.

[2018-01-22 12:34] Abhijith1 commented on #275
@lburgazzoli Any update on this? I'm kind of stuck because of this. :(

[2018-01-22 13:07] lburgazzoli commented on #275
I do not know how you have set-up your project so it is quite hard to understand what it is happening so I recommend:

1. use maven to handle dependencies
2. look at ssl test to see what we do

[2018-01-22 19:39] fanminshi commented on #277
@men348 we don't check in protobuf file into the repo itself. you need to build those with maven first.

@lburgazzoli maybe we should have a doc on how to build the project locally?

[2018-01-23 11:27] Abhijith1 commented on #275
@lburgazzoli I was incorrectly passing the hostname to the authority() method. I now have the library working with SSL.
However, as discussed on other threads, I too have the problem of passing hosts to authority when dealing with multiple etcd hosts.

[2018-01-23 11:27] #275 closed

[2018-01-23 15:48] fanminshi commented on #277
@men348 are you able to build the project from source?

[2018-01-30 08:01] sirvaulterscoff opened #278 "Watch using CompletableFuture"
Using watch in v0.0.1 blocks current thread, which makes it unusable in async environment. Making listen return CompletableFuture instead of blocking seems more appropriate.

[2018-01-30 08:32] lburgazzoli commented on #278
Yeah I have some plan for the watcher but I'm currently quite busy

[2018-02-05 14:20] PandaMonkey commented on #200
@smartminghan Hi, Could you show your pom file? I am interested in such version conflict problems. Maybe I can help you identify the root cause. If you concern the privacy problem, you can also send it to my e-mail: pandamonkey1@sina.com

[2018-02-06 13:14] zonghaishang opened #280 "watch prefix change with depth control or regex in jetcd 0.0.1"
I'm using jetcd (version 0.0.1), How to use api:
`client.Watch("\x02/servers/", clientv3.WithPrefix()) ;`
`client.Watch("\x03/servers/server-a/", clientv3.WithPrefix()) ?`
@heyitsanthony @xiang90 @yy2008
refer: https://github.com/coreos/etcd/issues/5402

[2018-02-06 15:52] zonghaishang opened #281 "com.coreos.jetcd.Watch.Watcher#listen will block thread, I have many watch to listen , How to support callback on jetcd0.0.1 ?"
com.coreos.jetcd.Watch.Watcher#listen will block thread, I have many watch to listen , How to support callback on jetcd0.0.1 ?

[2018-02-06 17:44] fanminshi commented on #280
@zonghaishang have you take a look of [Watcher watch(ByteSequence key, WatchOption watchOption)](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/main/java/com/coreos/jetcd/Watch.java#L37) ?

[2018-02-07 02:03] zonghaishang commented on #280
@fanminshi  I have tried , but no working.
Here is my test code:
[code]

[2018-02-07 09:37] zonghaishang commented on #270
I have tried , watch will reconnect , but I want to know if reconnected ocurrs, i want to register callback function to invoke, eg:  i  want to register data again when recover connection

[2018-02-08 09:49] zonghaishang opened #282 "io.grpc.ManagedChannel#notifyWhenStateChanged not implemention yet on jetcd0.0.1 ?"
io.grpc.ManagedChannel#notifyWhenStateChanged not implemention yet on jetcd0.0.1 , but I fount was implemention on master branch, When release next version ?

[2018-02-09 23:04] #233 closed

[2018-02-09 23:26] #222 closed

[2018-02-09 23:26] fanminshi commented on #277
can be fixed `maven clean install`

[2018-02-09 23:26] #277 closed

[2018-02-10 11:01] IgorPerikov opened #283 "0.0.2 release?"
Seems like it was quite a lot of PR's merged since `0.0.1`. What about new release? Or maybe you releasing master branch snapshots to some dedicated repository?

[2018-02-12 21:07] fanminshi commented on #283
expect this to be done in this week!

[2018-02-13 14:30] IgorPerikov commented on #106
what do you think about using [testcontainers framework](https://github.com/testcontainers/testcontainers-java)?
it lets you start docker containers smooth and easily, and it handles all the destroy-startup logic

all you need is to add this `@ClassRule` field to your classic junit, like that:
https://github.com/IgorPerikov/etcd-service-discovery/blob/master/service-discovery/src/test/java/com/git

[2018-02-13 16:10] fanminshi commented on #106
@IgorPerikov  I think` testcontainers framework` provides a great abstraction over docker. I like it. cc/ @Grisu118 @lburgazzoli.

[2018-02-13 16:12] fanminshi commented on #106
@Grisu118 maybe we can use testcontainer framework instead of your [docker client implementation](https://github.com/Grisu118/jetcd/tree/use-dockerjava/jetcd-core/src/test/java/com/bertschi/gg/docker). And port your [jetcd docker] `https://github.com/Grisu118/jetcd/tree/use-dockerjava/jetcd-core/src/test/java/com/coreos/jetcd/docker` to use `testcontainer framework`

[2018-02-13 16:16] fanminshi commented on #282
working on releasing 0.02 this week. ref: https://github.com/coreos/jetcd/issues/283

[2018-02-13 16:16] fanminshi commented on #143
fixed via #265

[2018-02-13 16:16] #143 closed

[2018-02-13 17:54] fanminshi commented on #280
sorry for the delay. I am taking a look into this.

[2018-02-13 18:51] fanminshi commented on #280
`I'm watching /servers/ & /servers/server-d/ with --prefix. if I put /servers/server-d/interface/helloworld,
I dont want got notified .`

This is the expected behavior since `/servers/server-d/interface/helloworld` has the prefix `/servers/server-d/`, then the wacher on `/servers/server-d/` will get notified.

[2018-02-13 20:23] fanminshi commented on #280
@zonghaishang I took a look of etcd api agin. Currently, we don't support depth control natively. One way to support this feature is to wrap the watcher with prefix, and filter out the result that you don't want yourself.

[2018-02-13 20:33] fanminshi commented on #268
@nixgadget this it is. you want to use  [`Watcher watch(ByteSequence key, WatchOption watchOption)`](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/main/java/com/coreos/jetcd/Watch.java#L37`)

and use watchOption [`withRange(ByteSequence endKey)`](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/main/java/com/coreos/jetcd/options/WatchOption.java#L81)

[2018-02-13 22:23] fanminshi commented on #257
@lburgazzoli I am working on this but unsure what is the best way to support. any suggestions? I am currently looking at this plugin https://github.com/egineering-llc/gitflow-helper-maven-plugin

[2018-02-13 22:43] #267 closed

[2018-02-13 22:44] lburgazzoli commented on #281
@fanminshi under the hood watch is already asynchronous so we can _easily_ implement two variants of `Watch::listen`, like:

[code]

[2018-02-13 22:45] fanminshi commented on #281
@lburgazzoli yeah, I agree.

[2018-02-13 22:46] fanminshi commented on #281
@lburgazzoli I am hoping to do the 0.0.2 release end of this week. So I think supporting async watcher can be pushed to 0.0.3 milestone.

[2018-02-14 00:03] fanminshi commented on #257
I am able to publish snapshot for `jetcd`, `jetcd-core`, and `jetcd-discovery-dns-srv` but not `jetcd-watch-example`.
[code]

Investigating on how to skip `jetcd-watch-example`
cc/ @lburgazzoli any idea?

[2018-02-14 01:01] zonghaishang commented on #280
@fanminshi Thanks for your reply. I have implemented depth control and async watcher notified including auto reconnect by myself.

[2018-02-14 01:02] fanminshi commented on #280
@zonghaishang  nice!

[2018-02-14 01:02] #280 closed

[2018-02-14 07:23] lburgazzoli commented on #281
@fanminshi Yeah no worries, do you want me to work on it ?

[2018-02-14 07:27] lburgazzoli commented on #257
I guess we can add something like:

[code]

To modules we do not want to deploy

[2018-02-14 15:00] fanminshi commented on #281
@lburgazzoli go ahead if you are interested! it is a good way to learn about etcd watch semantic!

[2018-02-16 19:11] fanminshi commented on #283
master branch snapshot is pushed manually!

[2018-02-16 19:12] fanminshi commented on #257
I pushed the snapshot manually.

[2018-02-16 22:20] fanminshi opened #288 "0.0.2 release tracker"
- [x] disable some pkg that blocks 0.0.2 release: https://github.com/coreos/jetcd/pull/287
- [x] bump version to 0.0.2 ref: https://github.com/coreos/jetcd/pull/289
- [x] sign and release 0.0.2 jar to maven central
- [x] update version to 0.1.0-Snapshot https://github.com/coreos/jetcd/pull/293
- [x] update release page to include what changed for for 0.0.2 release. ref: https://github.com/coreos/j

[2018-02-17 00:34] fanminshi commented on #283
I was not able to release the 0.0.2 this week due to technical issue with maven pgp signing and deploy. Will try again next week.

[2018-02-17 13:22] dinoopt opened #291 "jetcd locking problem"
I'm using jetcd in my project to do lock/unlock of etcd key before doing an update of the value. Verified from the code and logs that everytime a lock is done, an unlock of the key also is done.
Whenever we fail to acquire a lock, we keep retrying till we get the lock.

However still end up in scenarios where after some time, none of the threads are able to acquire any lock. Eventually we see most

[2018-02-19 00:28] fanminshi commented on #291
@dinoopt the lock api is added recently and possibly contains bugs. if you can reproduce this issue with a simple script, it can help me to debug this for you.

[2018-02-22 07:33] Grisu118 commented on #106
Currently I'm very busy, but the frameworks looks nice. Will take a look at it.

[2018-02-22 09:30] Grisu118 commented on #106
Do it :) @IgorPerikov

[2018-02-22 17:11] fanminshi commented on #106
@IgorPerikov do it!

[2018-02-23 00:29] lovepoem commented on #283
Waiting for the new version！

[2018-02-23 01:02] fanminshi commented on #283
yeah, I am back to it again.

[2018-02-23 05:08] fanminshi commented on #288
useful link: http://central.sonatype.org/pages/apache-maven.html

[2018-02-23 23:03] fanminshi commented on #288
jetcd v0.0.2 is uploade to maven central.

[2018-02-23 23:05] fanminshi commented on #283
jetcd v0.0.2 is signed and pushed to maven central:

you can try it out with:
[code]

I am going to work on writing a release note, updating the readme, update the version to snaphot in thw following days.

[2018-02-27 10:31] IgorPerikov commented on #283
Since you have a dedicated issue for tracking all special points - I guess I can close it

[2018-02-27 10:31] #283 closed

[2018-03-03 19:08] IgorPerikov opened #296 "License plugin complains about license file with year 2018"
At the moment license plugin verifies license header against concrete text file, I've ran through plugin documentation and found out that it is possible to use configurable files like this
https://github.com/mycila/license-maven-plugin/blob/master/license-maven-plugin/src/main/resources/com/mycila/maven/plugin/license/templates/APACHE-2.txt

but still it doesn't looks like it can support two diffe

[2018-03-04 15:14] IgorPerikov commented on #296
I've read more about license headers and copyright date year. Although, I'm not a lawyer, I got to the thought, that header should contain this kind of range `license creation year` - `last year of active development`. So for jetcd it looks like it should be 2017-2018

[2018-03-05 14:58] dinoopt commented on #291
@fanminshi  Sorry for coming back late on this. The initial problem I faced was that there are multiple threads waiting for a lock and each of these locks have a timeout and a lease timeout. After the lock was released by the holding thread, it was going to a thread which had timed out but the lease had not expired. This was leading to all other threads waiting for this thread to release the lock.

[2018-03-05 21:18] fanminshi commented on #296
`that header should contain this kind of range license creation year - last year of active development.` for license header? hmm, the apache license's template doesn't have a range `Copyright © ${project.inceptionYear} ${owner} (${email})`

[2018-03-06 06:30] IgorPerikov commented on #296
yeah, there is no pattern like this described on the plugin website, the only thing I saw is just few *exchange answers. So I decided to look at the spring projects license, here how it looks like
https://github.com/spring-projects/spring-framework/blob/master/spring-jdbc/src/main/java/org/springframework/jdbc/BadSqlGrammarException.java
https://github.com/spring-projects/spring-framework/blob/mas

[2018-03-07 00:34] fanminshi commented on #296
good finding! I'll look into this.

[2018-03-07 14:40] sirvaulterscoff opened #297 "Sporadically appearing "request timed out""
We're running java 8 spring boot application on etcd3 and we're getting "StatusRuntimeException: INTERNAL: etcdserver: request timed out" from time to time. Both etcd3 and jetcd seems to have not time-out options. Thus totally unclear what's causing the issue.

We're running the same application on another box and it shows no signs of those errors.
Stacktrace follows
[code]

Any thoughts on what c

[2018-03-07 17:39] fanminshi commented on #297
@sirvaulterscoff could you show you me the code that is causing the timeout?
If you can provide reproducible steps, that will help me debugging this more.

[2018-03-12 11:27] sirvaulterscoff commented on #297
Sorry for opening the issue too soon, appered to be resolved by upgrading etcd to 3.3.2

[2018-03-12 11:27] #297 closed

[2018-03-16 12:40] dinoopt commented on #291
@fanminshi  I face this issue only on a  ETCD cluster running 3.2.13 version and don't see the issue in my other instances which uses ETCD cluster running 3.2.9 and 3.2.11 versions. I'm not able to reproduce this issue on my local standalone ETCD server running 3.2.13 version.

After including some debug messages in jetcd code, was trying the below scenario
-  One thread holds the lock, calls keep

[2018-03-19 21:45] fanminshi commented on #291
@dinoopt hey thanks for the detailed explanation. I am current busy with many things. I'll take a look of this once I am free.

[2018-03-19 21:47] fanminshi commented on #291
cc/ @Grisu118

[2018-03-20 05:28] dinoopt commented on #291
@fanminshi Thank you for your response. Including the stand alone program I was using to reproduce the issue against etcd cluster running 3.2.13 version, in case that helps.

[code]

[2018-03-20 08:31] Grisu118 commented on #291
Did a quick try, but I'm not able to reproduce the bug. I always get the following output of your test. As far as I understand this is the correct output, right?

Tested with single node, cluster and versions 3.2.9/3.2.10/3.2.13

[2018-03-20 10:08] dinoopt commented on #291
@Grisu118 Sorry I forgot to mention that I was running with some debug points added in jetcd code. The code output will be the same when run against all the etcd server versions. The difference I saw in the behavior was,

1.  In 3.2.9, after the thread which acquires the lock on a key does the unlock (after the message 'Unlocked successfully' in the above output), the futures created for the the o

[2018-03-20 14:40] Grisu118 commented on #291
I cannot reproduce this against an etcd cluster on my local machine (windows 10). The cluster is created on docker, similar to the unit tests of jetcd.

Every future which is accessed in the code snipped you mentioned is completed

[2018-03-22 05:59] dinoopt commented on #291
@Grisu118 Thanks for trying it out. Yesterday I got a new etcd cluster provisioned with 3.2.13 and the problem is not happening there. It seems to be happening in the clusters which were upgraded from some lower version to 3.2.13. I'll try to see if I can reproduce the issue locally.

[2018-03-26 22:49] #288 closed

[2018-03-28 11:09] hexfusion opened #300 "help wanted"
@fanminshi could you take some time and flag issues you feel would be good for someone just getting involved with the project to take on. This might help those who want to help, contribute. Thanks!

[2018-03-28 18:42] fanminshi commented on #300
@hexfusion good idea. I will create concrete issues like what we do in etcd repo.

[2018-04-04 12:26] sostuts opened #301 "Did not throw exception when etcd server shut down suddenly"
at sun.nio.ch.FileDispatcherImpl.writev0(Native Method) ~[na:1.8.0_152]
	at sun.nio.ch.SocketDispatcher.writev(SocketDispatcher.java:51) ~[na:1.8.0_152]
	at sun.nio.ch.IOUtil.write(IOUtil.java:148) ~[na:1.8.0_152]
	at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:504) ~[na:1.8.0_152]
	at io.netty.channel.socket.nio.NioSocketChannel.doWrite(NioSocketChannel.java:403) ~[netty-transport-4

[2018-04-04 13:07] sostuts commented on #301
or use can add custom error handler on StreamObserver#onError() ?

[2018-04-05 10:53] lburgazzoli opened #303 "Question about WatchCreateRequest.watch_id"
@xiang90 do we have some estimate about when [this](https://github.com/coreos/etcd/commit/9bbfa231831fd556b927e4695c3142f63abcff74) change will be included in an etcd release ? This would make the code much cleaner, see the async implementation [here](https://github.com/lburgazzoli/coreos-jetcd/tree/watch)

[2018-04-06 17:00] fanminshi commented on #301
cc/ @lburgazzoli

[2018-04-06 17:05] fanminshi commented on #268
please reopen if you have more question.

[2018-04-06 17:05] #268 closed

[2018-04-09 23:59] fanminshi commented on #303
question answered closing..

[2018-04-09 23:59] #303 closed

[2018-04-10 00:02] fanminshi opened #307 "Client Feature matrix"
It will be nice to know which features that the java client supports and which one doesn't.
This also gives us an idea on what works still needed to be done for jetcd.

[2018-04-10 00:03] fanminshi commented on #300
cc/ @lburgazzoli Would you also like to create any issues that you think community members can help.

[2018-04-10 00:05] fanminshi commented on #307
cc/ @gyuho

[2018-04-10 00:12] fanminshi commented on #105
fixed via https://github.com/coreos/jetcd/pull/295

[2018-04-10 00:12] #105 closed

[2018-04-10 00:12] fanminshi commented on #18
not relevant anymore.

[2018-04-10 00:12] #18 closed

[2018-04-10 00:22] fanminshi opened #308 "Support async apis"
APIs [Watch](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/main/java/com/coreos/jetcd/Watch.java), [keepAlive](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/main/java/com/coreos/jetcd/Lease.java#L73), and [snapshot](https://github.com/coreos/jetcd/blob/master/jetcd-core/src/main/java/com/coreos/jetcd/Maintenance.java#L118) are synchronous operation.

Few users want to hav

[2018-04-10 00:24] fanminshi commented on #281
tracks async apis in #308

[2018-04-10 00:24] #281 closed

[2018-04-10 00:40] gyuho commented on #307
@fanminshi ack, I am writing high-level feature docs to share sometime this/next week.

[2018-04-10 00:50] hexfusion commented on #307
@fanminshi sure I will see what @gyuho comes up with and see where I can help.

[2018-04-10 05:03] lburgazzoli opened #309 "Cleanup tests : remove TestNG"
We have some tests using TestNG an some others using JUnit, we need to get rid of TestNG

[2018-04-10 20:11] gyuho commented on #307
@fanminshi @hexfusion Sounds good. I will keep you updated once draft is up. This will be better to be documented in etcd side (related https://github.com/coreos/etcd/issues/9156).

[2018-04-20 13:04] sidelines opened #312 "etcd server failed to create watch id"
com.coreos.jetcd.common.exception.EtcdException: etcd server failed to create watch id
    at com.coreos.jetcd.common.exception.EtcdExceptionFactory.newEtcdException(EtcdExceptionFactory.java:30)
    at com.coreos.jetcd.internal.impl.WatchImpl.processCreate(WatchImpl.java:271)
    at com.coreos.jetcd.internal.impl.WatchImpl.processWatchResponse(WatchImpl.java:198)
    at com.coreos.jetcd.internal.

[2018-04-22 11:36] hepin1989 opened #313 "Pls don't use default GRPC Eventloop,"
see https://github.com/IBM/etcd-java/blob/master/src/main/java/com/ibm/etcd/client/EtcdClient.java#L115

make it configurable would be better.

[2018-04-22 12:35] lburgazzoli commented on #313
can you tell us more about your needs?

[2018-04-24 01:11] samaxm opened #314 "is client thread safe?"
hi,
i'm using jetcd 0.0.1, is the client(kv and watchclient) thread safe?
should i use a global instance or create every time when use?
what is the best practice when i want to continuously watch some key?(may be in a while(true))
should i create  Watch/Watch.Watcher every turn?

[2018-04-24 05:31] lburgazzoli commented on #314
Yes it is, watching is synchronous at the moment, see: https://github.com/coreos/jetcd/blob/master/jetcd-examples/jetcd-watch-example/src/main/java/com/coreos/jetcd/examples/watch/Main.java

[2018-04-24 05:32] #314 closed

[2018-04-24 05:34] lburgazzoli commented on #200
@smartminghan I'm goging to close this since we've not received any more feedback

[2018-04-24 05:34] #200 closed

[2018-04-24 05:36] lburgazzoli commented on #271
@Abhijith1 is sthi this an issue ?

[2018-04-24 07:12] #271 closed

[2018-04-24 07:14] Abhijith1 commented on #271
I got this sorted. There were other issues I ran into but I've got them resolved now. (Got the other issues sorted here: https://github.com/coreos/jetcd/issues/275)

[2018-05-03 11:54] koaal opened #315 "Deadlock in LeaseImpl between closeLock and ownerLock"
effected jetcd version: all

"grpc-default-executor-4" daemon prio=10 tid=0x00007fcf0c018000 nid=0x5c8c waiting for monitor entry [0x00007fceb46d7000]
   java.lang.Thread.State: BLOCKED (on object monitor)
        at com.coreos.jetcd.internal.impl.LeaseImpl$KeepAliveListenerImpl.isClosed(LeaseImpl.java:456)
        - waiting to lock <0x00000007360d0120> (a java.lang.Object)
        at com.coreos.j

[2018-05-04 05:29] lburgazzoli commented on #312
Looks like an issue with etcd istself

[2018-05-04 05:29] #312 closed

[2018-05-04 05:29] lburgazzoli commented on #315
@koaal can you provide a reproducer ?

[2018-05-04 05:32] lburgazzoli commented on #215
Closing it as I'm going to implement an sync watcher

[2018-05-04 05:32] #215 closed

[2018-05-04 07:34] koaal commented on #315
It is hard to reproduce in functional test instead of performance test, my functional logic is as below:

`
//step1: create a lease
long leaseId = createLease(nodeId, appName, profile, leaseTtl);

//step2: keepalive the lease
kal = etcdClient.getLeaseClient().keepAlive(leaseId);

//step3: create a node on etcd with lease
createLeaseNode(nodeId, appName, profile, leaseId,leaseTtl);

//listening the

[2018-05-04 07:50] koaal commented on #315
check from the code, the problem is quite  obvious:

//keepalive listener hold the closeLock and then try to remove itself from keepalive
    @Override
    public void close() {
      synchronized (this.closedLock) {
        this.closed = true;
        this.owner.removeListener(this);
        this.service.shutdownNow();
      }
    }

//another lock (object lock of LeaseImpl) is required when keep

[2018-05-04 07:56] lburgazzoli commented on #315
oh yeah, would you mind to send a pr?

[2018-05-04 08:37] garfield009 opened #317 "how to use jetcd"
where is api document of jetcd?

[2018-05-04 08:47] lburgazzoli commented on #317
https://www.javadoc.io/doc/com.coreos/${artifactId}/${version}

[2018-05-04 08:47] #317 closed

[2018-05-04 09:08] koaal commented on #315
i would like to do it.

[2018-05-11 07:34] zhaorendong opened #320 "Unable to resolve endpoints"
I created etcd-v3 cluster in kubernetes-1.9.1,and I get keys from etcd by jetcd-core. When I used url that like "http://192.168.18.4:2379", I can get keys . But when I used url that like "http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/calico-etcd1:2379/proxy",I can't get anything,and it EtcdException.The "http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/calico-etcd1

[2018-05-11 07:37] lburgazzoli commented on #320
This URI style `http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/calico-etcd1:2379/proxy` is not supported, can you provide some more info so I can see if I can support it ?

[2018-05-11 07:44] zhaorendong commented on #320
http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/calico-etcd1:2379/proxy
http://192.168.18.3:8080 : the kubernetes master url
namespaces/kube-system : the kube-system is one of kubernetes namespace
services/calico-etcd1:2379 : the calico-etcd1 is etcd service name and 2379 is service port
/api/v1/: is hard code
/proxy :is hard code

[2018-05-11 07:48] lburgazzoli commented on #320
Are you using it inside kubernetes ?

[2018-05-11 07:55] zhaorendong commented on #320
I deployed etcd cluster in many kubernetes cluster,then I want get something from etcd every kubernetes cluster by kubernetes master proxy. I used it inside one of the kubernetes cluster.

[2018-05-11 07:58] lburgazzoli commented on #320
if you are inside kubernetes you can simple use the service name or dns src record(https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/), if you want to access other clusters you may need to use kubernetes federation.

[2018-05-11 08:01] lburgazzoli commented on #320
As alternative you need to implement a URIResolver which is able to query kubernetes services and grab the address to connecto to.

[2018-05-11 08:12] zhaorendong commented on #320
Now, I saved all kubernetes services and grab the address in my database, so I can access other clusters by the cluster master proxy. I have also used this way to visit other services before, There was no problem in doing this, but when I use jetcd-core,it reported errors. When I used "http://192.168.18.4:2379" that OK，but used ""http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/cali

[2018-05-11 08:16] lburgazzoli commented on #320
Again, we need to resolve http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/calico-etcd1:2379/proxy to host/port, how would you do so ?

[2018-05-11 08:32] zhaorendong commented on #320
I can't access etcd cluster with etcdctl(v3) by the way, I accessed etcd cluster with rest api .

[root@192 ~]#      curl http://192.168.18.3:8080/api/v1/namespaces/kube-system/services/calico-etcd1:2379/proxy/v2/keys
{"action":"get","node":{"dir":true,"nodes":[{"key":"/hello","value":"world","modifiedIndex":6,"createdIndex":6}]}}

[2018-05-11 08:39] lburgazzoli commented on #320
jetcd uses grpc (v3) so you won't be able to access rest endpoints

[2018-05-11 08:42] #320 closed

[2018-05-11 16:05] lburgazzoli commented on #315
@koaal closing this as I've merged your PR

[2018-05-11 16:05] #315 closed

[2018-05-14 16:00] liukun4515 commented on #309
could you assign this issue to me？

[2018-05-14 16:07] lburgazzoli commented on #309
I can't but you are very welcome to submit a pr

[2018-05-14 17:45] fanminshi commented on #309
@liukun4515 just do it.

[2018-05-15 02:28] liukun4515 commented on #309
ok

[2018-05-15 08:43] lburgazzoli commented on #309
@liukun4515 I think every unit test should not depend on any other test so you should set-up etcd according to your need in your test

[2018-05-15 16:59] liukun4515 opened #321 "Error for mvn test"
I have installed the docker.
execute the `mvn test`, the output is
[code]

[2018-05-15 19:43] fanminshi commented on #309
`The JUnit doesn't support the dependency testing.`
I don't think we should have any dependency testing at all. it is generally a bad practice in testing. We want each test to be independent from each other.

[2018-05-16 08:28] lburgazzoli commented on #321
what os ?

[2018-05-18 00:30] liukun4515 commented on #321
MAC os :10.10.5

[2018-05-18 09:56] lburgazzoli commented on #321
This may help:
  https://github.com/testcontainers/testcontainers-java/blob/master/docs/compatibility.md

[2018-05-21 10:07] bsideup commented on #321
@liukun4515 Testcontainers v1.7.3 has a fix for it, could you please try updating the dependency and running the tests again?

[2018-05-23 06:01] lburgazzoli commented on #321
@liukun4515 dependencies have been updated

[2018-05-23 09:15] liukun4515 commented on #321
ok, i will try it.

[2018-05-24 06:40] nagireddyhanisha opened #323 "Ability to configure message limit from Jetcd client"
I could not find a functionality to configure the max message size that could be sent/received by the client. There is a way to do this from go client(grpc.MaxCallSendMsgSize(math.MaxInt32), grpc.MaxCallRecvMsgSize(math.MaxInt32)). But I could not find a similar one for java client. It would be helpful to have a way to override the default values set(4 MB).

[2018-05-25 11:51] timchenxiaoyu opened #324 "how to get sub dir"
how to get all  sub dir

for example：/a/b
                        /a/c
how to for each   b and c

[2018-05-25 13:31] timchenxiaoyu commented on #266
how to use withRange ?

[2018-05-25 16:46] gyuho commented on #324
Have you tried

https://github.com/coreos/jetcd/blob/ff7d698b046367d243a8d9d5cfe528f9bb0e933f/jetcd-core/src/main/java/com/coreos/jetcd/options/GetOption.java#L169-L174

[2018-05-25 16:51] gyuho commented on #324
Or try

https://github.com/coreos/jetcd/blob/ff7d698b046367d243a8d9d5cfe528f9bb0e933f/jetcd-core/src/main/java/com/coreos/jetcd/options/GetOption.java#L154-L157

/cc @fanminshi

[2018-05-25 17:21] #324 closed

[2018-05-25 17:21] fanminshi commented on #324
An example on how to use withPrefix option to retrieve all keys that's greater than "/a".

[code]

[2018-05-25 19:06] indrabasak commented on #266
[Here](https://github.com/indrabasak/spring-etcd-example/blob/master/src/main/java/com/basaki/data/repository/BookRepositoryImpl.java) is a complete example using `withRange`:

    @Override
    public Map<String, String> findAllKeys() {
        try {
            ByteSequence key = ByteSequence.fromString("\0");
            GetOption option = GetOption.newBuilder()
                    .withSortFie

[2018-05-28 01:46] timchenxiaoyu commented on #324
if I use withPrefix,  I don't know  endkey .  I don't know the sub dir  ?  I only know   /a

[2018-05-30 09:14] lburgazzoli commented on #321
@liukun4515 any update ?

[2018-05-30 10:49] lburgazzoli commented on #258
@agarman @kingpong I think I need to wait for https://github.com/grpc/grpc-java/issues/4469 to be implemented to provide a solution.

[2018-05-30 10:51] #323 closed

[2018-05-30 10:54] lburgazzoli commented on #270
@zonghaishang what do you mean by "register data again when recover connection"

[2018-05-30 10:56] lburgazzoli commented on #278
Superseded by #308

[2018-05-30 10:56] #278 closed

[2018-05-30 11:14] gi-wg2 opened #327 ""Network closed for unknown reason" when running using java -jar"
I get the following exception `io.grpc.StatusRuntimeException: UNAVAILABLE: Network closed for unknown reason` when running a fat jar compiled using the shade plugin in maven or when building from bazel using the _deploy.jar suffix which creates a executable jar for you.

Connecting to the etcd cluster works fine when running the test from intellij using maven, so I suspect there is some dependenc

[2018-05-30 11:56] gi-wg2 commented on #327
That is not enabled on neither the localhost etcd docker or the proxy I am testing against, so that should not be any issue. The same code works when running in Intellij.

[2018-05-30 12:31] timchenxiaoyu commented on #266
thks

[2018-05-30 13:02] #52 closed

[2018-05-30 15:03] lburgazzoli commented on #236
Going top close this as watch interface will be rewrote, see #308

[2018-05-30 15:26] #266 closed

[2018-05-30 15:35] lburgazzoli commented on #301
@sostuts does this happen when using watch ?

[2018-05-30 15:37] lburgazzoli commented on #282
@zonghaishang where is it used ?

[2018-05-30 15:38] lburgazzoli commented on #296
@fanminshi have you had any chance to look at this ?

[2018-05-30 15:38] #144 closed

[2018-05-30 15:42] lburgazzoli commented on #257
@fanminshi if you grant me access to com.coreos on sonatype I can work on automatically release snapshots on every successful pr (on master), my user name on sonatype is lburgazzoli. Maybe I also need some permissions on travis-ci to edit project configuration.

[2018-05-30 17:02] fanminshi commented on #257
@lburgazzoli  let me take a look in  granting you access to com.coreos on sonatype.

[2018-05-30 17:03] fanminshi commented on #296
@lburgazzoli  unfortunately I didn't have time. Do you want to take a stab at this?

[2018-05-30 22:22] fanminshi commented on #257
@lburgazzoli I am using Nexus Repository Manager 2.14.8-01 from https://oss.sonatype.org/. I don't see an option to add more user. Any idea why?

[2018-05-31 05:40] lburgazzoli commented on #296
I've had a look at what other projectsare doing and apache projects do not even include the year:

- https://github.com/apache/kafka/blob/trunk/core/src/main/scala/kafka/client/ClientUtils.scala
- https://github.com/apache/camel/blob/master/camel-core/src/main/java/org/apache/camel/CamelContext.java
- https://github.com/apache/karaf/blob/master/main/src/main/java/org/apache/karaf/main/Bootstrap.ja

[2018-05-31 08:49] gi-wg2 commented on #327
Any plans to release a new version? Seems like you have fixed a lot of dependencies after the last commit, so would be nice to test with the newest version.

Or do you plan to release up to date snapshot versions?

[2018-05-31 08:54] lburgazzoli commented on #327
I'm working to release snapshots

[2018-05-31 09:41] zonghaishang commented on #282
Thanks for your reply, I handled it myself .

[2018-05-31 09:41] #282 closed

[2018-06-05 08:32] #257 closed

[2018-06-05 08:59] lburgazzoli commented on #327
@gi-wg2 snapshots are now published automatically

[2018-06-05 17:14] fanminshi commented on #257
@lburgazzoli I am curious how are you able to publish the snapshot without me adding you as a user?

[2018-06-05 17:18] lburgazzoli commented on #257
as I am a maintainer, I've asked sonatype to grant me the permission to do so :)

[2018-06-05 17:41] fanminshi commented on #257
@lburgazzoli awesome!!

[2018-06-06 03:21] liudechi7 commented on #291
I also encountered the same problem. Using a distributed lock, two programs compete to acquire locks, each maintaining the lock's associated lease id's expiration time (keepAliveOnce). When the lock program is terminated, theoretically the expiration time is reached, the lock should be released, and another program acquires the lock, but the actual Failed to get the lock. This problem is not easy

[2018-06-14 02:07] chutian52 opened #331 "io.grpc.StatusRuntimeException: UNKNOWN"
Hi all:
    when I use jetcd for simple use. It throws `io.grpc.StatusRuntimeException: UNKNOWN`
[code]
and the source code is here
[code]
When I use etcdctl, it works
[code]
running etcd by './etcd‘   Is there anything wrong?

[2018-06-14 02:08] chutian52 commented on #331
etcd log
[code]

[2018-06-14 02:21] chutian52 commented on #331
It's my fault,Packages conflict with ibm's etcd-java

[2018-06-14 02:21] #331 closed

[2018-06-14 04:33] chutian52 opened #332 "How to check whether a java etcd client is available?"
Hi all:
    I only found `close()` method in `Client` api. Is there any way to check if etcd client is available?

[2018-06-14 06:34] lburgazzoli commented on #332
what do you mean ?

[2018-06-14 07:39] chutian52 commented on #332
@lburgazzoli  Just want to determine the client that create can be used without throw any exceptions
[code]
I mean pre check befor I use Client Api

[2018-06-14 07:48] lburgazzoli commented on #332
Not very sure about what you are trying to achieve, I mean even if the client is "ready", any call such as KV::get can fail or throw exceptions if i.e. the endpoint crashes in between so it looks useless to me.

[2018-06-14 08:48] chutian52 commented on #332
exactly. Thanks @lburgazzoli

[2018-06-14 08:48] #332 closed

[2018-06-22 12:28] lburgazzoli opened #333 "async api : make keep alive asynchronous"
Initial support for keep alive asynchronous listener #308

[2018-06-22 13:03] #333 closed

[2018-06-22 15:31] lburgazzoli opened #335 "async api : make snapshot asynchronous"
Related to #308

[2018-06-22 15:43] #335 closed

[2018-06-22 15:52] #321 closed

[2018-06-22 15:53] lburgazzoli commented on #327
@gi-wg2 have you been able to test against snapshots ?

[2018-06-22 15:54] lburgazzoli commented on #308
keep alive and snapshot are now async, watch will be implemented after etcd 3.4 is released

[2018-06-22 15:55] lburgazzoli commented on #309
@liukun4515 have you been able to progress on this issue ?

[2018-06-22 15:57] #247 closed

[2018-06-22 15:57] #296 closed

[2018-07-04 23:55] wangwg1 opened #338 "can not put or get any key, and not have any error"
package com.test.jetcd;

import java.util.concurrent.ExecutionException;
import com.coreos.jetcd.Client;
import com.coreos.jetcd.KV;
import com.coreos.jetcd.data.ByteSequence;

public class App
{
    public static void main( String[] args )
    {
        System.out.println( "Hello World!" );
     // create client
        Client client = Client.builder().endpoints("http://localhost:2379").build();

[2018-07-05 00:00] wangwg1 commented on #338
this is console log:

Hello World!
2018-07-05 07:53 -DEBUG (Slf4JLogger.java:71)- Using SLF4J as the default logging framework
2018-07-05 07:53 -DEBUG (Slf4JLogger.java:76)- -Dio.netty.eventLoopThreads: 8
2018-07-05 07:53 -DEBUG (Slf4JLogger.java:71)- Platform: Windows
2018-07-05 07:53 -DEBUG (Slf4JLogger.java:76)- -Dio.netty.noUnsafe: false
2018-07-05 07:53 -DEBUG (Slf4JLogger.java:76)- Java vers

[2018-07-05 03:34] wangwg1 commented on #338
ok，I got it，reason is the byteString not display in etcdctl ls command，but I find it in default.etcd\member\snap\db use notepad。
use：
System.out.println(getResponse.getKvs().get(0).getValue().toStringUtf8());
can display the value。

[2018-07-05 08:24] gi-wg2 commented on #327
I haven't, but it seems like this typically is a problem due to dependencies.

For me, it occurred due to versions of dependencies being set in a common dependency management.

[2018-07-05 08:24] #327 closed

[2018-07-06 06:02] hhxx1994 opened #339 "WARNING: 2018/07/06 13:44:16 grpc: Server.processUnaryRPC failed to write status connection error: desc = "transport is closing""
[code]

[2018-07-10 02:00] agarman commented on #258
@lburgazzoli understood

[2018-07-18 19:19] juddgaddie commented on #338
@wangwg1 if your issue is resolved then can you close the ticket?

[2018-07-19 08:33] #338 closed

[2018-07-23 20:11] vorburger opened #340 "Developing jetcd with Eclipse and M2E is a PITA"
I have just tried to import this project into Eclipse with M2E (Maven integration) to make a small contribution, and found it to be quite a PITA. Therefore opening this issue to group a number of things that need to be done to make this smoother.

[2018-07-23 20:33] vorburger opened #342 "ByteSequence should offer methods with an encoding argument"
`com.coreos.jetcd.data.ByteSequence` uses java.lang.String's `getBytes()` which is _using the platform's default charset_.

ByteSequence's `toString()` method already has a `java.nio.charset.Charset` argument, but e.g. its `fromString()` and several other methods do not.

Ideally, all ByteSequence's methods (static and constructors) should have variant which also accept an `java.nio.charset.Charse

[2018-07-26 17:31] vorburger opened #343 "How to filter out watching yourself?"
How can one set up a watcher to get notified of changes EXCEPT the ones that respective client itself sent in the first place? Or does this does not make any sense in etcd (not just jetcd) ?

More background: I'm watching a kind of "root" prefix, in order to get notified of all changes made by other nodes in a clustered application using jetcd. Processing the `WatchEvent`s updates some sort of in-

[2018-07-27 14:05] vorburger commented on #343
I've asked this on https://groups.google.com/d/msg/etcd-dev/GMpG5DtSYeM/1xZT1KGKBAAJ.

[2018-08-08 13:26] #343 closed

[2018-08-08 17:28] gyuho opened #345 "jetcd repository has been moved to "etcd-io/jetcd""
Just to ping @lburgazzoli @fanminshi.

Please feel free to close.

And does jetcd use Travis?

We've moved all etcd projects to https://travis-ci.com/etcd-io.

Please let me know if you need access to Travis CI.

[2018-08-08 18:39] lburgazzoli commented on #345
I'm renaming the base package and maven coordinates,

[2018-08-08 18:40] lburgazzoli commented on #345
@gyuho yes I need access to travis

[2018-08-08 18:43] fanminshi commented on #345
@gyuho yes, we use travis.

[2018-08-08 18:48] gyuho commented on #345
Just added you both as admin to jetcd repo.

Can you use your own travis account and try to sync with etcd-io here https://travis-ci.com/etcd-io?

You should already have access by now.

[2018-08-08 19:55] fanminshi commented on #345
It seems like we are still using the coreos tavis https://travis-ci.org/coreos/jetcd/.

[2018-08-08 19:56] lburgazzoli commented on #345
we need to disable it

[2018-08-08 21:06] gyuho commented on #307
I've added Go client part http://etcd.readthedocs.io/en/latest/client-feature-matrix.html here. Whoever interested in keeping Java part up-to-date is welcome to contribute.

[2018-08-08 21:16] hexfusion commented on #307
@gyuho I can take this on would be good for me to dig into jetcd a little anyway. What are the requirements for adding new client packages to etcd-io have we outlined that yet?

[2018-08-08 21:32] fanminshi commented on #345
@gyuho the transition from coreos/jetcd to etcd-io/jetcd is complete.

[2018-08-08 21:38] gyuho commented on #345
Thanks!

[2018-08-08 21:39] gyuho commented on #307
@hexfusion Sure, please work with @lburgazzoli who has some roadmap on jetcd development.

[2018-08-09 12:51] hexfusion commented on #307
@lburgazzoli any details you can shed are appreciated. Feel free to email if it is information not in the repo.

[2018-08-13 08:43] lburgazzoli commented on #307
@hexfusion there's definitively a need for:

* better testing
    - remove testng
    - migrate to junit5
    - better and standalone unit tests using mock objects (a framework to easily mock etcd's grpc communication would be really useful)
    - better and standalone integration tests
    - add more coverage

* dcumentation
    - improve javadoc
    - create a user guide

[2018-08-13 14:59] vorburger opened #350 "dependabot"
I've used [my github2github.sh](https://github.com/vorburger/vorburger-dotfiles-bin-etc/commit/6280479c242055882035eefddca732f1ce0874e9) to "manually port" and contribute a few version bumps proposed by https://dependabot.com (@dependabot) such as #347 and #348 and #349 to this project.

Perhaps someone with permissions on this project would like to enable dependabot directly on this repo?

[2018-08-13 15:08] lburgazzoli commented on #350
I've never used it, is it possible to exclude of the dependencies from the check ?

[2018-08-13 15:12] vorburger commented on #350
@lburgazzoli they do it differently, it's one of those "bot" things... it raises PRs, and if you close a PR without merging it it's smart enough to shut up about it :smile: Or at least for a while - and I think with different comments in such PRs you can make it exclude longer (I've never tried, but if you read the "Dependabot commands and options" e.g. on https://github.com/vorburger/jetcd/pull/2

[2018-08-13 15:14] lburgazzoli commented on #350
ah yeah, let me try

[2018-08-13 15:18] lburgazzoli commented on #350
done

[2018-08-13 15:18] #350 closed

[2018-08-14 00:35] vorburger opened #352 "Explicit target/classes in POM seems unnecessary (and throws off M2E)"
I've tracked down one of a number of problems faced as part of overall #340 to this beauty:

        <resources>
            <resource>
                <directory>target/classes</directory>
                <includes>
                    <include>**/META-INF/services/*</include>
                </includes>
            </resource>
        </resources>

which appears in the POMs of jetcd-common, jetc

[2018-08-14 00:37] vorburger commented on #352
https://github.com/etcd-io/jetcd/pull/353 could fix this. Unless I'm missing something why that's a Bad Idea.

[2018-08-14 01:01] vorburger commented on #340
Also this 5th problem from the `protobuf-maven-plugin` and `depends-maven-plugin`, both of which declare that they can run in M2E (their default built-in Lifecycle Mapping, seen in Project > Properties > Maven > Lifecycle Mapping, is Mapping: execute from Source: Extension), but that is a sham - they don't really run well in Eclipse... e.g. they're incapable of performing workspace dependency reso

[2018-08-14 01:55] vorburger commented on #340
Re. the 2nd problem (above) re. os-maven-plugin; I think I've found a very nice solution, see my new comment in https://github.com/trustin//issues/34 ... I'll try raising a PR which applies that trick to jetcd, as soon as my other pending PRs re. this are merged.

[2018-08-14 05:49] #352 closed

[2018-08-14 12:43] #340 closed

[2018-08-14 12:47] vorburger commented on #309
I've made a start with this issue in #358; that's 1/4 done. The `ClusterClientTest`, `AuthClientTest` and `LockTest` still have to be done (hopefully by others than me) before we can fully remove the testng dependency.

The point re. dependency testing is easy enough to resolve - e.g. in #358 the testDelete() now simply first calls testPut() instead of TestNG's `dependsOnMethods`. That's simpler,

[2018-08-14 12:54] lburgazzoli commented on #309
@vorburger yes dependsOnMethods and other similar stuffs should be removed, we can also have independant test so a change on one of the methods does not imact all the test.

[2018-08-20 17:25] vorburger commented on #243
Just in case anyone implementing this needs any inspiration for how to create auto configuration beans in spring boot, perhaps this https://github.com/vorburger/MariaDB4j/pull/153/files could be useful to peak at.

[2018-08-20 17:26] #300 closed

[2018-08-20 17:31] lburgazzoli commented on #243
It would be nice also to update this project:
https://github.com/spring-cloud-incubator/spring-cloud-etcd

On Mon, 20 Aug 2018 at 19:25, Michael Vorburger ⛑️ <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-08-20 17:36] vorburger opened #361 "etcd launcher, by exec-ing instead of Testcontainers"
It can be useful for projects using this jetcd project to be able to start etcd server in their respective tests. And not just for tests, but possibly also to simplify at least development (but probably never production) set ups - think "embedded database" (à la Derby, h2, [MariaDB4j](https://github.com/vorburger/MariaDB4j/) & Co.).

The tests in this project use [Testcontainers](https://www.testc

[2018-08-20 17:41] vorburger opened #362 "Use ErrorProne"
Would you guys like to use https://errorprone.info in this project here? It's like FindBugs / SpotBugs. Would you welcome a contribution for this? :smile: I'm using it over on https://github.com/opendaylight/infrautils/blob/aaf0e3a19d2c28d7ba0dd3739d44a23593634f85/common/parent/pom.xml#L106 and could probably copy/paste most of it - and fix up anything which it may flag up.

[2018-08-20 18:04] lburgazzoli commented on #362
it should already be in place

On Mon, 20 Aug 2018 at 19:41, Michael Vorburger ⛑️ <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-08-20 18:07] lburgazzoli commented on #361
we were using a similar strategy in the past but it was not the best
solution so I’d really like ti keep testcontainers for integration test and
have a better mock framework for unit tests.

But an ‘exec’ server could be useful so if you have time to contribute it,
just send a pr and we’ll review it :)

On Mon, 20 Aug 2018 at 19:36, Michael Vorburger ⛑️ <notifications@github.com>
wrote:

--
--
Luc

[2018-08-20 19:29] vorburger commented on #362
oh yes, it is - I hadn't even seen that... closing this, and (separately) proposing #363 for more checks.

[2018-08-20 19:29] #362 closed

[2018-08-20 19:36] vorburger commented on #342
@lburgazzoli there's more to be done here IMHO... I'll open a 2nd PR following up on your 1st one.

[2018-08-21 08:06] vorburger commented on #342
FTR - more discussion about this now in #364 ...

[2018-08-21 08:54] vorburger opened #365 "eclipse: Let IDE compile into a different directory than target/"
Following up on #340 (and my various PRs related to that), I'm still regularly hitting another Eclipse IDE related problem when working on this project: Having both the IDE and a CLI Terminal for `mvn` open, one gets those annoying "conflicts" when Eclipse (M2E) seems to Build at the wrong time and interfere with a Maven build running on the CLI. For example, I've just hit the problem below, which

[2018-08-21 09:55] vorburger opened #367 "Performance Test Example"
I'm interested in learning more about the performance of jetcd, specifically things like e.g. the maximum number of parallel TXN with a handful of PUT over a relatively large key space per sec.

I'm assuming that there already are performance tests on etcd itself (where, BTW?), and just doing the same through jetcd should lead to similar results - but think it's interesting to anyway exercise it h

[2018-08-23 12:07] #365 closed

[2018-08-23 12:10] lburgazzoli commented on #367
Please do it :)

[2018-08-23 12:13] vorburger opened #370 "Mixed JUL & SLF4J logging framework use"
Code review in #363 has stumbled upon that this project currently uses mixed JUL & SLF4J logging frameworks - [some JUL here](https://github.com/etcd-io/jetcd/search?q=java.util.logging&unscoped_q=java.util.logging) and [some slf4j here](https://github.com/etcd-io/jetcd/search?q=slf4j&unscoped_q=slf4j).

The goal of this issue, if everyone agrees, is to move those 2-3 JUL usages to SLF4j, and then

[2018-08-23 12:17] lburgazzoli commented on #370
@vorburger at the moment no but I can check next week but if you have time, you're more than welcome (and thx for all the fixes btw)

[2018-08-23 12:53] fbricon commented on #365
this is the right solution for this problem. As for having a global parent pom.xml? YMMV. Some projects using hot-reload benefit from having the build output shared between the IDE and CLI.
For a local development workflow requiring regular CLI builds, I think skipping the `clean` part of the build is usually acceptable and doesn't cause problems. Because you're not actually performing production

[2018-08-23 13:28] lburgazzoli commented on #342
ok

[2018-08-23 19:44] vorburger commented on #365
Good hint re. clean, tx. I just don't trust mvn anymore without clean. 😉

[2018-08-25 01:50] xiang90 commented on #367
see https://github.com/etcd-io/dbtester @vorburger

[2018-08-25 06:28] #342 closed

[2018-08-25 06:29] #370 closed

[2018-09-03 05:52] bsideup commented on #361
Hi @vorburger,

I'm a member of Testcontainers project and would really like to hear from you what kind of issues you had, especially on Windows :)
We want to make it painless and happy to collect any kind of feedback 👍

[2018-09-06 15:32] vorburger opened #382 "OSGi: ClassNotFoundException: javax.security.cert.X509Certificate cannot be found by io.etcd.jetcd-all_0.3.0.SNAPSHOT"
I'm hitting this while playing over in https://github.com/vorburger/opendaylight-etcd :

[code]

I guess the `MANIFEST.MF` of the jetcd-all-*.jar is missing `javax.security.cert` in its `Import-Package` ..

@lburgazzoli does jetcd-all-*.jar work for you under OSGi?

[2018-09-06 15:53] lburgazzoli commented on #382
long time I did't test it

[2018-09-06 16:10] vorburger commented on #382
@lburgazzoli so yeah it's actually totally broken - I was just able to reproduce this, by making the [ClientServiceTest](https://github.com/etcd-io/jetcd/blob/c734d207693e5286905bde8217b9882949610edd/jetcd-osgi/jetcd-karaf/src/test/java/io/etcd/jetcd/osgi/ClientServiceTest.java) actually "do something" ... currently it only `assertThat(client).isNotNull();` but if we also make it `client.getKVClie

[2018-09-06 17:49] vorburger opened #384 "etcd launcher (based on Testcontainers)"
[This is similar to #361, but based on jetcd code as-is with Testcontainers, instead of [ch.vorburger.exec](https://github.com/vorburger/ch.vorburger.exec)]

It can be useful for projects using this jetcd project to be able to start etcd server in their respective tests. And not just for tests, but possibly also to simplify at least development (but probably never production) set ups - think "embe

[2018-09-06 17:54] lburgazzoli commented on #384
Fine with me but I’d sai this low priority

On Thu, 6 Sep 2018 at 19:50, Michael Vorburger ⛑️ <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-09-06 17:55] vorburger commented on #361
@bsideup nice to meet you. I have not had any particular issues with Testcontainers; it seems great!

It's just that if one were to use etcd as a data store in a project and had integration tests for it, and would require all (possibly many) developers to have Docker installed to be able to run TestContainers, that could raise the barrier to entry to another (not this jetcd) project. However I tot

[2018-09-06 17:56] vorburger commented on #382
I have a fix in https://github.com/vorburger/jetcd/commit/84a50c4e27df0bf8118230379f1e3ed98fa89fc7, but with the `ClientServiceTest` actually "doing something" now (before it dit not really), it only works if you have an etcd locally running ("`sudo systemctl start etcd`") ... we would need to actually start a
server, like the tests in jetcd-core do, for the ClientServiceTest to pass on CI - and n

[2018-09-06 17:57] vorburger commented on #384
but I need it to be able to contribute a non-regression test for #382, AND I'm wiling to actually do it... :smiley:

[2018-09-06 18:38] fanminshi commented on #384
it sounds like a good idea to me. free feel to work on it.

[2018-09-06 21:30] vorburger commented on #384
done! But let's keep this issue open, so that remember to add a blurb about it to the README ...

[2018-09-07 04:42] #382 closed

[2018-09-10 04:52] amanda2015 opened #390 "com.coreos.jetcd.exception.CompactedException"
What condition throws this exception?
I just know to watch a compacted key, that will throw a compacted exception. Is there any other scenario that throws this compacted exception?

[2018-09-10 18:43] vorburger opened #393 "OSGi: java.lang.NoSuchMethodError: io.etcd.jetcd.data.ByteSequence.getByteString()Lcom/google/protobuf/ByteString;"
Somewhat similiar problem to #382, affecting (only) OSGi based used of jetcd:

    java.lang.NoSuchMethodError: io.etcd.jetcd.data.ByteSequence.getByteString()Lcom/google/protobuf/ByteString;

for any code using `io.etcd.jetcd.data.ByteSequence`'s getByteString(), which returns a `com.google.protobuf.ByteString`. I'm hoping to have a fix for this, with a non-regression test, coming up ASAP...

PS:

[2018-09-10 18:44] vorburger commented on #393
The problem is, obviously, somehow with an `Export-Package` in a `MANIFEST.MF` ...

[2018-09-10 18:47] lburgazzoli commented on #393
Yes it should not be expose as public api

On Mon, 10 Sep 2018 at 20:43, Michael Vorburger ⛑️ <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-09-10 19:31] vorburger commented on #393
but how to? This is in io.etcd.jetcd.data, but used in io.etcd.jetcd.internal.impl (by AuthImpl, ClientConnectionManager, KVImpl, LockImpl, WatchImpl). The only way I can see to do that would be to make `getByteString()` package local instead of public, and then physically move jetcd.internal.impl into jetcd.data... before proposing that fairly drastic change in a PR, it seems the sort of thing wo

[2018-09-11 02:39] amanda2015 commented on #390
If a watcher simultaneously watch large amounts of  keys, Will that happen "the watcher cannot catch up with the progress of the key-value store"?

[2018-09-11 07:16] lburgazzoli commented on #393
Wondering if we can get rid of such class and just use strings as keys as the go client.

[2018-09-18 10:14] vorburger opened #399 "ByteSequence toString ?"
For debugging, I've found it sometimes useful to log the ByteSequence of a KV.

Our `io.etcd.jetcd.data.ByteSequence` currently does not implement `java.lang.Object.toString()`.

I have therefore implemented [this helper utility for this](https://github.com/vorburger/opendaylight-etcd/blob/d0ea73c1181f27d33a7aa4d199d9c4887e26cdfc/ds/src/main/java/org/opendaylight/etcd/utils/ByteSequences.java) (se

[2018-09-20 13:15] wenjin227 opened #400 "set keepAlive, when one of computer disconnect and connect later, the all keepAlive invalid"
set keepAlive, when one of computer disconnect and connect later, the all keepAlive invalid

[2018-09-20 13:33] lburgazzoli commented on #400
can you provide more details ?

[2018-09-20 14:43] vorburger commented on #400
@wenjin227 or just directly raise a Pull Request :smile: to illustrate what you mean in code instead words?

[2018-09-21 01:44] wenjin227 commented on #400
there is three computer,each computer install etcd server,they are A ,B ,C
in the A ,run a program to put a key-value(just  like fooa - test) with TTL(2 s) and  keepAlive it.
in the B ,run a program to put a key-value(just  like foob - test) with TTL(2 s) and  keepAlive it
when the A network disconnect and connect(the time between more then 10s ), find the key foob has been deleted or delete later

[2018-09-21 04:47] lburgazzoli commented on #400
looks like you have to open an issue on etcd, not jetcd

[2018-09-21 05:49] wenjin227 commented on #400
maybe the config GRPC make it, when the TTL time is small (1 s)

ETCD_GRPC_KEEPALIVE_MIN_TIME="5s"
ETCD_GRPC_KEEPALIVE_INTERVAL="2h0m0s"
ETCD_GRPC_KEEPALIVE_TIMEOUT="20s"

[2018-09-26 17:20] MustAdmin opened #405 "QUESTION: Frequent io.grpc.StatusRuntimeException: CANCELLED"
Hi Jetcd team,

I am using Jetcd driver to connect to ETCD and off late we are seeing a lot of occurrence of this error while reading from ETCD.
[code]
I am thinking this is something related to the time outs that we see while using ETCDCTL. To counter that we use `--dial-timeout=120s` and `--command-timeout=120s` parameters.
I am wondering whether something similar is available in Jetcd to config

[2018-10-04 05:29] dkellenb opened #408 "Support for leader election"
It would be great if jetcd would support leader election. I checked i would be able to implement this based on `jetcd` based on following shell script: https://gist.github.com/ueokande/01ec5cdd6fa31f9bd481dc05e7d42c50

What I miss is how I can implement the requests with jetcd:

`curl -sSL -XPUT "${LEADER_KEY}?prevValue=${ID}&ttl=${TTL}&value=${ID}"` and `curl -sSL -XPUT "${LEADER_KEY}?prevExist=f

[2018-10-04 07:30] lburgazzoli commented on #408
It should be implemented using protobuf api instead of rest, I think there is a protobuf spec on etcd side

[2018-10-05 23:19] vorburger commented on #393
I think that would be a bad idea... I don't know much about Go and what a `string` is there, but in Java, a `String` and a `byte[]` are not the same at all. I think the current API is fine.

So what is left to do in this issue, if nobody has any objections, is to _"make getByteString() package local instead of public, and then physically move jetcd.internal.impl into jetcd.data",_ and once that is

[2018-10-10 09:09] Fangfeikun opened #411 "How to keep watching"

[2018-10-10 09:28] Fangfeikun commented on #411
I user this to keep listen directory, is there graceful way.
[code]

[2018-10-10 09:29] Fangfeikun commented on #411
The example code need to set maxEvents, but i want to keep watching.
[code]

[2018-10-10 10:20] rkujawa opened #412 "IPv6 support?"
Hi, does jetcd support IPv6?

I keep getting the following exception in my application:
[code]

The hostname specified in URL is correct and OS itself can resolve it, though it does only resolve to IPv6 address (by design). It also works correctly if I use plain etcdctl, like:
[code]

[2018-10-10 10:30] vorburger commented on #412
from what you are reporting, looks like it does not... :smile_cat:

If you wanted to debug this and make contributions (Pull Requests) which fixes this up, that would be certainly be most welcome, and I would be very happy to review and merge work in that area. If I had to guess, I'd imagine some code somewhere is wrongly hard-coded to turning `String` into (only) IPv4 `java.net.InetAddress` - kin

[2018-10-10 11:46] vorburger commented on #411
@Fangfeikun not sure I understand your precise question here... the {{while (true)}} loop kind of thing is the right approach.  Your {{for (int i = 0; i < cmd.maxEvents; i++)}} seems wrong - you may miss watch events like this, no? Also, depending on your application, {{catch (Exception e) { System.exit(1);}} may or may not be the best idea.

But this is all about your application using jetcd - no

[2018-10-10 12:11] rkujawa commented on #412
Thanks for quick reply. I've already skimmed through the resolver code and on a first sight it looks okay. I've only seen InetSocketAddress and SocketAddress used in jetcd. As far as I know, these should support IPv6 out of the box. I'll try to arrange some time to further look into this, but can't promise anything.

[2018-10-11 01:11] Fangfeikun commented on #411
@vorburger Thanks for your reply,   [examples](https://github.com/etcd-io/jetcd/blob/master/jetcd-examples/jetcd-watch-example/src/main/java/io/etcd/jetcd/examples/watch/Main.java)  use `for (int i = 0; i < cmd.maxEvents; i++)} ` , i want to keep watching, so i use while(true) . The question is i am not sure it is good way.

[2018-10-12 07:38] #390 closed

[2018-10-19 10:07] lburgazzoli commented on #339
@hhxx1994 is this still an issue ?

[2018-10-19 10:12] lburgazzoli commented on #405
Can you add more information about what operation you are trying to do ?

[2018-10-21 21:52] #393 closed

[2018-10-22 13:53] #308 closed

[2018-10-22 13:53] #411 closed

[2018-10-22 13:59] lburgazzoli commented on #411
The interface ha now changed and it is now async:

[code]

[2018-10-22 16:47] pdfkpb opened #420 "Typo in jetcd-core/src/main/java/io/etcd/jetcd/op/Cmp.java"
Just a small typo where compareBuilder is named compareBuiler

[2018-10-22 19:00] #420 closed

[2018-10-24 07:21] ZhangShangyu commented on #411
wow  nice work 👍    by the way, when will this feature be released?

[2018-10-24 08:02] ZhangShangyu commented on #411
look forward to it

[2018-10-24 23:55] #339 closed

[2018-10-27 03:44] lurenjia528 commented on #55
` etcdctl --cacert /etc/etcd/ssl/etcd-ca.pem --cert /etc/etcd/ssl/etcd.pem --key /etc/etcd/ssl/etcd-key.pem get /hello`  is ok

only pkcs8 in jetcd-0.0.2

`openssl pkcs8 -topk8 -nocrypt -in etcd-key.pem -out pkcs8-key.pem`
[code]
[code]

[2018-10-30 18:15] adyach opened #427 "java.lang.IndexOutOfBoundsException: Index: -1"
Should it be checked for 0 events count before subtracting -1?
https://github.com/etcd-io/jetcd/blob/45c9fa7fee85dd431836a6d164d5627e4e5f63a3/jetcd-core/src/main/java/io/etcd/jetcd/WatchImpl.java#L205

[code]

[2018-10-31 10:55] lburgazzoli commented on #427
what "watcher has property notify on progress" mean ?

[2018-11-01 10:12] adyach commented on #427
@lburgazzoli I have commented on the PR:

[2018-11-06 09:29] vorburger opened #434 "Build Failure java.lang.NoClassDefFoundError: io/etcd/jetcd/ByteSequence in OSGi Karaf IT"
Hitting a local build failure, despite the last merged PR (#432) having been green:

[code]

[2018-11-06 09:31] vorburger commented on #434
Oh ... it's OK with `mvn clean install` - I should know better!  (It's cauz Pax Exam doesn't respect the Reactor, but reads local repo.)

[2018-11-06 09:31] #434 closed

[2018-11-08 20:39] dkellenb opened #440 "Release 0.0.3"
There are quite some PR merged since 0.0.2. What about new release? I'm especially interested to use the new watch API. Please merge #439 before doing the release.

[2018-11-08 20:56] lburgazzoli commented on #440
I'm working on in

[2018-11-09 09:08] Grisu118 commented on #440
It would be great if #437 is also part of the release

[2018-11-09 09:58] #384 closed

[2018-11-09 10:04] vorburger commented on #440
@lburgazzoli perhaps this would be a good opportunity to start creating real Release Notes for this project? Dunno if there is any particular great format that is machine readable by update bump tools such as dependabot and others like it (@greysteil do you have any tips?), but we could make a start by just having a CHANGES.md (e.g. [like this one](https://github.com/vorburger/MariaDB4j/blob/maste

[2018-11-09 10:04] vorburger commented on #440
BTW: Let's mention the new launcher (from #384) in whatever form we document the release!

[2018-11-09 10:07] greysteil commented on #440
By far the best guide on changelogs is https://keepachangelog.com/en/1.0.0/ by @olivierlacan.

[2018-11-09 16:12] pdfkpb commented on #412
@rkujawa Is it possible you could post more information related? I'm having trouble reproducing the issue.

[2018-11-09 21:50] rkujawa commented on #412
It is possible that the issue does not exist anymore - I forgot to add rather important detail, that this was on jetcd v0.0.1.

I've yet to try using newer release (or maybe build jetcd from source), as I didn't have the time to get back to this issue.

[2018-11-12 18:50] schmohlio opened #445 "Stable Version Timeline"
Hello and thx a bunch for this project.

I was wondering if there is an estimated timeline / list of work before this project is deemed stable by etcd-io. I was looking at using some of the nice features in this API for generic gRPC service discovery in [this](https://github.com/schmohlio/grpc-etcd-java) nascent project.

Thanks in advance.

[2018-11-12 20:44] lburgazzoli commented on #445
I working on this, not sure about the eta

On Mon, 12 Nov 2018 at 19:50, Matthew Schmohl <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-11-22 11:51] Liberxue opened #449 "Please refer the individual test results."
[code]

[code]

[2018-11-22 13:43] lburgazzoli commented on #449
do you have docker installed ?

[2018-11-22 13:52] Liberxue commented on #449
Uh huh 😅
Why do you want to start docker to faint? . .

[2018-11-22 13:55] lburgazzoli commented on #449
it is used to spin up etcd server instances for testing purpose

[2018-11-22 13:58] Liberxue commented on #449
Ok, ☆⌒(*＾-゜)v THX , learning new posture, this exception handling is also weird 😅

[2018-11-22 14:55] #449 closed

[2018-11-23 13:09] shyamradhakrishnan opened #451 "Correct value for authority"
Has anyone figured out what is the right value of authority to use when using TLS and multiple etcd servers? As far as I understood, the authority must be equal to the hostname of the etcd server itself, but that will not work in case of multiple etcd servers right? Does this mean that TLS cannot be used with multiple etcd servers?

[2018-11-23 13:49] lburgazzoli commented on #451
There is an issue with grpc java at the moment that make it not so easy to set up ssl, for more info see:

    https://github.com/grpc/grpc-java/pull/2662

[2018-11-26 08:09] yaskoo opened #452 "jetcd-core requires quava-jre"
Tried to use jetcd-core 0.3.0-SNAPSHOT as a dependency to my project so I can  register values to etcd v3 and use the new lease functionality.

After adding jetcd-core
[code]
and running my code I get:
[code]
After some searching I figured that this class comes from guava and looking at the dependency graph I see that jetcd-core only has a transitive dependency to guava 26.0-android trough grpc-co

[2018-11-26 10:14] vorburger commented on #452
@yaskoo Oups. Would you be willing to contribute to this project with a PR which adds a small simple new test which uses the new lease functionality and which fails with the `NoSuchMethodError` and then add the missing dependency to fix that test?

[2018-11-26 23:33] pdfkpb commented on #309
Hello there, I'm working on cleaning up the TestNG dependency, and I'm interested if we'd also like to maintain the dependency on AssertJ, it does seem useful, but if we don't want it, then I can clean it up at the same time.

[2018-11-26 23:43] vorburger commented on #309
@pdfkpb whatever works best for you. Perhaps two separate commits & PRs is simpler to review?

PS: Personally I anyway prefer [G's Truth](https://github.com/google/truth) over AssertJ nowadays, but that's not this issue.

[2018-11-27 08:55] yaskoo commented on #452
Sure, but I'm just not sure how log it will take me to do that, I mean I'll need to get a bit more familiar with the internals of the project.
Also I added guava 26.0, but I think I saw some issues which were for bumping guava version to 27.0.
So which version should I set?

[2018-11-27 11:13] vorburger commented on #452
You could probably [find inspiration in the existing tests which are here](https://github.com/etcd-io/jetcd/tree/master/jetcd-core/src/test/java/io/etcd/jetcd). You'll find how they use the `EtcdCluster` _[Launcher](https://github.com/etcd-io/jetcd#launcher)_; I'm guessing your test would also want to do that.

where?

I think in general bumping to the latest is fine in a project like this. But pe

[2018-11-27 11:55] yaskoo commented on #452
Actually, I think after all everything is fine and my project was the real problem.
After forking the repo and starting to work on a test case everything appeared to work just fine and there're already are tests for the leases.
So I created a brand new project, added the jetcd-core dependency, granted a lease, put some keys ...everything works.

After some more digging in the many (many) modules t

[2018-11-27 12:51] yaskoo commented on #452
yup, the problem was on my side, sorry for the trouble.

[2018-11-27 12:51] #452 closed

[2018-11-27 16:30] pdfkpb opened #454 "Cleanup Tests: Removing AssertJ dependency"
There seems to be no particular reason to use AssertJ, as anything achieved with this can also be achieved with vanilla JUnit, as such I feel it useful in the long run to remove unnecessary dependencies, namely this one.

Related to #309

[2018-11-27 16:52] lburgazzoli commented on #454
Yes everything can be done using pure JUnit but we decided to standardize to assertj as it ease writing some assertions.

[2018-11-27 16:52] #454 closed

[2018-11-27 16:54] lburgazzoli commented on #309
At the moment I would focus to get rid of TestNG only

[2018-11-27 18:18] vorburger commented on #454
Personally I prefer [G's Truth](https://github.com/google/truth) over AssertJ nowadays.

[2018-11-27 18:31] lburgazzoli commented on #454
We can discusd this later but there’s no substantial difference - at least
not that I’m aware of - that would justify the switch so for the moment I
would focus on getting rid of testng.

On Tue, 27 Nov 2018 at 18:19, Michael Vorburger ⛑️ <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-11-30 12:09] LinLshare opened #456 "jetcd support etcd version limit"
Could anyone tell me jetcd support etcd version limit ?
I use etcd version v3.3.8, and use jetcd v0.0.2, connect failed

[2018-11-30 12:46] hexfusion commented on #456
@LinLshare to be clear this same code worked with an older version of etcd? If yes what version?

[2018-11-30 13:50] LinLshare commented on #456
@hexfusion I have no idea, I try to lower the etcd version to 3.3.3, but still the problem, I just use the sample code below

[code]

then I use `docker exec -it etcd3.3.3 /bin/sh` connect to etcd, and type `etcdctl ls -r`
but found nothing with key `/test/testkey`.

[2018-11-30 13:57] hexfusion commented on #456
but found nothing with key /test/testkey.

@LinLshare the client writes to the v3 store you are checking v2 with `etcdctl ls`

try

 `ETCDCTL_API=3 etcdctl get --prefix=true ""` to list all keys

[2018-11-30 14:12] LinLshare commented on #456
@hexfusion It works, thank you so much !!!

[2018-11-30 14:43] #456 closed

[2018-12-03 12:42] taoyouxian commented on #331
I also meet this problem, can I  ask you how to use it with netty in a module, is there anything to notice with the version of netty.

[2018-12-06 04:34] chgitcrazy commented on #270
what's your jetcd version？

[2018-12-06 08:04] MalcolmSanders opened #460 ""com.beust.jcommander.ParameterException" is caught while running io.etcd.jetcd.examples.jetcdctl.Main"
https://github.com/etcd-io/jetcd/blob/34864cd0b2fc0376b6e1f8c8b9f1b40903c5206e/jetcd-examples/jetcd-simple-ctl/src/main/java/io/etcd/jetcd/examples/jetcdctl/CommandGet.java#L36

When I runs this example - io.etcd.jetcd.examples.jetcdctl.Main, I catch the following exception:
-----------------------------------------------------------------------------------------------
[code]
---------------------

[2018-12-06 08:49] lburgazzoli commented on #460
@MalcolmSanders do you mind sending a PR to fix it ?

[2018-12-11 16:06] rcillo opened #464 "Client support for etcd dynamic cluster membership reconfiguration"
When running etcd server on the cloud (AWS, for example), as instances get terminated new instances with different IP addresses are launched to replace them. With time, an etcd cluster that used to be reachable through a set of IP addresses, will have a totally different set of addresses.

In order for the client to be able to keep connected and working with an ever changing set of cluster IP addr

[2018-12-12 08:33] shyamradhakrishnan commented on #440
Please provide any update on the new release

[2018-12-12 08:53] lburgazzoli commented on #440
We are working on it, sorry for the delay

[2018-12-12 11:01] #460 closed

[2018-12-12 11:30] lburgazzoli commented on #309
@pdfkpb any update ?

[2018-12-12 11:35] lburgazzoli commented on #400
@wenjiaswe would it be possible to provide a PR with a test case that reproduces the problem ?

[2018-12-12 11:36] lburgazzoli commented on #301
it should be possible now, see https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/Watch.java#L123

[2018-12-12 11:36] #301 closed

[2018-12-12 11:39] lburgazzoli commented on #399
@vorburger we could ad an `toHexString` ?

[2018-12-12 11:54] rcillo commented on #464
@lburgazzoli yes, I do have time and I'm willing to implement this. But I need some guidance since I'm gRPC is fairly new to me, I don't know exactly where I should implement the solution.

I thought to start by investigating if gRPC channels can somehow establish connections to new hosts dynamically or if I would have to create a completely new channel. A second question I could not answer is, is

[2018-12-12 12:02] lburgazzoli commented on #464
I think the best would be to look at the go implementation and see what they come up with and see if it is applicable to grpc-java too.

[2018-12-12 13:11] vorburger commented on #464
One way to achieve this kind of thing, from a higher level architectural point of view, is to not bake this into code but use an external proxy which does; this is pretty much the "sweet spot" which the hyped "service mesh" infrastructure was created for... check out [Envoy](https://www.envoyproxy.io/) (and may be [Istio](https://istio.io/)).

[2018-12-12 14:55] pdfkpb commented on #309
I'm coming to the end of an internship so it's been a bit busy here, but I'll see about getting a pr in by the end of next week.

[2018-12-13 12:35] MalcolmSanders commented on #460
Sorry to reply late. This is not my working email, so I don't check
frequently.

Previously I'm working on using jetcd to achieve leadership election for
high availability service.
According to current jetcd APIs, I'm trying to composite APIs such as
"lease", "lock", "KV" and "watch" to fulfill my target.
Considering various scenarios such as network disconnection and retry
policy, I find it takes

[2018-12-13 12:39] lburgazzoli commented on #460
Yes we do have plans but at the moment we are quite busy on other topics so I can't promise an ETA

[2018-12-13 13:00] MalcolmSanders commented on #460
Got it. No hurry. Current API works for me.
BTW, do you have any design for it ? Maybe I can contribute for the project
since I'm working on flink which is also an open source project.

Luca Burgazzoli <notifications@github.com> 于2018年12月13日周四 下午8:39写道：

[2018-12-13 13:07] lburgazzoli commented on #460
No but we can have a look at what the go client does to have a rough idea

[2018-12-13 13:13] MalcolmSanders commented on #460
Thanks. I will work out a design doc on leadership election in a couple of
days (maybe next week), do you mind reviewing it or giving any suggestions ?

Luca Burgazzoli <notifications@github.com> 于2018年12月13日周四 下午9:07写道：

[2018-12-13 13:16] lburgazzoli commented on #460
not at all :)

[2018-12-13 13:18] MalcolmSanders commented on #460
Thanks :)

Luca Burgazzoli <notifications@github.com> 于2018年12月13日周四 下午9:16写道：

[2018-12-13 14:46] rcillo commented on #464
@vorburger in this case specifically, the DNS is resolved only once https://github.com/etcd-io/jetcd/blob/c734d207693e5286905bde8217b9882949610edd/jetcd-resolver/src/main/java/io/etcd/jetcd/resolver/DirectUriResolver.java#L77 which means that even if we pointed the service to some proxy, this proxy would have to have static IP address. So, the solution would boil down to having static IP addresses

[2018-12-13 16:37] lburgazzoli commented on #464
I think that cache can be removed, don't remember why it was there or at leas there should be a way to invalidate it.

[2018-12-18 15:33] rcillo commented on #464
In fact, it's already possible to achieve the behaviour I described.

[code]

The load balancer is optional. There is a listener in the resolver which gets called by the channel  in case of some events. The resolver then can `refresh` the list of nodes so that connectivity is not lost in case of replacing all etcd server IPs.

Do you think it would be fine to remove the cache from `DirectUriResolv

[2018-12-18 16:47] lburgazzoli commented on #464
I think you can omit the `uriResolverLoader`

I think the best would be to have an option to enable/disable the cache, maybe we can have the cache off by default.

But you could also add an additional resolver that - if enabled - get the lists of endpoints from etcd

[2018-12-19 06:21] amanda2015 opened #468 "can not connet etcd server with username/password authentication when auth disable"
When I execute command "ETCDCTL_API=3 etcdctl auth disable" in the etcd server. And in my java API I create a connection with username/password authentication.  When I get ot set a key. That will throw an exception "com.coreos.jetcd.common.exception.EtcdException: etcdserver: authentication is not enabled".
But I can get or set a key in my etcd server with username/password authentication. Why thr

[2018-12-19 09:34] lburgazzoli commented on #468
The error comes from the server, do you mind checking what the server logs say ?

[2018-12-19 15:06] rcillo commented on #464
I think there are already enough options. I think that the fact that we discussed this issue here already has some value so that people can find it and use it. I'll close this by now. Thank you for the attention.

[2018-12-19 15:06] #464 closed

[2018-12-20 01:10] amanda2015 commented on #468
Thank you for your response. I think I can get a key-value in Java API just like I can get a key-value with
 etcdctl command when I create a connection with username/password authentication and auth disable.
The logs are as follows(e.g. I get a key):
Exception in thread "main" com.coreos.jetcd.common.exception.EtcdException: etcdserver: authentication is not enabled
    at com.coreos.jetcd.common.

[2018-12-20 05:52] lburgazzoli commented on #468
The error comes from the server and I suspect etcdctl simply ignores it however, I'm not very sure we should do the same.

[2018-12-21 09:00] amanda2015 commented on #468
OK. I got it. Thanks very much.

[2018-12-21 09:44] #468 closed

[2018-12-21 12:20] zonghaishang commented on #440
When is it released?

[2018-12-29 07:36] MalcolmSanders opened #472 "Support namespace in jetcd"
Previously client API in golang has already supported [namespace](https://godoc.org/github.com/coreos/etcd/clientv3/namespace), it'll be quite useful if jetcd also support namespace since it's error-prone to concatenate a namespace prefix with each key before KV/Lock/Watch operations.

[2018-12-29 08:04] MalcolmSanders opened #473 "Propose a utility API for a sequencer API"
In our user cases, we need to use etcd to share an integer and concurrently increase it on demand. While it could be achieved by transactions without too many codes, I thought it might be useful for some users. So just a proposal.

[2018-12-29 09:55] cloudyliu930 opened #474 "Listen for a delete event why can't I receive a message"
Watch.Watcher watcher = etcdClient.getWatchClient().watch(ByteSequence.fromString(prefix), WatchOption.newBuilder().withPrefix(ByteSequence.fromString(prefix)).build());
                try {
                    while(true) {
                        watcher.listen().getEvents().stream().forEach(watchEvent -> {
                            KeyValue kv = watchEvent.getKeyValue();