[2018-12-29 10:14] lburgazzoli commented on #474
can you try with the latest code from master? watcher has been rewritten

On Sat, 29 Dec 2018 at 10:55, cloudy <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-12-29 10:35] cloudyliu930 commented on #474
Ok, thank you very much

[2018-12-29 13:50] lburgazzoli commented on #472
I'm fine with that, do you have any room to contribute ?

[2018-12-29 13:51] lburgazzoli commented on #473
Can you elaborate this a little bit more ? some example would help

[2019-01-02 02:47] MalcolmSanders commented on #472
Yes, and thanks for the invitation. I'll create the PR in this week.

[2019-01-02 02:59] cloudyliu930 commented on #474
I pulled the latest code, it seems that there is a problem

[2019-01-02 03:01] cloudyliu930 commented on #474
I pulled the latest code, it seems that there is a problem, can not listen for deletion events

[2019-01-02 03:35] MalcolmSanders commented on #473
The initial idea of this proposal comes from curator [SharedCount](https://github.com/apache/curator/blob/master/curator-recipes/src/main/java/org/apache/curator/framework/recipes/shared/SharedCount.java) for zookeeper which manages a shared integer. All clients watching the same path will have the up-to-date value of the shared integer.

While our user case is simpler, we only need to make sure t

[2019-01-02 08:00] lburgazzoli commented on #474
can you open a pr eith a reproducer ?

[2019-01-03 01:46] cloudyliu930 commented on #474
`

                Watch.Listener listener = Watch.listener(r -> {
                    r.getEvents().stream().forEach(watchEvent -> {
                        KeyValue kv = watchEvent.getKeyValue();
                    });
                }, t -> {
                    System.out.println(t.getMessage());
                });

                try (Watch.Watcher watcher = etcdClient.getWatchClient().wa

[2019-01-03 15:01] lburgazzoli commented on #473
I'm fine with that, do you mind sending a PR ? I think this kind of utilities deserve a dedicate module, such as jetcd-receipes / jetcd-extensions, what do you think ?

[2019-01-03 15:19] lburgazzoli commented on #474
can ypu plese provide a complete test ? I did try to reproduce it but I can't with the snippet you provided.

[2019-01-03 19:36] xiang90 commented on #473
@lburgazzoli

in the go client, we have a concurrency package to put extensions: https://github.com/etcd-io/etcd/tree/master/clientv3/concurrency

[2019-01-04 09:55] MalcolmSanders commented on #473
@lburgazzoli
I agree, such a module is a set of APIs of higher level than previous APIs such as lease, KV and lock. And higher level APIs such as session, election could be part of it.

[2019-01-04 14:00] lburgazzoli commented on #473
I've created an jetcd-extesions module for which the base package is io.etcd.jetcd.extensions, feel free to send a PR

[2019-01-04 23:09] pdgetrf commented on #277
Still seeing this error in intellij. Any idea?

![image](https://user-images.githubusercontent.com/252020/50715555-b30e9f80-1032-11e9-88c0-12e2e2289b3c.png)

[2019-01-04 23:14] pdgetrf opened #478 "Error:(19, 25) java: package io.etcd.jetcd.api does not exist"
Seeing this error from intellij

![image](https://user-images.githubusercontent.com/252020/50715734-6f686580-1033-11e9-8d41-1b2b95c7750c.png)

Although command line build with "./mvnw clean package -Dmaven.test.skip=true" works fine!

[2019-01-05 10:15] lburgazzoli commented on #478
you need to set the folder in which the maven protobuf plugin generates the java code from protobuf as sn itellij source folder

[2019-01-05 10:15] #478 closed

[2019-01-07 13:58] devenfan opened #480 "etcdserver: mvcc: required revision is a future revision"
We've meet this issue when we try to watch a key like /a/b/c, can somebody give us a clue?

ETCD version:
{"etcdserver":"3.3.8","etcdcluster":"3.3.0"}

<pre>
2019-01-07 21:31:03.077 ERROR [][][][][]etcdserver: mvcc: required revision is a future revision
com.example.etcd.watcher.AsyncWatcher
com.coreos.jetcd.common.exception.EtcdException: etcdserver: mvcc: required revision is a future revision

[2019-01-07 14:03] lburgazzoli commented on #480
can you give more details ?

[2019-01-07 18:32] pdgetrf commented on #478
please add this to a doc somewhere unless I miss it already

[2019-01-08 07:18] oliugian commented on #312
hello,I have got the same problem.how to solve this?

[2019-01-09 12:03] cloudyliu930 commented on #474
Sorry for the late reply. The reason above is that I used 0.2.0 to call the deletion event and then used 0.3.0 to listen, so I did not receive the message. Both sides of the code with 0.3.0 is no problem, I would like to ask when the latest version is expected to be released

[2019-01-09 12:11] lburgazzoli commented on #474
I hope to sort the release issues we have by the end of the week

[2019-01-09 22:46] lburgazzoli commented on #440
release done, should be available soon on maven central

[2019-01-09 22:46] lburgazzoli commented on #474
0.3.0 released

[2019-01-09 22:46] #474 closed

[2019-01-09 22:46] #440 closed

[2019-01-09 22:47] lburgazzoli commented on #445
v 0.3.0 released, should be available soon on maven central

[2019-01-09 22:47] #445 closed

[2019-01-10 08:37] lburgazzoli commented on #440
yes, it is in my todo list, unfortunately this release was not as easier as it should have been and I had no time, do you want to help ?

[2019-01-11 01:41] cloudyliu930 commented on #474
Many thanks

[2019-01-11 06:11] johnyannj opened #481 "tls not work with auto-tls"
server:

`
./etcd --debug --auto-tls=true --peer-auto-tls=true --listen-client-urls='https://10.21.0.1:2379' --advertise-client-urls='https://10.21.0.1:2379' --listen-peer-urls='https://10.21.0.1.248:2378'
`

client:
use InsecureTrustManagerFactory.INSTANCE ingore cert vertify
`
SslContext sslContext = GrpcSslContexts.forClient()
                .ciphers(Http2SecurityUtil.CIPHERS, SupportedCipherS

[2019-01-11 06:12] johnyannj commented on #481
etcd 3.3.6
jetcd 0.0.2
boringssl 2.0.7
netty 4.1.24

[2019-01-11 07:33] lburgazzoli commented on #481
I think the problem has something to do with the authority, I need to find a way to disable such check but that's not so simple.

[2019-01-11 10:16] vorburger commented on #478
A warm welcome to the wonderful collaborative world of open source! YOU can
help out and contribute to this project by raising a Pull Request which
proposes a clarification in doc like a README... ;-)

[2019-01-12 06:50] zonghaishang commented on #440
@lburgazzoli

v0.3.0 released, but I found that build(tag jetcd-parent-0.3.0) is failed,  can this be used in a production environment?

[2019-01-12 07:11] zonghaishang opened #482 "Release 0.0.3 is correct ???"
https://mvnrepository.com/artifact/io.etcd/jetcd-parent/0.3.0

I can't correctly reference the jar package. Is it a pose problem?

<dependency>
  <groupId>io.etcd</groupId>
  <artifactId>jetcd-core</artifactId>
  <version>0.0.3</version>
</dependency>

[2019-01-12 08:50] lburgazzoli commented on #481
If set the authority in the builder it should work

On Sat, 12 Jan 2019 at 06:23, zhaoyan <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-01-12 09:40] lburgazzoli commented on #482
neet to check

On Sat, 12 Jan 2019 at 08:11, yì jí <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-01-13 14:15] lburgazzoli commented on #482
I do not understand what the problem is, can you rephrase the question ?

[2019-01-13 14:20] zonghaishang commented on #482
[code]
I can't reference the package in this way. I tried to go to the maven repository to search for this version 0.0.3 package and I didn't find it.

[2019-01-13 14:20] zonghaishang commented on #482
I switched to the 0.0.3 tag and I found that the ci build failed.

[2019-01-13 14:41] lburgazzoli commented on #482
it is 0.3.0

[2019-01-14 06:43] zonghaishang commented on #482
em.., thanks， close it now.

[2019-01-14 06:43] #482 closed

[2019-01-14 20:26] vorburger opened #483 "KubeCon / Cloud Native Con Europe 2019 (Barcelona May 20–23) Panel to meet-up"
Are any of you watching this repo planning to be at [KubeCon / Cloud Native Con Europe 2019 in Barcelona, Spain from May 20–23](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/) ?

I'm asking because it occurred to me that I could [Submit a Proposal for a Panel](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/cfp/), something general like _

[2019-01-14 23:56] fanminshi commented on #483
I am interested

[2019-01-15 14:30] vorburger commented on #483
Would love to add you; could you please ASAP send me a private email at my GitHub UID `@redhat.com` with your:
* Company
* Title
* Email
* Twitter Handle
* Other Social (i.e. LinkedIn)
* Biography (provide a biography that includes employer (if any), ongoing projects and previous speaking experience)
* Country of Residence
* Has Speaker spoken at any KubeCon + CloudNativeCon conferences before?
*

[2019-01-15 21:08] vorburger commented on #483
@gyuho @hexfusion in case you are planning to be at
KubeCon / Cloud Native Con Europe 2019 (Barcelona May 20–23), would you be interested in being added to a panel about jetcd?

[2019-01-15 23:32] gyuho commented on #483
@vorburger Yes, I will be interested!

[2019-01-15 23:36] gyuho commented on #483
@vorburger Just emailed you. Thank you.

[2019-01-17 15:13] vorburger commented on #483
Cool; I've just submitted a Panel proposal for including @lburgazzoli @fanminshi @gyuho @vorburger.

I'll try to remember to update this issue on:

* CFP Notifications: March 5, 2019
* Schedule Announced: March 7, 2019

[2019-01-29 09:11] zonghaishang opened #488 "Jetcd framework is not scalable"
I want to implement custom dns parsing and use my own factory object `NameResolver.Factory`，
But I found that the jetcd code does not allow users to extend.

`io.etcd.jetcd.ClientConnectionManager#defaultChannelBuilder`：

[code]
Because `SmartNameResolverFactory` is responsible for creating the `SmartNameResolver` object, it forces the use of `DirectUriResolver` as a parser in the constructor, whi

[2019-01-29 13:50] vorburger commented on #488
@zonghaishang if you would like to make a contribution (PR) to this project, we would be happy to review it!

[2019-01-29 14:04] lburgazzoli commented on #488
that's not correct.

we do not expose NameResolver.Factory but we have an URIResolver interface you can implement (as references about how to do it, you can have a look at the https://github.com/etcd-io/jetcd/tree/master/jetcd-resolver-dns-srv).

If you then want to restrict resolver lookup, you can provide your own  resolver loader that return a static list of resolvewrs.

[2019-01-29 14:26] lburgazzoli commented on #473
@MalcolmSanders have you had any time to work on this ?

[2019-01-30 01:49] MalcolmSanders commented on #473
Sorry, I've been occupied in some urgent things last month.
Previously I haven't had time on this issue, but I'm working on #472 since this week and accomplish dev coding yesterday and I'm going to create a RP on #472 this week.

[2019-01-30 02:19] MalcolmSanders opened #489 "Fail to run "mvn test" in MacOS"
Hi, all:

While I ran "mvn test" on macOS, such exception occurred:

-------------------------------------------------------------------------------------

09:58:03.000|INFO |org.testcontainers.DockerClientFactory - Connected to docker:
  Server Version: 18.03.0-ce
  API Version: 1.37
  Operating System: Docker for Mac
  Total Memory: 1998 MB
09:58:04.135|INFO |org.testcontainers.DockerClientFacto

[2019-01-30 10:45] lburgazzoli commented on #488
I do not understand what you mean here, you do not need to modify jetcd code but provide your implementation and configure the builder. It is not so different from providing a custom  NameResolver.Factory.

[2019-01-30 13:39] vorburger commented on #489
@MalcolmSanders if you want to help this project (jetcd), perhaps you could raise this Mac specific issue with the Testcontainers project itself (over on https://github.com/testcontainers/testcontainers-java/issues)? If there is anything which we can do better to make it easier for Mac users, we welcome a Pull Request from you.

[2019-01-31 03:01] MalcolmSanders commented on #489
Thanks for replying. Previously I got a simple workaround, and I'm going to give a PR later.

[2019-02-05 10:50] herbalizer404 opened #492 "SSL configuration guide"
Hi,
We dont success to use our etcd TLS server with jetcd.
To connect with curl or etcdctl, we provide these 3 files and it works well:
etcd-client-ca.cert
etcd-client.crt
etcd-client.key
How to provide exactly these 3 files to jetcd to work in the configuration?

Thank you

[2019-02-06 09:21] herbalizer404 commented on #492
Hi,
We found a way to success, here is our config:
[code]
Note that the value of authority must be the url of the server "etcd.example.com"

[2019-02-06 10:16] vorburger commented on #492
@herbalizer404 cool. Perhaps you'd like to submit a PR to add this as doc to the README?

[2019-02-06 12:56] vorburger opened #494 "TravisCI build broken"
seems like the Travis CI build is currently broken?

https://travis-ci.com/etcd-io/jetcd/builds/99918995, for #493, but unrelated; that couldn't cause this IMHO:

[code]

[2019-02-06 12:57] vorburger commented on #494
@lburgazzoli this couldn't be an impact of 81618f1f185329b39bb9724fd0f1d612780b7e4a ?

Or is it a flaky test?

[2019-02-06 12:58] lburgazzoli commented on #494
I need to investigate a little bit more but it is a problem I saw in the past with one of the test that sometimes fails for a permission issue with docker.

[2019-02-06 23:05] vorburger commented on #494
I by chance just hit this locally also, and dug a bit into it...

so in `jetcd/jetcd-core/target/surefire-reports/testng-junit-results/emailable-report.html` (and also `jetcd/jetcd-core/target/surefire-reports/testng-junit-results/Surefire suite/Surefire test.html`) we find the following, which we couldn't see on Travis:

[code]

This should let me fix this - I'll try raise a PR ..

[2019-02-07 00:18] #494 closed

[2019-02-08 21:44] hlship opened #500 "[0.3.0] network partition results in "schedule resume failed" message, IllegalStateException"
I'm building a distributed task scheduling system on top of etcd.  It is expected to run indefinitely, and performs a leader election, and watches a number of key prefixes in order to monitor the state of workers and tasks.

I'm quite happy with the code, but I'm having trouble as I experiment with network partitions (simulated by stopping the cluster of Docker containers running etcd).

[code]

I

[2019-02-08 21:49] lburgazzoli commented on #500
any chance to provide a pr with a test case ?

On Fri, 8 Feb 2019 at 22:44, Howard M. Lewis Ship <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2019-02-08 21:51] hlship commented on #500
A little tricky, especially cause I'm coding my app in Clojure.  Haven't slung any Java in a few years!

[2019-02-11 11:24] MalcolmSanders commented on #472
@lburgazzoli Sorry for the delay. The patch for jetcd namespace is ready for reviewing.

[2019-02-13 08:41] fanminshi opened #506 "Make Testing Style consistent"
Currently, our testing codebase is mixed with different testing style and testing framework. We should have one standard on how we write tests and also which test framework to use. It will be nice to create this standard also write a testing guide for new contributors.

[2019-02-13 08:46] lburgazzoli commented on #506
related to #309

[2019-02-13 08:46] lburgazzoli commented on #309
@pdfkpb any update ?

[2019-02-20 07:07] gcalvojp opened #510 "Can I connect behind a proxy server?"
I am using `io.etcd.jetcd.ClientBuilder` to build my etcd client, but I don't know how can I specify an HTTP proxy that needs to be used to access the endpoints.

[code]

Is there an easy way to do that?

[2019-02-23 07:33] #472 closed

[2019-02-25 08:58] johnsonin opened #514 "Failed to resolve name. status=Status{code=NOT_FOUND, description=null, cause=null}"
Client client = Client.builder().endpoints("localhost:2379").maxInboundMessageSize(8 * 1024 * 1024).build();
        KV kvClient = client.getKVClient();
        ByteSequence key = ByteSequence.from("test_key".getBytes());
        ByteSequence value = ByteSequence.from("test_value".getBytes());
        kvClient.put(key, value);
warning like this:
Feb 25, 2019 4:51:28 PM io.grpc.internal.ManagedChan

[2019-02-25 09:07] johnsonin commented on #514
localhost:2379->http://localhost:2379

[2019-02-25 09:07] #514 closed

[2019-02-26 06:30] fanminshi commented on #506
@MalcolmSanders would like to work on this? Your namespace pr has great tests.

[2019-02-26 06:38] fanminshi opened #515 "Update license plugin to use year 2019 instead of 2017 for new files"

[2019-02-26 06:39] fanminshi commented on #515
cc/ @lburgazzoli

[2019-02-26 06:42] fanminshi commented on #510
@gcalvojp  can you elaborate your use-case a bit more. I don't understand what's this HTTP proxy that you are talking about.

[2019-02-26 06:45] fanminshi commented on #500
@hlship how are you using jetcd in your use-case to perform leader election?

[2019-02-26 06:51] fanminshi opened #516 "Milestone 0.4.0 Discussion"
Let's discuss what we want to fix/add for 0.4.0 milestone/release. For instance, I want to add lead election API to jetcd.  We can list some tasks we can to finish.

## Add Higher Level APIs:
- [ ] Add leader election API https://github.com/etcd-io/jetcd/issues/408
- [ ] Sequencer API https://github.com/etcd-io/jetcd/issues/473

## Bug Fixes
TODO
## Documentation Improvement
- [ ] Add testing styl

[2019-02-26 06:53] fanminshi commented on #473
@MalcolmSanders  This is a good idea. I would like jetcd to have more high level APIs.

[2019-02-26 06:54] fanminshi commented on #516
also cc/ @MalcolmSanders If you are interested in helping out.

[2019-02-26 06:54] fanminshi commented on #412
@rkujawa let me know if jetcd 0.3.0 solves this issue.

[2019-02-26 07:07] fanminshi commented on #367
@vorburger are progress on this?

[2019-02-26 08:38] MalcolmSanders commented on #473
Thanks. I'll work on it and several other utilities including LeaderLatch which is similar to what in Curator, so that it will be easier to migrate from zookeeper to etcd.

[2019-02-26 10:01] gcalvojp commented on #510
My use case is an etcd client which is in a different network space than the etcd server (direct access is not possible). However, the client can access another host (an HTTP proxy) which can directly reach the etcd server.

Assuming that communication between etcd client and etcd server goes over HTTP, how can I make the client connect to the server through the HTTP proxy?

The idea is that the H

[2019-02-26 18:03] hlship commented on #500
Each candidate obtains their own persist lease (via .keepAlive), and generates a unique token string.
Each candidate then attempts a transaction where they write to a set path, writing the token, using .txn and .If, ensuring the the key-path's version is 0 (e.g., does not exist); the PutOption uses .withLeaseId() to ensure the key-value is deleted if the leader dies or loses its connection to the

[2019-02-27 04:43] fanminshi commented on #510
@gcalvojp have you tried to connect the proxy addr from jetcd directly? e.g use the proxy endpoint when constructing the jetcd client? `client.builder().endpoints("proxy.endpoint")...`

[2019-02-27 04:47] fanminshi commented on #473
@MalcolmSanders Cool, I have a similar goal for jetcd too. To make it a replacement for curator such that java people can use etcd as an alternative to zookeeper. Anyways, I am curious about your use-case to use etcd.

[2019-02-27 05:10] fanminshi commented on #500
@hlship It seems to me that you building your own leader election api on top of jetcd primitive right? Have you tried to replicate this watch error with just simple watch on a key and start/restart etcd container? It is a bit hard to debug this type of issue if it can't be reproduced.

[2019-02-27 06:32] MalcolmSanders commented on #473
@fanminshi  Our user cases are listed in this[ design doc](https://docs.google.com/document/d/12-gIZDuT4IOWG7gmwSqNFsOHuGlkdRHge0ahJ7M311Y/edit#heading=h.sqkj9zjvgicu). Please feel free to relay your comments or suggestions~

[2019-02-27 06:39] fanminshi commented on #473
@MalcolmSanders cool, will take a look.

[2019-02-27 17:20] hlship commented on #500
Sorry, I've been very involved in our own stuff, I may have time later this week to try to write a Java version to reproduce the failure.

[2019-02-28 04:49] gcalvojp commented on #510
Yes, I've tried that but it doesn't work. The proxy host does not act as a *tunnel*; it does not blindly do port forwarding. It is a regular HTTP proxy; it forwards HTTP requests to the appropriate host, that's all.

If I can [set the value of a key](https://coreos.com/etcd/docs/latest/v2/api.html#key-space-operations) by simply doing an HTTP request to the etcd server:

[code]

Then it should be

[2019-03-04 20:23] pdfkpb commented on #309
@lburgazzoli
Unfortunately, my virtual machine I was using was compromised and I lost my code, I'd start it over but have work piling up irl

[2019-03-04 20:30] fanminshi commented on #309
@pdfkpb you can do it from one test pkg at a time. No need to have one big PR that fixes everything.

[2019-03-06 10:21] cloudyliu930 opened #523 "When the etcd is offline and reconnected, watch cannot be reconnected to the etcd"
Io.etcd-jetcd-core -0.3.0. When the etcd is offline and reconnected, watch cannot be reconnected to the etcd

[2019-03-06 10:45] cloudyliu930 commented on #523
When the etcd is offline and reconnected, watch cannot be reconnected to the etcd

[2019-03-06 10:46] #523 closed

[2019-03-06 10:47] cloudyliu930 opened #524 "When the etcd is offline and reconnected, watch cannot be reconnected to the etcd"
Io.etcd-jetcd-core -0.3.0. When the etcd is offline and reconnected, watch cannot be reconnected to the etcd

[2019-03-10 08:24] fanminshi commented on #524
@cloudyliu930 can you reproduce the issue?

[2019-03-11 08:20] cloudyliu930 commented on #524
@fanminshi This problem can be reproduced in my code as follows:

###
                Watch.Listener listener = Watch.listener(r -> {
                    r.getEvents().stream().forEach(watchEvent -> {
                        KeyValue kv = watchEvent.getKeyValue();
                    });
                }, t -> {
                    LogUtils.writeLog(t.getMessage(), LogLevel.Warn);

[2019-03-11 12:52] fanminshi commented on #524
cc/ @lburgazzoli could you take a look?

[2019-03-11 12:57] fanminshi opened #526 "Fails to run test on master branch"
[code]

[2019-03-12 02:33] luckywinds opened #527 "watch can not cancel when client close"
Version：
[code]

Test Step:

1. Build a client
2. New a watch client and listener
3. Watch a key
4. Close the client
5. Build a new client, watch client and listener
6. Watch a new key

Result:

1. OK
2. OK
3. OK
4. OK
5. OK
6. NOK, except just watch the new key, but watch both the old key and new key. BUG?

Check the source code:

[code]

the watch client be close, but seems not work!

Try:

[cod

[2019-03-12 10:16] vorburger commented on #483
Hello everyone, FYI I just got the following:

[2019-03-12 10:16] #483 closed

[2019-03-14 03:41] ralf0131 opened #528 "How to cancel watch?"
Hi

I use the following code to do test the jetcd watch API, my question is: how to cancel the watch with the watch API?

[code]

According to the [doc](https://coreos.com/etcd/docs/latest/learning/api.html), a watch_id is required to cancel the watch.

Is there a way to obtain the watch id?

[2019-03-14 11:17] fanminshi commented on #528
@ralf0131  I think you can just called `watcher.close()` to cancel it since watcher implements [closeable](https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/Watch.java#L166) . you can see that from our [test](https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/WatchTest.java#L113) where we use  `IOUtils.closeQuietly(watcher)` to clo

[2019-03-14 11:18] fanminshi commented on #527
cc/ @lburgazzoli

[2019-03-14 15:37] ralf0131 commented on #528
Hi,

I don't think that would solve my solution.
I tried it locally, after I called `watcher.close()`, and then put value again, the listener would still receive response, which is not I want.

Actually when you look into the source code of `watcher.close()`, it just reset the stream so that it won't be able to make further request. But further update to the watched key will still be notified to t

[2019-03-14 15:44] ralf0131 commented on #528
Here is a code snippet that I worked it around with low-level grpc interface:

[code]

The `getChannel()` does some hack in order to reuse the channel created.
Hopefully the jetcd library could wrap that kind of logic for us.

[2019-03-15 08:14] lburgazzoli commented on #524
@cloudyliu930 according to the code, you create and the close the listener immediately, what is the expectation for that code ?

[2019-03-16 19:38] Solom00n opened #532 "Unable to catch etcd cluster failure"
I'm using the 0.3.0 version of jetcd to observe an etcd cluster composed of 3 nodes in Docker.
After setting up the Watch object, I tried to stop all 3 nodes so that I could handle errors within my microservice. At this point two things happened:
1. The Watch object simply did not react to this change for a long time: no exceptions were raised. I wonder how jetcd checks the health of the etcd clus

[2019-03-16 19:53] fanminshi commented on #532
cc/ @lburgazzoli possibly related to watch too.

[2019-03-16 20:24] fanminshi commented on #526
it is possibly an error prone issue. I open an issue to error prone project.
 https://github.com/google/error-prone/issues/1247

[2019-03-16 21:01] fanminshi commented on #526
I think error-prone is causing problem. we should disable it for now. cc/ @vorburger @lburgazzoli any idea how to do that properly?

[2019-03-16 21:33] fanminshi opened #534 "CI fails to run test"
If you look at travis output from this PR https://travis-ci.com/etcd-io/jetcd/jobs/185436012, you can tell that test ism't able to run due to some issue with docker; I suspect it has something to do with test-container.

[code]

cc/ @vorburger @lburgazzoli

[2019-03-17 01:29] yb172 commented on #534
I'd like to take a look at that. Can I take it?

[2019-03-17 01:29] fanminshi commented on #534
@yb172 sure it is yours!

[2019-03-17 11:12] bsideup commented on #534
FYI this is just a warning that Testcontainers' built-in registry auth failed and it will "Falling back to docker-java default behaviour" as stated in the message.

Only 1 test out of 90 actually failed.

However, it seems that it doesn't check for presence of `$HOME/.docker/config.json`, sounds like a good issue to fix in Testcontainers, up for grabs!

[2019-03-17 18:20] fanminshi commented on #534
@bsideup Thanks for the insight. @yb172 It appears if we fix the failed test, the ci should pass. Also if you are interested, you can fix Testcontainers issue outlined by `it seems that it doesn't check for presence of $HOME/.docker/config.json`.

[2019-03-17 18:33] fanminshi commented on #526
related to https://github.com/google/error-prone/issues/1247

[2019-03-17 19:31] yb172 commented on #489
Interestingly enough I see this error only for one test case: [WatchResumeTest](https://github.com/etcd-io/jetcd/blob/12ad75339701ed21816b99878088c9f13ec3b74a/jetcd-core/src/test/java/io/etcd/jetcd/WatchResumeTest.java#L41) and no error happens for other tests which use `EtcdClusterResource` (e.g. [WatchTest](https://github.com/etcd-io/jetcd/blob/12ad75339701ed21816b99878088c9f13ec3b74a/jetcd-core

[2019-03-18 00:49] yb172 commented on #489
Looks like while default `var/folders/...` causes trouble [other tmp dir `/private/var/tmp`](https://apple.stackexchange.com/a/131080) work fine.

[2019-03-18 02:00] fanminshi opened #537 "jetcd onboarding document"
I am currently writing an on-boarding document for those who want to contribute. I have started a rough draft at https://docs.google.com/document/d/1rQiR9oLr6YVkEpzs6TBMBaq7ODp85AiQD1Rbg818UIA/edit?usp=sharing. Let's discuss what to add and clarify so that it is much easier for people to understand jetcd.

cc/ @lburgazzoli  @vorburger

[2019-03-18 04:35] yb172 opened #538 "Testing: tests don't fail immediately when cluster failed to launch"
Related to: https://github.com/etcd-io/jetcd/issues/489

When running `WatchResumeTest` test stacktraces of failure to start clusters are seen in a few seconds after launch but tests are still in progress. It take about a minute for tests to finally fail.

[2019-03-18 06:05] lburgazzoli commented on #526
I do not have this error, what java version are oyu on ?

[2019-03-18 08:43] #489 closed

[2019-03-19 06:27] cloudyliu930 commented on #524
It was the etcd server that shut down, not the client that shut down, because there was an etcd outage, in which case we wanted the client to be able to reconnect when we restarted the etcd

[2019-03-19 06:45] lburgazzoli commented on #524
[This]( https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/WatchResumeTest.java) test does what - I think - you describe.

Again, the reproducer you posted does not tell us much, the watcher is closed right after its creation so it would be nice if you can give us:

- a clear description of what happen and the expectation
- the steps to reproduce the issue
- any st

[2019-03-19 09:08] #538 closed

[2019-03-19 10:52] cloudyliu930 commented on #524
@lburgazzoli
The operation steps are as follows:
1. Start the etcd server
2. Launch the watch with jetcd
3. Manually close the etcd server
4. The client reports an error as follows
I think it should be an error directly returned, did not try to reconnect.

WatchImpl.class
 @Override
    public void onError(Throwable t) {
      if (this.closed.get() || WatchImpl.this.closed.get()) {
        return;

[2019-03-19 17:31] vorburger commented on #526
@fanminshi likewise, for me running `../mvnw clean package` in `jetcd/jetcd-launcher` does not reproduce this... here's the output of `java -version` on my Fedora 29:

[code]

I do have a suggestion that I left for you in https://github.com/google/error-prone/issues/1247 though.

I don't think we need #533 ...

[2019-03-20 05:54] fanminshi commented on #526
i see. maybe there is something wrong with my computer env.

[2019-03-20 05:59] #527 closed

[2019-03-20 05:59] #528 closed

[2019-03-21 06:15] #309 closed

[2019-03-22 07:59] yb172 commented on #506
@fanminshi @lburgazzoli regarding JUnit5 - do you know if JUnit5 adoption is going well? I've looked at the docs and while JUnit4 is plain and simple, JUnit5 has tons of things and I'm afraid it could quickly turn tests in unreadable mess of conditions, tags and filtering, parameters and so on.

The only convenient thing I could see in JUnit5 are parameterized tests. It doesn't look like we need c

[2019-03-22 08:31] lburgazzoli commented on #506
My experience with junit 5 is in 99% of the case the same as using junit 4 and migration was in most of the case a simple change on the import directive plus some few minor things.

The reason of junit 5 exists is because of junit 4 limitations so I would at least give a try and see how complex it is and in any case we can use the junit 5 classic module to run "classic" junit 4 tests.

So I don't

[2019-03-23 05:58] yb172 opened #545 "Migrate to JUnit5"
Update all tests to use JUnit5 instead of JUnit4 based on discussion in #506.

At least two things would have to be done:
 * Remove dependency on junit4 and move all tests to junit5
 * Refactor [EtcdClusterResource](https://github.com/etcd-io/jetcd/blob/8314aafbd1833b1b10960fccba6f240608111397/jetcd-launcher/src/main/java/io/etcd/jetcd/launcher/junit/EtcdClusterResource.java) to be JUnit5 extensio

[2019-03-23 07:28] yb172 opened #546 "Publish etcd test rule and extension"
I was looking at #545 and the way to port existing `EtdClusterResource` to JUnit5 extension and found this page: https://github.com/junit-team/junit5/wiki/Third-party-Extensions.
I though it could be nice to package existing JUnit4 rule (and hopefully JUnit5 extension) as a jar so anyone who is using etcd could easily use it for their integration tests.

I've looked at maven artifacts and it doesn

[2019-03-23 19:04] fanminshi commented on #506
@yb172 I'd suggest we just try junit 5 like @lburgazzoli  suggested to get a feel how it is.

[2019-03-23 19:05] yb172 commented on #506
Yes, on it: #545

[2019-03-23 19:49] fanminshi commented on #546
@yb172 that's sounds like a good idea. I think it is not too hard to publish the snapshot which is published after every pr merges as seen from this link https://oss.sonatype.org/content/repositories/snapshots/io/etcd/. You might need to play with pom.ymal to get that works. However, publish an official release including this test-extension to https://mvnrepository.com/artifact/io.etcd might need

[2019-03-24 07:13] yb172 commented on #545
@fanminshi @lburgazzoli I've migrated tests to JUnit5 in https://github.com/etcd-io/jetcd/pull/547

A few notes:
 * Moving `@BeforeClass`, `@AfterClass`, `@Before` and `@After`, and `@Test` was trivial
 * Moving to `@ParametrizedTest` was not very trivial but ok. Code seem to be a [bit more concise](https://github.com/etcd-io/jetcd/pull/547/files#diff-013647774aa78a78b529067f19bbdc58R51).
 * There

[2019-03-24 20:54] dbyron0 commented on #545
This is a long shot, but by any chance would @marcphillipp mind taking a look at this and help point us in the right direction?  You've been super helpful with junit info elsewhere (e.g. in the gradle repo) so I figured I'd give it a whirl here too.  Thanks much.

[2019-03-24 23:01] fanminshi commented on #545
`Some tests have external @Rules so we can't completely move to JUnit5 and have to use @EnableRuleMigrationSupport which is experimental. And it doesn't look that GrpcServerRule would be migrated to extension in nearest future.`

I wrote the those unit tests way before we had the test-container capability. I think in the future, we can just write integration tests. I don't see too much utility of

[2019-03-24 23:29] fanminshi commented on #243
@yb172  this is interesting. you can look into this if you are curious?

[2019-03-25 04:00] yb172 opened #548 "Add @Rule-like timeout for tests once supported by JUnit5"
It was decided to not use `assertTimeoutPreemptively` while [migrating from JUnit4 to JUnit5](https://github.com/etcd-io/jetcd/pull/547) (JUnit5 doesn't support `@Rule Timeout timeout`) and rely on CI timeout instead.

It would be great to re-enable timeouts when it could be done in a clean way.

[2019-03-25 04:06] yb172 opened #549 "Remove GrpcServerRule"
To fully migrate to JUnit5 `GrpcServerRule grpcServer` have to be removed from tests.

Two test classes are using it:
 * [`LeaseUnitTest`](https://github.com/etcd-io/jetcd/blob/8314aafbd1833b1b10960fccba6f240608111397/jetcd-core/src/test/java/io/etcd/jetcd/LeaseUnitTest.java)
 * [`WatchUnitTest`](https://github.com/etcd-io/jetcd/blob/8314aafbd1833b1b10960fccba6f240608111397/jetcd-core/src/test/jav

[2019-03-25 05:45] yb172 opened #550 "Check targets appear to be broken when running locally"
When running `./mvnw checkstyle:check` task reports success while it fails on CI because of unused import.

Also when running `./mvnw license:check` following error message is printed:

[code]

[2019-03-25 05:58] yb172 commented on #550
Also given that https://github.com/etcd-io/jetcd/pull/547 changes spacing it looks like indentation is not checked

[2019-03-25 06:38] Liubey opened #551 "something confuse about watcher"
there are some question,thanks a lot:
1.I have a three node cluster,and when I change a path,I receive more than 3 times notify???why,neen some ack when I process the notify?
2.I can't get the old value byevent.getPrevKV(),how?

my code just like this:
`                ByteSequence pathPrefix = ByteSequence.from(path,  RegisterConstants.DEFAULT_CHARSET_UTF8);
                WatchOption wo = Watch

[2019-03-25 06:42] marcphilipp commented on #545
It should be stateless because the same extension instance might be used concurrently when using parallel execution for different test methods or even classes (if the extension is registered globally). Thus, I'd recommend storing state in the store. There's a bit of a learning curve to it, let me know if you have questions. If we can improve the docs based on your feedback, that'd be great.

Test-

[2019-03-25 06:46] yb172 commented on #545
@marcphilipp does it mean that [this implementation](https://github.com/etcd-io/jetcd/pull/547/files#diff-32db6da40a7564e3b9bda37fa8289dfcR39) is incorrect even if it's used with `@RegisterExtension` ([example](https://github.com/etcd-io/jetcd/pull/547/files#diff-2a2c9cd2e9015d6398f91c9d9da3063eR41))?

Thanks for letting us know about timeouts!

[2019-03-25 07:40] marcphilipp commented on #545
It will work as long as you don't use `@Nested` classes.

[2019-03-26 00:22] fanminshi commented on #551
cc/ @lburgazzoli

[2019-03-26 01:54] User979269852 commented on #464
Can you tell me where I can get the function "LoadBalancerRegistry.getDefaultRegistry()"

[2019-03-26 02:54] Liubey commented on #551
When I debug about that,I found that when New Event,the input maybe without prekv

[2019-03-26 03:14] #545 closed

[2019-03-26 06:41] yb172 commented on #506
Related to #550

[2019-03-26 07:48] yb172 commented on #550
Regarding failing `license:check` task: I've tried to use `${session.exectuionRootDirectory}` but it doesn't look like a good solution because any invocation from non-root wouldn't work.
Based on [this comment](https://stackoverflow.com/questions/3084629/finding-the-root-directory-of-a-multi-module-maven-reactor-project#comment67788717_20264709) there is another solution instead of using `director

[2019-03-26 07:52] lburgazzoli commented on #550
what is the problem with directory maven plugin ? just asking :)

On Tue, 26 Mar 2019 at 08:48, Yan <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-03-26 07:58] yb172 commented on #550
Only that I can't run license check locally (error message is provided in issue description)

[2019-03-26 11:48] rcillo commented on #464
@User979269852 I think this is part of grpc-core. I have a line like this in my project `import io.grpc.LoadBalancerRegistry;`

[2019-03-26 15:06] dbyron0 commented on #545
Thank you @marcphilipp !

[2019-03-27 16:32] #550 closed

[2019-03-28 06:55] #515 closed

[2019-03-28 07:57] cherrylzhao opened #557 "can we make retry policy configurable."
can we provide a retry policy api while building the client.
it's better to make retry times and intervals configurable than make it fixed at 3 times.

[2019-03-28 14:52] devinrsmith opened #558 "Implement Compare.CompareResult.NOT_EQUAL"
It looks like Cmp.Op does not implement NOT_EQUAL, but NOT_EQUAL is in the proto specs.

[2019-03-29 04:24] cherrylzhao commented on #361
@vorburger
how about this issue going on, it is better to provide a mock EtcdLauncher framework for unit test

[2019-04-01 18:21] vorburger commented on #361
@cherrylzhao I don't currently have plans to work on this. But if you would you like to take this, go! :smile:

To avoid future confusion, let me close this (old) issue.

[2019-04-01 18:21] #361 closed

[2019-04-04 22:26] devinrsmith opened #561 "invalid prefix calculation"
`OptionsUtil` is not correctly calculating the end range from a prefix. The condition `endKey[i] < 0xff` is *always* true. I've work up a simple PR w/ unit testing.

[2019-04-05 03:37] fanminshi commented on #561
`the condition endKey[i] < 0xff is always true`? can you elaborate?
the code is based on the etcd implementation. see https://github.com/etcd-io/etcd/blob/master/clientv3/op.go#L369

[2019-04-05 03:43] fanminshi commented on #558
yeah, that's right. if you can pull up a pr to fix that, that would be great!
ref: https://github.com/etcd-io/etcd/blob/master/clientv3/compare.go#L40

[2019-04-05 12:23] devinrsmith commented on #561
Sure - java implicit casting is tricky sometimes. In this case, the statement `endKey[i] < 0xff` is the same as `(int)endKey[i] < (int)256`. `byte`s have a range of -128 to 127, so that's why it always evals to true. You can check out the unit test against the old code, and verify that things seem to be broken.

[2019-04-05 18:37] fanminshi commented on #561
@devinrsmith good point!

[2019-04-05 21:45] #561 closed

[2019-04-08 12:08] vorburger commented on #361
More FTR (I'm not still planning to implement this issue; of course others can) just FYI: TestContainers CAN some times be a little bit of a PITA... e.g. https://github.com/testcontainers/testcontainers-java/issues/1356 and https://github.com/testcontainers/testcontainers-java/issues/955.

[2019-04-08 12:10] bsideup commented on #361
I'm sorry, but the PITA here is Docker and Docker's distribution, also Docker Compose (and we do not recommend using it, there are many more things on Docker Compose which really suck compared to generic containers) :)

[2019-04-10 13:25] bouhanm1 commented on #524
@lburgazzoli
Any update regarding this issue, I have experienced the same problem.
When the client is watching, and I stop the server for few seconds, I get the logging error as below, and when I start the etcd server, the watcher does not receive any notifications.

The logged Exception:
`{"timestamp":"2019-04-09T05:04:12.273-04:00","message":"Exception while executing runnable io.grpc.internal.C

[2019-04-11 14:29] vorburger opened #569 "WatchTest is unstable"
https://travis-ci.com/etcd-io/jetcd/builds/107968547 just failed with:

[code]

That build was kicked off after I merged #565, but this failure could not be related to that.

WatchTest just seems to be brittle / unstable.

[2019-04-13 03:33] Koprvhdix opened #571 "Could not find TLS ALPN provider; no working netty-tcnative, Conscrypt, or Jetty NPN/ALPN available"
I use jetcd-all with version 0.3.1-SNAPSHOT without any other dependencies. When I run `GrpcSslContexts.forClient()`, I got an `java.lang.IllegalStateException: Could not find TLS ALPN provider; no working netty-tcnative, Conscrypt, or Jetty NPN/ALPN available` issue. What should I do to fix this bug? Is there any example about buildSslContext? thanks.

[2019-04-15 18:28] Solom00n commented on #532
@fanminshi  @lburgazzoli Since I'm able to systematically reproduce this issue, I have created a small repository on github that can help you to debug and fix it. See [jetcd-issue-532](https://github.com/Solom00n/jetcd-issue-532). The README.md file lists all the steps necessary to reproduce this issue and also explains how to reproduce the issue #524.

Regarding this specific issue, I suppose a g

[2019-04-15 18:34] Solom00n commented on #524
@bouhanm1 same problem here #532. I have created a small repository to help the jetcd staff members reproduce this problem. You can find more information at that link.

[2019-04-16 06:41] unqjohnny commented on #291
@fanminshi  @Grisu118，I also have the same problem in mutil-thread evnriment.
etcd version: 3.3.12 ..  java client verison: 0.0.3. this is my test code:
[code]
and below is EtcdClient code:
[code]
And then is the result:
[code]
Is there any problem with my test code????  Thanks.

[2019-04-17 04:32] unqjohnny commented on #291
maybe the reason is due to params timeout..
[code]
change 1000 to 2000.  every thing ok

[2019-04-18 00:58] #571 closed

[2019-04-29 09:48] 781545872 commented on #571
hello,did you solve this problem?

[2019-04-29 09:48] 781545872 commented on #571
@Koprvhdix

[2019-04-29 09:58] 781545872 opened #576 "sslContext build failed"
I use jetcd with version 0.3.0 without any other dependencies. When I run GrpcSslContexts.forClient(), I got an java.lang.IllegalStateException: Could not find TLS ALPN provider; no working netty-tcnative, Conscrypt, or Jetty NPN/ALPN available issue. What should I do to fix this bug? Is there any example about buildSslContext? thanks.

[2019-04-30 01:28] Koprvhdix commented on #571
Yes. You should use jetcd-core，then see https://github.com/grpc/grpc-java/blob/master/SECURITY.md

  <dependencies>
    <dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-tcnative-boringssl-static</artifactId>
      <version>2.0.20.Final</version>
      <scope>runtime</scope>
    </dependency>
  </dependencies>

And use the correct version, the version is on the same page.

[2019-04-30 02:16] 781545872 commented on #571
Thanks so much.I have troubled by this problem for a long time.I am so glad to solve it.

[2019-04-30 02:18] 781545872 commented on #576
Thanks to @Koprvhdix，the problem is solved.Just see https://github.com/etcd-io/jetcd/issues/571

[2019-04-30 02:18] #576 closed

[2019-05-05 05:16] liurongwei commented on #492
IllegalArgumentException: ALPN must be enabled and list HTTP/2 as a supported protocol

use the code I got a exception like above , did you have the same problem ?

[2019-05-15 16:55] p00h opened #580 "Jetcd on android"
Hello!
It appears the grpc-netty is hardcoded at core, but grpc-netty does not have Android support according to grpc-java security guide. It should be replaced with grpc-okhttp.
Is there a chance to use jetcd on Android? Could anyone make it work?

[2019-05-16 06:54] kenttanl opened #581 "Questions about KeyValue and TTL"
I need to iterate over the value of ETCD, but if I want to know the TTL of the key, I must first use `KeyValue.getLease()` and then continue to use `LeaseClient` to get it, so why not include the TTL attribute in KeyValue class? This will reduce the number of network requests, especially when traversing，like etcd4j.jar. Thanks and sorry my English

[2019-05-24 07:31] alanjuster commented on #580
ok   about what  you  say   is it means  in android  we can not use etcd    yes ?   i try gradle this module in my demo   but is does not work , jar modules  conflict ,then i  sove  jar conflict,  but there is no use , so what is your suggest

好吧你说的是它在android中意味着我们不能使用etcd是吗？ 我在我的演示中尝试gradle这个模块但是不起作用，jar模块冲突，然后我发现jar冲突，但是没有用，所以你的建议是什么

[2019-05-25 03:11] alanjuster opened #583 "if android can use jetcd？"
if android can use it , Can the official give an example?  Thank u!

[2019-05-25 07:35] Koprvhdix opened #584 "How to close the connection l when I close the watcher?"
When I close the watcher, I run `Client.close()`. And It will run the method `ClientConnectionManager.close()`. In this method, ManageChannel will be shutdown. However, when I run the shell `lsof -i:12379`, I will find that the connection isn't close. After I debuged the code, I found that the `terminated` of the channel is false. How to close the connection?

[2019-05-31 15:28] devinrsmith opened #586 "Next release?"
Would it be possible to publish a new release to maven? I'm particularly looking forward to the testing improvements in jetcd-launcher when the container fails to start.

[2019-06-07 12:12] lburgazzoli commented on #586
need to fix a number of issues the I can do a nw release

[2019-06-07 12:49] lburgazzoli commented on #581
The tll attribute is not available from the API so we can't expose it

[2019-06-07 12:49] #581 closed

[2019-06-07 12:52] lburgazzoli commented on #583
@alanjuster I never tested it on android but I do not have any time to test it/support so it would be nice if you can test it and eventually contribute fixed to make jetcd working on android

[2019-06-07 12:53] lburgazzoli commented on #580
@p00h we have no plan to switch to grpc-okhttp at the moment, but you cna give a try an see if it works or not

[2019-06-08 11:57] p00h commented on #580
@lburgazzoli I already did but with no luck. I've been trying to make it work for a week or so and decided to open an issue eventually.

[2019-06-11 11:17] #584 closed

[2019-06-13 15:42] sysadmind commented on #532
I am having a similar issue. It is not clear to me how connection issues should be handled by a user of jetcd. I believe that the onError in watchImpl checks for [a halt error or no leader error](https://github.com/etcd-io/jetcd/blob/jetcd-parent-0.3.0//jetcd-core/src/main/java/io/etcd/jetcd/WatchImpl.java#L246), neither of which match because the cluster is entirely unavailable. This would be use

[2019-06-14 09:06] smile-monkey opened #596 "I think provide a springboot start-up dependency is better. ex:spring-boot-starter-jetcd"
Dependency on com.google.guava-android is not a good idea.

[2019-06-14 09:13] smile-monkey opened #597 "io.etcd.jetcd.api pakage not found,can you submit the file ?"
AbstractResponse dependency io.etcd.jetcd.api.ResponseHeader

[2019-06-14 09:17] smile-monkey commented on #597
WatchGrpc class is missing

[2019-06-14 09:28] lburgazzoli commented on #596
can you elaborate ?

[2019-06-17 07:50] riverlee2014 opened #598 "Why not replace grpc-netty with grpc-netty-shaded?"
Grpc has a shaded module "grpc-netty-shaded"to hide netty dependency in one jar.
If a project has two grpc dependencies version，the "grpc-netty-shaded" and "grpc-netty" will cause some trouble.

[2019-07-02 11:16] dinoopt commented on #405
@lburgazzoli I'm also looking for a similar feature where in like Go client for Etcd, we can provide a timeout value for jetcd also.

eg:
[code]
In this case, the Go client is expected to timeout if the `kvc.Put` operation takes more time than what was specified in `timeout`.

Is there a similar feature available in jetcd, where we can specify a timeout for an Etcd call like put or get which we do

[2019-07-05 10:25] smile-monkey commented on #596
I can dependency spring-boot-starter-redis instand of Jedis.  Simple use redis by StringRedisTempalte etc

[2019-07-09 05:26] dinoopt commented on #405
@lburgazzoli  Is there a plan for jetcd to implement the timeout feature requested above ? Any feedback would be much appreciated.

[2019-07-09 07:12] lburgazzoli commented on #405
I'm currently very busy on other topics so I'm not sure when I can have a look at this, do you have time to work on a PR ?

[2019-07-24 23:08] actien commented on #558
Hey, I fixed this issue in my PR but I couldn't get license headers to work so I closed it. Feel free to work it in if it's relevant, thanks.

[2019-07-26 20:00] itzg commented on #586
I would be interested in a new release in order to pick up https://github.com/etcd-io/jetcd/commit/d42722530d86579231905512c70fe3521532dcf3

[2019-07-29 16:02] lburgazzoli commented on #586
working on it, hope this week

[2019-07-30 18:33] creamsoup opened #611 "travis CI error, invalid java version"
I see following error message from travis CI for [PR](https://github.com/etcd-io/jetcd/pull/610)

[code]

[2019-07-30 21:30] lburgazzoli commented on #611
fixed

[2019-07-30 21:30] #611 closed

[2019-07-31 15:10] dinoopt opened #612 "jetcd gives java.lang.IncompatibleClassChangeError when working with JDK 11"
In my project, there is a requirement to upgrade to JDK 11.  We use jetcd to connect to the Etcd server. After recompiling the code with JDK 11  using jetcd 0.0.2 version jar, it is failing to connect to the Etcd server with the following error.
[code]
From what I could see, starting JVM 9 onwards, the byte code has some strict checking which doesn't allow the calling of static methods within inte

[2019-07-31 15:36] lburgazzoli commented on #612
I never tested againts java 11 so it may require some changes, do you have any time to work a PR if needed ?

[2019-08-07 09:49] kwilliamszaf opened #615 "Watch never catches an etcd event"
Hi,

I have a thread running which is supposed to catch "watch" events from etcd, which I've included below. The lines to log the details of the event are never triggered.

The app can write to etcd, and can also read the keys it has written.

I can also see by running the command below that this is happening correctly.

However, the call to `ref.get()` always returns null.

Am I trying to use thi

[2019-08-07 12:18] lburgazzoli commented on #615
seems like an issue with the prefix, need to digg into it

[2019-08-08 11:12] TisonKun opened #616 "Karaf fails to download"
[code]

[2019-08-08 11:13] TisonKun commented on #616
If only I can config download from `https://repo1.maven.org/maven2/`...

[2019-08-08 12:56] TisonKun commented on #616
I can see it is not about network issue, because when I manually did the change below tests passed

[code]

so the problem is that we do not publish jetcd-all:0.3.1-SNAPSHOT on any of

[code]

[2019-08-08 13:04] lburgazzoli commented on #616
I see jetcd-all and jetcd-osgi in the snapshot repo:

- https://oss.sonatype.org/content/repositories/snapshots/io/etcd/jetcd-all/0.3.1-SNAPSHOT/
- https://oss.sonatype.org/content/repositories/snapshots/io/etcd/jetcd-osgi/0.3.1-SNAPSHOT/

[2019-08-08 13:06] TisonKun commented on #616
@lburgazzoli thanks for your attention.

After a closer look at the log it seems only

http://repository.apache.org/content/groups/snapshots-group/
https://oss.sonatype.org/content/repositories/ops4j-snapshots/

have been scanned. Any ideas?

[2019-08-08 13:10] TisonKun commented on #616
well, some of attempts may be suppressed...

however it is still strange to me that if I turn the version to 0.3.0 it can be properly resolved and to 0.3.1-SNAPSHOT it fails to be resolved.

[2019-08-08 13:14] lburgazzoli commented on #616
it is likely the repository for oss snapshots has not been configured but if you are running the test from the repository, then you should have it locally.

Maybe do a mvn install on the project root

[2019-08-08 13:19] TisonKun commented on #616
Yes you get it. Fixed by

[code]

thanks!

[2019-08-08 13:19] #616 closed

[2019-08-08 13:20] lburgazzoli commented on #616
You may just run `mvn clean install`, it should properly handle module intra-dependencies

[2019-08-08 13:31] TisonKun commented on #616
@lburgazzoli sounds reasonable. The reported build order is

[code]

however, inside `jetcd-karaf` I found dependencies include only

[code]

without `jetcd-all`. Is it an error prone pom?

[2019-08-14 09:28] alanjuster commented on #583
Thank  u  your answer  ,   i has do it ,it also can use in android, what we only need do is  add into gradle  then  use it  what we has used in java

[2019-08-14 09:29] #583 closed

[2019-08-14 10:07] guanyufen123 opened #621 "Put failed without any error message"
`
  public static void put() {
        try {
            Client client = Client.builder().endpoints("http://127.0.0.1:2379").build();
            ByteSequence key2 = ByteSequence.from("test/4".getBytes());
            String v = "23456yu";
            ByteSequence value2 = ByteSequence.from(v.getBytes());
            CompletableFuture<PutResponse> response = client.getKVClient().put(key2, value2);

[2019-08-16 01:55] ujued opened #622 "Hope for a new version！"
`ETCD`， a nice artifact!  Have plans to release a new `JETCD `version? Eagerly awaited, thanks the project team.

[2019-08-20 03:05] nsirohi-ps commented on #492
@herbalizer404 , what exactly do you mean be the url of the server? the fqdn?

[2019-08-20 03:13] nsirohi-ps commented on #275
@Abhijith1 , what did you have to pass to the authority method to get this to work?

[2019-08-20 19:07] nsirohi-ps opened #624 "can't set up TLS, maybe because of incorrect authority"
(I see that there's an open issue to add some documentation around this).

etcd version: 3.1.9
In the terminal:

ETCDCTL_API=3 etcdctl --endpoints=[https://localhost:2379] --cert {cert} --key {key} --cacert {cacert} get {} works just fine.

In my code (Java 11, latest jetcd):

SslContext sslContext1 = GrpcSslContexts.forClient().trustManager(caCert).keyManager(pk1, certificate).build();
client = C

[2019-08-26 12:06] sqtds commented on #532
I found this problem also. Is there anybody  can solve this problem?

[2019-08-29 16:21] ThorOrtinson opened #627 "java.security.cert.CertificateException: No name matching etcd found"
I used the curl command on the machine where the etcd cluster is installed to carry the certificate request etcd server, which can be successful

 [root@10-8 etcd-v3.3.13]# curl --cacert /etc/ssl/ca.pem --cert /etc/ssl/client.pem  --key /etc/ssl/client-key.pem https://127.0.0.1:2389/v3beta/kv/put -X POST -d '{"key": "AA==", "value": "AA=="}'
{"header":{"cluster_id":"17685980671696090536","member_i

[2019-09-09 04:37] lburgazzoli commented on #627
By default, the jetcd client sets the authority to `jetcd`, you need to set it to the one that matches your certificate:

    client.authority("yourAuthority");

[2019-09-09 04:41] lburgazzoli commented on #624
Yes that could be a reason, you need to set an authority that  matches you certificate.

[2019-09-09 04:43] lburgazzoli commented on #597
ResponseHeader is a generated code

[2019-09-09 04:43] #597 closed

[2019-09-09 04:46] lburgazzoli commented on #621
What error should it throw ?

[2019-09-09 04:49] lburgazzoli commented on #598
You need to fix your dependency tree as you may end-up with conflicts on grpc itself. eventually you can use jetcd-all that shadeds all the jetcd deps

[2019-09-09 07:33] lburgazzoli commented on #598
btw, I do not see any grpc-netty-shaded in project's dependency list, @riverlee2014  can you please clarify ?

[2019-09-09 11:29] #557 closed

[2019-09-09 11:30] lburgazzoli commented on #532
@Solom00n @sysadmind a new snapshot should be available soon, do you mind give it a try before I do a release ?

[2019-09-09 11:31] lburgazzoli commented on #557
@cherrylzhao a new snapshot should be available soon, do you mind give it a try before I do a release ?

[2019-09-09 13:47] riverlee2014 commented on #598
This is my PR for reference:  #633
According to the grpc official recommendation. Use of grpc-netty-shaded can shield many explicit netty library dependencies.

[2019-09-09 13:48] lburgazzoli commented on #598
So looks like you are doing the opposite of what the issue was about, right ?

[2019-09-09 14:02] riverlee2014 commented on #598
No, I hope the jetcd to be like a stand-alone and mini component.
In some scenarios, which user's project may depend on different versions of netty, if grpc-netty explicit import more netty component to user's project, it may be cause jar load conflicts.
Any better suggestions?

[2019-09-09 14:25] lburgazzoli commented on #598
Well the title of the issue is:

     Why not replace grpc-netty-shaded with grpc-netty?

which to me seems like you want to get rid of grpc-netty-shaded.

That said, we can do what you require but what about other dependencies ? if you want to have a dependency free jetc, there is jetcd-all which shades grpc too.

[2019-09-09 19:14] lburgazzoli commented on #622
@ujued there is a new snapshot whit some changes related to watch and retry, would be awesome if you could test it so I can do a release soon

[2019-09-09 19:15] lburgazzoli commented on #586
@devinrsmith @itzg  there is a new snapshot whit some changes related to watch and retry, would be awesome if you could test it so I can do a release soon

[2019-09-09 19:43] itzg commented on #586
@lburgazzoli, I was able to confirm that the latest `0.3.1-SNAPSHOT` does indeed fix the issue I was encountering.

[2019-09-10 00:50] riverlee2014 commented on #598
Oh, I made a looooow mistake. Sorry!
![image](https://user-images.githubusercontent.com/7055799/64575719-ccc56b00-d3a7-11e9-8571-b361853edcd2.png)
[code]
It seems that jetcd-all shaded does not have a fully packaged dependency.

[2019-09-10 06:11] lburgazzoli commented on #598
need to fix it

[2019-09-10 07:48] YJFinBJ opened #634 "LeaseClient grant api caused thread leak"
If create client with default threadPool ,  that is `Executors.newCachedThreadPool()` in `ClientConnectionManager`, when using grant api with a ttl for a lease , It make a listenableFuture call in grpc stub, since no deadline or timeout set in, in java it will be a unlimited call util server response。In while, jetcd client make a listenableFuture type to  a
completableFuture  response ,but when to

[2019-09-10 09:52] lburgazzoli commented on #598
should be fixed by the latest snapshot

[2019-09-10 10:03] lburgazzoli commented on #634
`get()` is invoked inside a listener which is triggered when the future is done so it should not block indefinitely, however we could set a configurable deadline in the gRPC invocation: would you like working on it ?

[2019-09-17 06:36] YJFinBJ commented on #634
Hi~ lburgazzoli.If the future is not done all the time, then the get() will block indefinitely. I think there are two ways to fix it. One is configing the gRPC invocation a deadline, the other way is change the get() with get(timeout). In my individual, I think the latter is more simple and effective,since a deadline in grpc should do some change on stub and only some works on grpc server to make

[2019-09-23 08:34] lburgazzoli commented on #634
I guess we need both, what to work on it ?

[2019-09-24 00:32] pambrose opened #637 "Private static class a problem for Kotlin client"
CmpTarget.value() returns a ValueCmpTarget value, which is a private static. This is okay in Java, but it does not work from Kotlin. If you call CmpTarget.value() from Kotlin you get the warning: "Type CmpTarget.ValueCmpTarget! is inaccessible in this context due to: private final class ValueCmpTarget : CmpTarget defined in io.etcd.jetcd.op.CmdTarget"

Please see #636

[2019-09-24 19:20] JoeHegarty commented on #598
We ran into this issue and have tried the latest snapshot and it appears to be resolved.
Any ETA on a new release?

[2019-09-27 15:28] #637 closed

[2019-10-02 22:08] prerit3105 opened #643 "Do jetcd driver expose prometheus\or any other metrics?"

[2019-10-04 09:09] style95 commented on #586
I am also waiting for the next release.
Is there any update on this issue?

@itzg Could you guide me on how to use the snapshot version in the meantime?

[2019-10-04 09:30] style95 commented on #586
I could resolve the snapshot version with the following configuration.
Sharing just for those who want this.

**build.gradle**
[code]

[2019-10-22 07:58] lburgazzoli commented on #622
Version 0.4.1 has been released

[2019-10-22 07:58] #622 closed

[2019-10-22 07:58] lburgazzoli commented on #598
Version 0.4.1 has been released

[2019-10-22 07:58] #598 closed

[2019-10-22 07:59] lburgazzoli commented on #586
Version 0.4.1 has been released

[2019-10-22 07:59] #586 closed

[2019-10-22 08:21] style95 commented on #586
@lburgazzoli Thank you for the update.
Is the new version `0.4.1` or `0.3.1`?

[2019-10-22 08:23] lburgazzoli commented on #586
0.4.1

[2019-10-22 08:26] style95 commented on #586
ok, then it seems it is about to be released in the maven repository as well.
Thank you for the confirmation.

[2019-10-22 08:54] riverlee2014 commented on #598
Waiting for you to push to the central maven repo.

[2019-10-22 08:55] lburgazzoli commented on #598
Should be already there, https://repo1.maven.org/maven2/io/etcd/jetcd-all/0.4.1/ may take sopme time to appear on search.maven.org

[2019-11-01 09:19] biliangliang opened #652 "How to correctly set the value of authority"
How to correctly set the value of authority when using TLS and etcd cluster? What does this value mean?

[2019-11-04 01:45] hxwabc opened #653 "What's new in the tag 0.4.1 13 day ago？"
What's new in the tag 0.4.1 13 day ago？
I can't find detail infomation on the 'release' url.

[2019-11-05 10:50] SButterfly opened #657 "Exclude grpc-protobuf-lite from dependencies"
Hello!
There is a classpact clash between:
[code]

As suggested in https://github.com/grpc/grpc-java/issues/6332#issuecomment-545997451
Let's exclude io.grpc:grpc-protobuf-lite from dependencies

[2019-11-06 10:54] #634 closed

[2019-11-06 14:49] johnyannj opened #659 "When Token is invalid the watcher will be hung there"
jetcd 0.4.1

1、For normal request , like  kv.get

when token is invalid, the flow will enter

io.grpc.ForwardingClientCallListener.SimpleForwardingClientCallListener#onClose

[code]

2、for watch request

when token is invalid, the flow will never enter "onClose" to  “refreshToken”

it will receive a normal message "Permission Deny",

io.etcd.jetcd.WatchImpl.WatcherImpl#onNext  process the message

[2019-11-07 06:14] Macgrady4Ever commented on #551
I meet the same problem , when the last operation on the key is PUT, then watch-client onNext method always notify  put-event. when I delete this Key without other operation any more ,then watch-client onNext method always notify a DELETE event.
The other problem : After I build a watch-client by jetcd api, log print periodically:
err:io.etcd.jetcd.common.exception.EtcdException: Network closed fo

[2019-11-11 14:55] xieziqiang opened #661 "Using a proxy, the request is stuck and there is no exception"
I have two ETCD clusters and a proxy server
First, the proxy server forwards traffic to the first cluster.
My application use jetcd, the endpoint is set to the proxy server ip, and now the requests is normal.
Then, I stopped the first cluster and the proxy server forwarded the traffic to the second cluster. At this time, the requests will get stuck, and there is no exception.
When I restart the ap

[2019-11-18 06:00] ningyougang opened #663 "etcdClient.watch lead to memory usuage increasing all the time"
### Env
#### etcd server: v3.4.0
below is one of the etcd cluster node, run it via docker container
[code]
#### etcd client: 0.4.1
[code]
### Problem phenomenon
the `watch or close` api seems has memory leak problem, so i used below scala codes to prove it.
(I deployed a etcd cluster including three nodes, the 3rd node's memory is increasing all the time during blow codes running, other nodes's me

[2019-11-18 09:42] lburgazzoli commented on #663
can you nail it down to a single watch and help finding out a problem ?

[2019-12-13 15:40] jeruane commented on #663
I'm assuming the issue is that for every call to `Watcher watch(ByteSequence key, WatchOption option, Listener listener)` in `WatchImpl` a new `Watcher` is being added to the list of watchers, and closing the resulting `Watcher` does not remove that `Watcher` from the list of watchers being stored on `WatchImpl`.

adding a watcher:
https://github.com/etcd-io/jetcd/blob/6248f916900081c8fb343818b3f7

[2019-12-13 15:43] lburgazzoli commented on #663
this should eventually increase the memory on the client but not on the server side, right ?

[2019-12-13 15:51] jeruane commented on #663
Ah true. I had misread the original comment thinking the issue was around client memory consumption.

[2019-12-13 15:54] lburgazzoli commented on #663
no problem, but it still an issue on the client side so I'd appreciate if you can send a PR fixing it :)

[2019-12-16 19:46] aphyr opened #673 "Watch: "Stream is already completed, no further calls are allowed"

[2019-12-16 19:50] aphyr opened #674 "Watch: "Stream is already completed, no further calls are allowed""
With jetcd 0.4.1 and etcd 3.4.3, it looks like occasionally calls to create a watch can throw an IllegalStateException, complaining that the "Stream is already completed, no further calls are allowed".

[code]

This happened during a Jepsen test where we added and removed nodes to the cluster dynamically, so it might have something to do with membership changes. There were no other faults--partiti

[2019-12-16 21:28] aphyr commented on #673
I think Github barfed and created this as a dup. Wooo, computers!

[2019-12-16 21:28] #673 closed

[2019-12-17 08:30] lburgazzoli commented on #674
would it be possible to incorporate in some way your tests here ?

[2019-12-17 13:48] aphyr commented on #674
They're available here: https://github.com/jepsen-io/etcd! I haven't written up documentation yet, but if you have a Jepsen environment available (see https://github.com/jepsen-io/jepsen#setting-up-a-jepsen-environment), you can run something like `lein run test -w watch --concurrency 2n --time-limit 600 --test-count 20`, with SHA 465aead72a3eaf3bb1978e39f5123897afcb96b1 and it should hopefully po

[2019-12-17 23:17] aphyr opened #677 "ManagedChannelImpl was not shutdown properly"
When starting up etcd, calls to jetcd 0.4.1 to fetch, say, member status, may throw an error like

[code]

I'm not sure if this is normal, but it does say "SEVERE", so I figured I'd drop a trace here. :)

[2019-12-19 07:18] zrss commented on #408
/cc

[2019-12-19 07:39] zrss commented on #516
hi @fanminshi , is 0.4.0 release ?

[2019-12-19 08:02] zrss commented on #212
/cc

[2019-12-19 10:16] TisonKun opened #679 "Can we remove a watch from watch client?"
https://github.com/etcd-io/jetcd/blob/35df3e34f194cbcd65eba3a35d0a8fdbf767e36e/jetcd-core/src/main/java/io/etcd/jetcd/WatchImpl.java#L58

This variable seems only supporting add new member but cannot remove an exiting watch. I'm thinking of reusing the watch client while removing an existing watch if it is no longer interesting.

[2019-12-19 11:44] seagem commented on #481
i also get the error:
[code]

[2019-12-19 13:22] BoyHello opened #680 "How to"

[2019-12-19 13:26] BoyHello opened #681 "How to convert the value of etcd into the bean object of Java"
How to convert the value of etcd into the bean object of Java？If the value of etcd obtained normally is serialized by protobuf, go can be deserialized normally. Is there a solution for Java deserialization

[2019-12-19 13:26] #680 closed

[2019-12-19 13:27] lburgazzoli commented on #681
You are responsible to serialize and deserialize the value to a ByteSequence

[2019-12-19 13:42] BoyHello commented on #681
The data put to etcd after I serialized it by myself can be deserialized normally. But the value obtained from etcd, deserialization exception. What should I do with the data fetched by etcd? Is there a serialization prefix?

[2019-12-19 13:50] lburgazzoli commented on #681
I really don't get what you are trying to describe.
you put ByteSequence and get ByteSequence, what you do with such values is out of jetcd control

[2019-12-19 13:56] BoyHello commented on #681
Now I can get the value of bytesequence, but I can't convert it to a format similar to yaml file, so as to parse the data I want

[2019-12-19 14:05] lburgazzoli commented on #681
Can you post an example ?

[2019-12-19 14:12] BoyHello commented on #681
When I deserialize, I throw the following exception

[2019-12-24 11:56] johnyannj commented on #663
@lburgazzoli  Can you pay attention to this issue  https://github.com/etcd-io/jetcd/issues/659

Thank you~~

[2020-01-05 04:09] chenzhiguo opened #686 "Why no exception on Lease keepAliveOnce? while leaseId has time out"
The lease thread do logic by this:
[code]
I found that when the leaseId timed out and the value in etcd has disappeared, the exception(err) still did not occur!
But if I call another method, an exception will be reported, such as:
[code]
Exception message is:
`Caused by: io.grpc.StatusRuntimeException: NOT_FOUND: etcdserver: requested lease not found`

[2020-01-09 23:16] ness2u opened #687 "When is the next release scheduled?"
There are a handful of bug-fixes and newly supported features that have been merged to the master-branch since the 0.3.0 release.
Notably, the 0.3.0 release has a bug where retries are blocking; which has been fixed, but not released.

When is the next release scheduled?

Is there another way that I can get the latest-greatest-stable release, including the changes added since October? (other than

[2020-01-09 23:34] lburgazzoli commented on #687
jetcd 0.4.1 is available in maven central

[2020-01-10 00:11] ness2u commented on #687
Fantatsic, so there are tagged versions... that gets me some of the changes I need.
Since 0.4.1 is from October, it won't include the changes I submitted back in November.

Is there another upcoming release scheduled?

[2020-01-10 00:12] lburgazzoli commented on #687
I can make one beginning next week

[2020-01-10 00:19] ness2u commented on #687
That would be greatly appreciated. 0.4.1 solves my biggest problem...
and it would be great to get the other changes in when convenient.
Thank you.

[2020-01-17 14:55] gopalakrishnan-subramani opened #688 "Exception while getting value java.lang.IllegalAccessError: tried to access field com.google.protobuf.AbstractMessage.memoizedSize from class"
Using jETCd version: 0.4.1
etcd: 3.4.3

Exception in thread "grpc-default-executor-0" java.lang.IllegalAccessError: tried to access field com.google.protobuf.AbstractMessage.memoizedSize from class io.etcd.jetcd.api.RangeRequest
	at io.etcd.jetcd.api.RangeRequest.getSerializedSize(RangeRequest.java:674)
	at io.grpc.protobuf.lite.ProtoInputStream.available(ProtoInputStream.java:108)
	at io.grpc.int

[2020-01-31 12:13] YJFinBJ opened #694 "Apis in leaseClient, lockClient support timeout for grpc invocation"
since etcdclient communication with etcd server with grpc invocation, and ClientConnectionManager use cacheThreadPool as default, so if etcd server is not available, the grpc requests will be hanged forever, and then use more threads, which can make a thread leak

[2020-02-10 08:26] suhasIVT commented on #327
Exception in thread "main" io.grpc.StatusRuntimeException: UNAVAILABLE: Network closed for unknown reason
        at io.grpc.stub.ClientCalls.toStatusRuntimeException(ClientCalls.java:233)
        at io.grpc.stub.ClientCalls.getUnchecked(ClientCalls.java:214)
        at io.grpc.stub.ClientCalls.blockingUnaryCall(ClientCalls.java:139)
        at com.oracle.process.deploy.grpc.LibraryServiceGrpc$Lib

[2020-02-11 22:44] jmaasing commented on #242
Tried on Java 11 in an application using JPMS and jetcd does not work. The application can not even start due to the dependecy on gRPC :

`Modules grpc.api and grpc.context export package io.grpc to module protobuf.java`

https://github.com/grpc/grpc-java/issues/3522

[2020-02-18 04:38] ness2u commented on #687
Any update on the next release?

[2020-02-18 12:01] lburgazzoli commented on #687
working on it, sorry for the delay

[2020-02-18 13:55] lburgazzoli opened #698 "Drop support for OSGi"
Support for OSGi does not seems to be a top priority for grpc-java and I do not have the time to keep up with the work and maintain it so I'd propose to drop support for OSGi

[2020-02-18 13:58] alkismavridis commented on #131
I still cannot activate TLS with jetcd.

Following the instructions  [here](https://github.com/grpc/grpc-java/blob/master/SECURITY.md#tls-with-netty-tcnative-on-boringssl), I had to add the following to my gradle dependencies:
[code]

Which results to java.lang.NoSuchMethodError: io.netty.internal.tcnative.SSLContext.setCipherSuite(JLjava/lang/String;Z)Z on linux.

After spending tones of time, I

[2020-02-18 14:03] lburgazzoli commented on #131
looks like you are using incompatible versions, can you test against the latest available jetcd release ?

[2020-02-18 14:03] alkismavridis commented on #131
Sure! I will do it right now.

[2020-02-18 14:08] alkismavridis commented on #131
Ok, I think I already use the latest jetcd.
Here is my dependency:
`io.etcd:jetcd-core:0.4.1`

[2020-02-18 14:33] alkismavridis commented on #131
EDIT:
I upgraded the io.grpc and followed the table [here](https://github.com/grpc/grpc-java/blob/master/SECURITY.md) to find the corresponding netty:netty-tcnative-boringssl-static version.

I ended up with the following dependencies:
[code]

Locally it works fine. Unit tests too.
In build server I get:
`Factory method 'etcdClient' threw exception; nested exception is java.lang.IllegalStateExcept

[2020-02-18 14:39] lburgazzoli commented on #131
what is your build server ? maybe it is not one of the supported os

[2020-02-18 14:45] alkismavridis commented on #131
There are multiple build servers. Some of them run oracle linux and some redhat.
Yes, maybe it is not supported.
The weird thing is that we use https (for example spring's RestTemplate) without any problems nor any need for additional dependencies. How do those work?

So, any suggestion is very welcome. Giving up etcd is not an option...

[2020-02-18 14:46] lburgazzoli opened #699 "Automatic source code formatter"
Instead of rely on checkstyle we should automatic format code and import with:
https://github.com/revelc/formatter-maven-plugin
https://github.com/revelc/impsort-maven-plugin

[2020-02-18 14:48] lburgazzoli commented on #131
It's really hard to provide an answe, we do run on test on travis and/or github actions that are bot running on ubuntu but it should work on any other system.

[2020-02-18 15:33] alkismavridis commented on #131
Ok thanks a lot for your time. It looks like I will not get https working... :(

I am not sure how others deal with https (for example, RestTemplate), but they do it great. And we, as users, do not have to isntall extra dependencies, or deal with system compatibility issues like mine.

It would be **awesome** if you also find a similar way of doing it.
In any case, thanks a lot for your time.

[2020-02-18 16:15] #699 closed

[2020-02-18 17:04] lburgazzoli commented on #688
Can you create a reproducer ?

[2020-02-18 17:05] #681 closed

[2020-02-18 17:13] lburgazzoli commented on #661
can you provide a reproducer ?

[2020-02-18 17:16] lburgazzoli commented on #653
What jetcd does is nothing more than implement this method:

    https://github.com/grpc/grpc-java/blob/master/api/src/main/java/io/grpc/NameResolver.java#L70

so the authority should match what you have in your certificates.

[2020-02-18 17:16] lburgazzoli commented on #652
What jetcd does is nothing more than implement this method:

    https://github.com/grpc/grpc-java/blob/master/api/src/main/java/io/grpc/NameResolver.java#L70

so the authority should match what you have in your certificates.

[2020-02-18 17:17] lburgazzoli commented on #643
it does not, you can instrument by using a prometheus agent.

[2020-02-18 17:17] #643 closed

[2020-02-18 17:19] lburgazzoli commented on #612
Any update ?

[2020-02-18 17:19] #624 closed

[2020-02-18 17:19] #627 closed

[2020-02-18 17:19] #663 closed

[2020-02-18 17:19] #679 closed

[2020-02-18 17:31] lburgazzoli commented on #657
looks like it is not possible till the issue is solved on grpc-java side

[2020-02-18 17:31] lburgazzoli commented on #657
looks like it is not possible till the issue is solved on grpc-java side

[2020-02-18 17:32] lburgazzoli commented on #653
I do not have time to maintain a proper release note at the moment so any help would me more than welcome

[2020-02-18 17:32] #653 closed

[2020-02-18 21:36] lburgazzoli commented on #687
0.5.0 has been released, should be available soon on maven central

[2020-02-18 21:36] #687 closed

[2020-02-19 13:40] lburgazzoli commented on #534
don't see this anymore

[2020-02-19 13:40] #534 closed

[2020-02-19 13:40] lburgazzoli commented on #516
ourtdated

[2020-02-19 13:40] #516 closed

[2020-02-19 13:42] lburgazzoli commented on #488
outdated

[2020-02-19 13:42] #488 closed

[2020-02-19 13:42] lburgazzoli commented on #549
done

[2020-02-19 13:42] #549 closed

[2020-02-20 19:18] adamlehenbauer commented on #399
`toHextString` wouldn't really help because that's not in the java.lang.Object contract.

My vote would be for a toString() that uses the platform default CHARSET to transform.

[2020-02-21 01:35] pengfeiwang-cn commented on #558
is there any one still working on jetcd? why such a issue exists?

[2020-02-21 07:59] lburgazzoli commented on #558
1. yes there still someone working on this
2. because the PR never reached this repository

[2020-02-22 15:31] pengfeiwang-cn commented on #558
"the PR never reached this repository" causes such an issue exists for such a long time? I can't believe it...

[2020-02-22 15:58] lburgazzoli commented on #558
believe it or not maybe this was not a huge problem for those using jetcd.

would be nice if you could be a little bit more constructive, like help to fix this issue.

[2020-02-23 13:30] pengfeiwang-cn commented on #558
I won't do anything if you jetcd guys so negative.
you knew this issue before, right? if no one fix it, your a little bit more constructive way is just leave it as it is, right? then let it be what it is.

[2020-02-23 15:28] lburgazzoli commented on #558
I’m sorry if you feel that we are negative and let me share some info:
- I’m working on this project on my spare and very limited time
- this issue, but that’s true for lit of other issue raised agains this project, have mot been updated by the reporter for long time which usually means that nor the reporter nor other user are impacted

that said, you started complaining about this issue being ope

[2020-02-24 01:34] pengfeiwang-cn commented on #558
Sorry to be so rough.

[2020-02-24 05:57] #558 closed

[2020-02-24 16:51] cfarinis opened #710 "ByteSequence API missing functionality"
Hello,

I need to perform operations with "prefixed" etcd keys, which are represented in jetcd as ByteSequence objects.
Specifically, I would like to be able to:

- Remove a prefix from a ByteSequence.
- Prepend a ByteSequence with a prefix.

The only performant way to achieve this with a ByteSequence is to get the underlying ByteString object and then use ByteString::substring / ByteString::conca

[2020-02-24 17:01] lburgazzoli commented on #710
I think it is better to have some additional methods can you list what you need or even better provide a PR ?

[2020-02-27 00:11] #674 closed

[2020-02-27 00:11] #677 closed

[2020-02-27 00:11] #621 closed

[2020-02-27 00:11] #596 closed

[2020-02-27 00:11] #615 closed

[2020-02-27 00:11] #569 closed

[2020-02-27 00:11] #580 closed

[2020-02-27 00:11] #551 closed

[2020-02-27 00:11] #546 closed

[2020-02-27 00:11] #548 closed

[2020-02-27 00:11] #526 closed

[2020-02-27 00:11] #537 closed

[2020-02-27 00:11] #524 closed

[2020-02-27 07:44] #710 closed

[2020-02-28 00:11] #510 closed

[2020-02-29 00:11] #506 closed

[2020-02-29 00:11] #492 closed

[2020-02-29 00:11] #473 closed

[2020-02-29 00:11] #481 closed

[2020-02-29 00:11] #412 closed

[2020-02-29 00:11] #451 closed

[2020-02-29 00:11] #400 closed

[2020-02-29 00:11] #405 closed

[2020-02-29 00:11] #367 closed

[2020-02-29 00:11] #291 closed

[2020-02-29 00:11] #307 closed

[2020-02-29 00:11] #243 closed

[2020-02-29 00:11] #258 closed

[2020-02-29 00:11] #212 closed

[2020-03-01 13:29] pengfeiwang-cn commented on #408
does jetcd plan to support election?

[2020-03-02 07:50] lburgazzoli commented on #408
yes it is but help would be more than happy :)

[2020-03-06 08:59] alkismavridis opened #715 "Question: How to perform a non-ranged get request?"
I am using jetcd version 0.4.1 and etcd server 3.4.3.
All of the GET requests that I perform from jetcd expect a single (or possibly no) result.
So I am never interested in fetching ranges.

Still, I saw this in my etcd logs:
`2020-03-03 14:23:53.336256 W | etcdserver: read-only range request "key:\"AC.AT.ab234-beaa86-2345b3\" " with result "range_response_count:1 size:805" took too long`

So, I w

[2020-03-09 09:18] lburgazzoli commented on #715
For point 1, I think the best is to ask the etcd guys
For point 2, I think so, we do not set any limit at the moment but that can be changed or made configurable

[2020-03-13 00:13] #686 closed

[2020-03-18 22:35] lukasz-antoniak commented on #408
Hi @lburgazzoli, I have done a small PoC here: https://github.com/lukasz-antoniak/jetcd/commit/8e4c74e858eb872a0a585c77e1a942995f279378. This is my first contribution to the project, but if you think that code looks more or less acceptable, I will work on it further.

[2020-03-19 06:15] lburgazzoli commented on #408
It looks good however I see there is a proto definition for leader election, like https://github.com/etcd-io/etcd/blob/master/etcdserver/api/v3election/v3electionpb/v3election.proto so wonder if we should base the leader election client to such service as it requires less maintenance on the client side

[2020-03-19 20:19] lukasz-antoniak commented on #408
Argh, not sure why I missed that. I have been focusing on Golang client implementation. Updated version here: https://github.com/lukasz-antoniak/jetcd/commit/46dd80d7cb7903416765e896f190700efe7b55c0 (as a plain driver, mostly proxying calls to server). I would still like to provide an interface that automatically handles registration and revocation of lease. Maybe it is a good idea to introduce to

[2020-03-20 07:14] lburgazzoli commented on #408
The code looks good so feel free to open a PR (same for the second question)

[2020-03-20 19:21] lukasz-antoniak commented on #408
Thank you for having quick look. Submitted pull request https://github.com/etcd-io/jetcd/pull/724. I will work on simplified interface in the _extensions_ module once base functionality is merged.

[2020-03-23 08:30] lburgazzoli commented on #408
@lukasz-antoniak merged

[2020-03-23 08:42] lukasz-antoniak commented on #408
While working on extended client, I have realized about wrong classification of two exceptions. `not a leader` indicates that we are trying to do operation allowed only for a leader. `no leader` means that etcd has no leader for certain election. Sorry for that. You merged previous pull request when I was just about to fix the issue. Opened new pull request: https://github.com/etcd-io/jetcd/pull/7

[2020-03-29 14:19] lukasz-antoniak commented on #659
I tried to replicate the issue, but token refresh functionality works correctly. `AuthTokenInterceptor` gets triggered when token expires and watch does not hang infinitely. Submitted pull request #728 to include this scenario in regression tests.

[2020-03-29 14:37] lukasz-antoniak commented on #659
Figured out the issue. Watcher hangs when token is invalid and we try to register new watch. I will try to fix it and open new PR.

[2020-03-29 18:08] lukasz-antoniak commented on #659
New PR should solve this issue - #729.

[2020-03-30 16:19] lburgazzoli commented on #659
Fixed by #729

[2020-03-30 16:19] #659 closed

[2020-04-02 14:10] Hendrik-H commented on #399
I don't think platform default is a good choice in a cluster application. I would either use UTF-8, make it configurable or return a hey string from `toString`.

[2020-04-07 08:26] bobintornado opened #731 "Next release?"
When will the next release be cut?

[2020-04-08 03:12] baoyiquan opened #732 "The following error occurred while locking"
HI,
The following error occurred while locking.

io.grpc.StatusRuntimeException: UNIMPLEMENTED: unknown service v3lockpb.Lock
LockResponse rsp = client.getLockClient().lock(ByteSequence.from(lockName, UTF_8), leaseId).get();
please Do you know how to solve it?

[2020-04-08 08:50] lburgazzoli commented on #732
Can you give more info ?

[2020-04-09 02:56] johnyannj commented on #731
+1
https://github.com/etcd-io/jetcd/issues/659 is important to us. ^_^

[2020-04-10 00:10] #694 closed

[2020-04-15 16:52] Sanit1 commented on #532
@lburgazzoli
I see you have solved  #532 and #524
I used the latest release 0.5.0, but  I watch a key when the etcd server shutdown the same error a appear
could you show me how to reconnect etcd service demo  thanks= =

[2020-04-16 06:27] lburgazzoli commented on #532
@Sanit1 I've fixed only this issue, #524 has been closed because stale, as stated in that issue we have a [test](https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/WatchResumeTest.java) that perform a restart of etcd.

I'd really appreciate if you can provide a reproducer so I I can tests and fix it

[2020-04-16 07:03] Liberxue opened #738 "SEVERE: [Channel<1>: (etcd)] Uncaught exception in the SynchronizationContext. Panic!"
[code]

[2020-04-16 07:46] lburgazzoli commented on #738
Please provide more details, this looks to me like a mixed version of grpc-java in the classpath but with the stack trace only I can't help much

[2020-04-16 10:19] lburgazzoli commented on #731
Version 0.5.1 should be available

[2020-04-16 10:19] #731 closed

[2020-04-17 06:37] lukasz-antoniak commented on #732
My guess is that a request hits old ETCD server, earlier than version 3.

[2020-04-19 00:09] #242 closed

[2020-04-20 06:55] lburgazzoli commented on #698
looks like no one reallyc are about OSGi support so I'm gogin to drop it

[2020-04-24 16:15] itzg opened #742 "Unit testing "Launcher" section needs update for JUnit 5"
The "Launcher" section in the README:

https://github.com/etcd-io/jetcd#launcher

seems to be out of date since now an [`EtcdClusterFactory`](https://github.com/etcd-io/jetcd/blob/jetcd-0.5.3/jetcd-launcher/jetcd-launcher/src/main/java/io/etcd/jetcd/launcher/EtcdClusterFactory.java) is used to create an `EtcdCluster`.

I believe the example snippet should be the following and I would be glad to su

[2020-04-24 16:45] itzg commented on #742
I spoke too soon with replacement example. I am now finding that construct doesn't work as a junit rule:

[code]

[2020-04-24 17:17] itzg commented on #742
I ended up needing to implement my own TestRule class, so it feels like I'm missing something:

[code]

[2020-04-24 23:34] ae6rt commented on #55
[code]

The POM

[code]

[2020-04-26 00:09] #661 closed

[2020-04-26 00:09] #688 closed

[2020-04-26 00:10] #612 closed

[2020-04-26 00:10] #652 closed

[2020-04-27 00:09] #500 closed

[2020-04-27 05:19] lburgazzoli commented on #742
We don't provide support for Junit 4 anymore but only Juni 5: https://github.com/etcd-io/jetcd/blob/master/jetcd-test/src/main/java/io/etcd/jetcd/test/EtcdClusterExtension.java

A PR to fix the documentation would be very appreciated

[2020-04-27 13:36] itzg commented on #742
Ah ok. We're not yet using JUnit 4, so I am not equipped to provide a suitable update to the README.

[2020-04-30 01:09] linww opened #745 "When I use jectd to get all keys from etcd server,it occurs an error:RESOURCE_EXHAUSTED:gPRC message exceeds maximum size 4194304:17319112"
When I use jectd to get all keys from etcd server,it occurs an error:RESOURCE_EXHAUSTED:gPRC message exceeds maximum size 4194304:17319112，and how can I increase the limit 4M for one request from ectd server?
![image](https://user-images.githubusercontent.com/10493366/80661777-3672c080-8ac2-11ea-9de9-84507b2f38c0.png)

[2020-04-30 05:58] lburgazzoli commented on #745
You can use `maxInboundMessageSize`, see https://github.com/etcd-io/jetcd/blob/55a4de66dd6934b33303a1e268762815d33e8a0c/jetcd-core/src/main/java/io/etcd/jetcd/ClientBuilder.java#L320

[2020-04-30 06:17] linww commented on #745
Thanks a lot,it works!

[2020-04-30 06:17] #745 closed

[2020-05-06 05:34] chuansuo12 commented on #732
My ETCD cluster version is 3.4.7, but i also had this error.Is it necessary to specify the version when  the ETCD server starting?

[2020-05-06 07:40] chuansuo12 commented on #732
You should connect to port 2379, not 2380.The error would occur when i connect to 2380, but lease.grant was available.Please check your endpoints.

[2020-05-07 07:36] hylitjob opened #748 "jetcd tls error"
1. 证书生成步骤
[code]
[code]

1. java client代码
[code]

1. error info in console:

[code]

- error info in etcd log:

[code]

[2020-05-07 07:47] hylitjob commented on #748
Test case shown below:

[https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/SslTest.java](url)

[2020-05-07 07:48] hylitjob commented on #748
It doesn't work, how to solve it?

[2020-05-07 10:37] hylitjob commented on #748
fIXED

[2020-05-07 10:37] #748 closed

[2020-05-08 01:12] im-bravo commented on #258
I updated the library version to the latest version to solve this problem
https://mvnrepository.com/artifact/io.etcd/jetcd-all

[2020-05-08 05:01] peopleone opened #749 "KeepAlive doesn't have effort when there are tens of thousands of lease"
I invoke keepAlive method which in the Class of LeaseImpl for 25,000 leases when running the performance test.When using cmd "`etcdctl endpoints  lease list | wc -l`" to get the size,i found that when the size up to 25000 or more,the keepAlive method in LeaseImpl has no effort.I have seen a gradual decline in the number of lease,and the log printed that the lease already expired.

What i miss is w

[2020-05-08 05:11] lburgazzoli commented on #749
It is probably keeping more time to refresh them than the TTL, btw are you creating 25000 leases for benchmark purpose or it is a real use case ?

[2020-05-08 05:50] peopleone commented on #749
it is a real use case in our web application,may be more than 25000 when running.I think is the
 etcd cluster blocking while creating lease ? if the etcd cluster  took too long to grant lease,when the cluster try to keep alive ,the lease already expired/

[2020-05-08 05:56] lburgazzoli commented on #749
that could be, do you have time to digg into the issue ?

[2020-05-11 01:54] peopleone commented on #749
I tried to trace the keepalive request and found that the keep alive request was send every 500 mills,but didn't get any response ,so that the KeepAlive Object still old value.I was ashamed that the problem has not yet been identified.May be  jectd , or etcd .

[2020-05-17 00:12] #715 closed

[2020-05-18 13:26] #698 closed

[2020-05-19 07:34] lburgazzoli commented on #408
@lukasz-antoniak can we close this issue or do you have any additional work to do ?

[2020-05-19 17:50] lukasz-antoniak commented on #408
@lburgazzoli, yes I think so. I have been trying to implement easier version, but I think it had too little value - only maintenance of lease, which users may want still to do on their own.

[2020-05-20 06:28] #408 closed

[2020-06-01 11:47] christianwicke opened #763 "Support for replicating"
Hello, thanks for adding the watch feature. I want to use it to build a mirror of a subtree of etcd.
With mirror I mean, I want to read all the key-values and build a structured repeseantation in my Java application. And I want to update it, whenever something changes.

I build this class to help replicating all the key-values:
[JetcdReplicator.java.gz](https://github.com/etcd-io/jetcd/files/47110

[2020-06-09 00:20] #399 closed

[2020-06-16 03:50] #738 closed

[2020-06-17 23:08] jcferretti72 opened #769 "Make managed channel connection timeout configurable."
Hello,

First of all, thanks for all your work on making jetcd possible.

We are using jetcd in a Java application connecting to an etcd cluster of 3 peers.  When one of the peers is down, our application is hitting our own defined timeout of 10 seconds for waiting for a future response on a KV put.

An explanation of the jetcd logic similar to
  https://etcd.io/docs/v3.3.12/learning/client-archit

[2020-06-23 14:58] dandar3 commented on #742
Sorry for hijaking the thread, but it is about Junit5 and using the `EtcdClusterExtension`.

While `jetcd` has moved on from JUnit 4, it appears `testcontainers:1.14.0` hasn't.

`EtcdClusterExtension` will create a cluster through `EtcdClusterFactory.buildCluster()` which uses [`org.testcontainers.containers.Network`](https://github.com/testcontainers/testcontainers-java/blob/1.14.0/core/src/main/

[2020-06-23 19:44] dandragut commented on #742
Sorry for hijaking the thread, but it is about Junit5 and using the `EtcdClusterExtension`.
While `jetcd` has moved on from JUnit 4, it appears `testcontainers:1.14.0` hasn't.

`EtcdClusterExtension` will create a cluster through `EtcdClusterFactory.buildCluster()` which uses [`org.testcontainers.containers.Network`](https://github.com/testcontainers/testcontainers-java/blob/1.14.0/core/src/main/j

[2020-07-01 21:39] dstephens-wsgc commented on #532
I'm also running into this issue (create a watch, kill the etcd server) - I believe from the logs that `WatchImpl.onError` gets called twice (once for the Goaway and again when the connection actually closes), and it's the second time in that fails because the first invocation null'ed out `stream` (and there's no null check on `stream.onCompleted()`.

[2020-07-02 04:21] dstephens-wsgc commented on #532
I can confirm that modifying the `WatchImpl.java` from the `jetcd-0.5.3` to include a `null` check on `stream` before invoking `stream.onCompleted` allows my project to recover from failed servers correctly, however it also causes a test failure during build, so it's possible that's fixing a symptom rather than the defect. I'll try and get to the bottom of that, and create a PR for a fix and/or a

[2020-07-03 12:14] Excpt0r commented on #532
I have seen this NullpointerException too, but I'm not sure if just checking != null is sufficient.

If I remember correctly I have seen also a similar situation where my main-thread calls WatcherImpl.close()
and fails with a NullPointerException there, because WatcherImpl.onError() was setting the stream to null in a grpc-thread in parallel.
There might be a missing synchronization between onErro

[2020-07-06 14:39] jcferretti72 commented on #769
After enabling grpc logging (which was very tricky btw), we figured out what out issue is.  It results from the interaction on idle timeout and connection timeount.

When an idle jetcd client hits the idle timeout (30 minutes it seems), the channel is disconnected.  If one (say, in a cluster of 3) etcd server peer goes down at this point, and then the jetcd client attempts a stub operation, the ch

[2020-07-06 18:50] lburgazzoli commented on #769
@jcferretti72 what should we do on jetcd side ?
As far as I recall, we don't do anything but we rely on the behavior of grpc-java in such case.

[2020-07-06 19:28] jcferretti72 commented on #769
I think the solution would be to add a `connectionTimeoutMillis` Integer option to `ClientBuilder`, and then use it from ClientConnectionManager, very similar to how `maxInboundMessageSize` is handled already:

[code]

For a single peer etcd cluster the current default value is reasonable; this would allow customization from jetcd calling code to set a more reasonable value for 3 or 5 node cluster

[2020-07-06 19:38] lburgazzoli commented on #769
do you have any spare time to send a pr ?

[2020-07-06 19:39] jcferretti72 commented on #769
I can try to do that over the weekend.

[2020-07-07 06:18] lburgazzoli commented on #532
@Excpt0r do you have any time to work on a PR ?

[2020-07-08 16:35] Excpt0r commented on #532
@lburgazzoli depends on the solution.
My suggestion to replace `closed.get()` with `closed.compareAndSet(false, true)` wasn't a good idea, this would break the `resume()` functionality called by `onError()`.
I will try with a `synchronized(WatcherImpl.this.closed)` block in both `onError()` and `close()`, unless you have a better idea?

[2020-07-08 16:53] lburgazzoli commented on #532
I'm fine with the synchronization

[2020-07-08 17:04] Excpt0r opened #778 "Slow grpc re-connect"
Hi,

I'm developing an application that needs a leader/follower mechanism for high availability.
The implementation is done by using jetcd as client for an ETCD cluster, to store the current leader. Followers watch the leader key.

To detect when the ETCD instance of a watching follower is gone, gRPC keepalive is activated.
This works good, but it takes about 12 seconds between the client detectin

[2020-07-09 20:52] jcferretti72 commented on #778
I think what you describe is commonly known as "leader election" in distributed systems lingo.
I think the generally used implementation on etcd involves a fixed key location to identify the leader (stored in the value), associated to a lease with a TTL, and the leader having to renew periodically that lease; if/when the leader goes away etcd will remove the KV.
followers can become leaders by try

[2020-07-10 08:42] lburgazzoli commented on #769
Fixed by https://github.com/etcd-io/jetcd/pull/779

[2020-07-10 08:42] #769 closed

[2020-07-13 00:28] #732 closed

[2020-07-13 19:28] Excpt0r commented on #778
@jcferretti72 thank you, I appreciate your input about the design!

I already experienced the problem that a watching client doesn't detect when the server has gone silently.
The solution I found is to activate keep-alive in the underlying grpc (it's available since jetcd 0.5.4, see here https://github.com/etcd-io/jetcd/pull/753)
To detect the connection error, this works fine, but the reconnect t

[2020-07-13 20:04] jcferretti72 commented on #778
Alex,

I believe I understand your comment about keep-alive in the context of jetcd client process to etcd server peer process communication; however my comment was about etcd server peer process getting partitioned from the rest of the etcd cluster: if the etcd server peer the client is connecting to, can't contact the etcd leader.  In this situation the watcher goes silent, without erroring out.

[2020-07-14 13:14] lburgazzoli commented on #778
@jcferretti72 some interceptors are added in the client manager, see https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/ClientConnectionManager.java#L242-L262, not sure if that is what fit your needs but feel free to work on a PR and we can discuss it there

[2020-07-14 15:33] Excpt0r commented on #778
@jcferretti72 thanks for pointing out that I missed the point.
Coincidentally I just had a similar issue with the lease API today - the lease keepalive is not failing on grpc level, when no leader is available. I guess that behaviour could be changed with the WithRequireLeader flag too? Would you open an issue/PR to track that topic separately?

@lburgazzoli any idea on my initially described re-c

[2020-07-14 15:49] lburgazzoli commented on #778
@Excpt0r there is an https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/Election.java api, not sure if that's what you were looking for

[2020-07-18 00:28] #749 closed

[2020-07-29 03:12] linww opened #786 "the memory leak happens when etcd connection timed out for a period of time"
I run a thread which tries to using jetcd utils to connect to etcd every five minutes,but when the connection keeps unavailable and the connection is  timed out ,some time later, memory leak happens,the heap memory keeps increasing,how should I close the connection and release the object(etcd client) when the connection is timed out? Is it because that jetcd util will retry to connetc when it conn

[2020-08-03 03:26] chenzhiguo commented on #686
No problem?

[2020-08-03 22:44] Excpt0r commented on #778
Just for the record, here was a related discussion I had:
https://github.com/grpc/grpc-java/issues/7180

[2020-08-03 22:44] #778 closed

[2020-08-08 00:32] #763 closed

[2020-08-18 09:48] vinglogn opened #795 "Can not automatic recovery after the watch mechanism is interrupted by etcd server reboot"
# Issue
I build the jetcd watch example with the version 0.5.3 and run it，but I got the wrong thing with the following error message，when the target etcd server is down。 It can not automatic recover after I resume the etcd server。

when I use etcdctl to test the watch function，It can automic  recover when the etcd server is interrupted for a few minutes.

# Log
15:19:43.817|ERROR|WatchImpl - sched

[2020-08-19 11:53] yingjieLi01 commented on #532
I have the same question and I'm sure  the  connection is still.

[2020-08-24 17:53] dandragut commented on #742
@lburgazzoli Finally updated `README.md` for Junit 5, please see the PR and let me know if needs any other changes (Y)

[2020-08-24 18:09] dandragut opened #804 "java.lang.UnsupportedOperationException: 'posix:permissions' not supported as initial attribute"
`jetcd-launcher:0.5.3` / `EtcdContainer`.`createDataDirectory()` fails on Windows throwing on the changes for `posix` support.

Using `EtcdClusterStartTest`.`testStartEtcd` test case to show it:

[code]

Will push a new PR soon.

[2020-08-24 18:31] dandragut commented on #804
PR #805

[2020-08-24 20:40] lburgazzoli commented on #804
Fixed by #805

[2020-08-24 20:40] #804 closed

[2020-08-24 20:41] lburgazzoli commented on #742
Fixed #803

[2020-08-24 20:41] #742 closed

[2020-08-24 20:43] lburgazzoli commented on #786
there's a reconnect policy you can configure to customize when the reconnection happens, however I don't know if the channel is properly closed.

@linww do you have time to investigate the issue and eventually open a PR ?

[2020-08-24 20:44] lburgazzoli commented on #795
Seems related to https://github.com/etcd-io/jetcd/issues/532

[2020-08-25 08:36] lburgazzoli opened #808 "remove jetcd-launcher-maven-plugin"
I have a very little time thus I cannot keep up with all the features we have in the jetcd repo so I'm thinking to remove support for the jetcd launcher give that is very easy to set-up etcd using testcontainers

[2020-08-25 08:41] lburgazzoli opened #809 "migrate to gradle"

[2020-08-27 03:33] linww commented on #786
I am not authorized to upload the project code to github,but I can create a demo project for the PR,is it OK?

[2020-08-27 05:07] lburgazzoli commented on #786
yes

[2020-08-27 12:16] #808 closed

[2020-08-31 09:58] mcorbin opened #816 "Role creation: line break issue"
Hello,

I'm trying to create an etcd role using jetcd. Here is my code:

[code]

When I execute this code, my role is created but the name starts with a line break. For example, I see in the etcd logs:

[code]

With ectdctl:

[code]

As you can see, the role starts with a `\n` (I don't have this behavior with I create roles from etcdctl). Am I doing something wrong in the code ?

I use these versi

[2020-08-31 10:45] mcorbin commented on #816
I also listed the created rome from Java:

[code]

The output is:

[code]

We see that the role is prefixed by a weird character.

[2020-08-31 10:50] lburgazzoli commented on #816
I think the issues is that you are serializing the request but it is not the way it works as the method expect the role name, something like:

[code]

[2020-08-31 10:58] mcorbin commented on #816
Indeed, `auth.roleAdd(ByteSequence.from("myrole2", StandardCharsets.UTF_8)).join();` works. I thought I had to use the *Request classes (AuthRoleAddRequest, AuthRoleDeleteRequest...) to manage roles.

Thanks you for the quick answer.

[2020-08-31 10:58] #816 closed

[2020-09-10 14:41] jcferretti72 opened #823 "OnError() contract for io.etcd.jetcd.Listener is different from io.grpc.stub.StreamObserver"
The behavior of io.etcd.jetcd.Listener is different from io.grpc.stub.StreamObserver wrt when (and how many times) to call onError.  This is error-inviting, since the interfaces have exactly the same signatures: people familiar with gRPC APIs can assume StreamObserver behavior.

Some earlier discussion in https://github.com/etcd-io/jetcd/pull/819#issuecomment-688675196 and following comments.

[2020-09-14 03:04] aakejiang opened #824 "[jetcd-0.3.0] get config operation timeout more than 5s"
### Ⅰ. Issue Description

Get config operation timeout more than 5s using jetcd-v0.3.0.

- Installed etcd-v3.4.13 by docker in MacOS

docker run \
 -p 2379:2379 \
 -p 2380:2380 \
 --mount type=bind,source=~/data/etcd,destination=/etcd-data \
 --name etcd-v3.4.13 \
 quay.io/coreos/etcd:v3.4.13 \
 /usr/local/bin/etcd \
 --name etcd-v3.4.13 \
 --data-dir /etcd-data \
 --listen-client-urls http://0.0.

[2020-09-14 10:05] YouAnCao opened #826 "The usage example is abnormal:NoClassDefFoundError: io/netty/channel/ChannelFactory"
pom
[code]

code:
[code]

exception
[code]

**But it is normal to use version 0.0.2**

[2020-09-14 10:29] lburgazzoli commented on #826
Can you check your dependency tree ?
Can you share a reproducer on github please?

[2020-09-14 10:43] YouAnCao commented on #826
thank you for your reply;
https://github.com/etcd-io/jetcd/issues/826#issuecomment-691966448

[2020-09-14 11:07] #826 closed

[2020-09-14 11:11] lburgazzoli commented on #824
The connection happen lazily so I think you are not measuring the same thing.

[2020-09-16 02:36] offthewall123 opened #827 "Do we have getList API?"
Do we have API support ./etcdctl get a.txt --prefix ?
Checked kvClient.get() seems no such function

[2020-09-16 02:54] offthewall123 commented on #827
Sorry, find it, use GetOption()

[2020-09-16 02:54] #827 closed

[2020-10-07 13:14] infearOnTheWay opened #833 "lease expired while campaign leader failed"
I understand that key would be deleted if the lease it has bound with expired. But if I use a lease and key to campaign leader and blocked for a long time, for example, other instance has been the leader. Can the lease be used if the grant ttl has been expired? If not, does it mean that this key would have no chance to been leader in future?

I use the api about `ElectionImpl` and `LeaseImpl` to i

[2020-10-19 03:26] septyy opened #836 "How to cancel keepalive"
When invoking keepalive, it will add a etcd keepAlive event which will periodically extend the lease by the internal etcd thread.
I couldn't find a corresponding method to cancel the etcd keepAlive event. Maybe it will cause memory leak when another new leases would be added into the etcd keepAlive event queue.

[2020-10-20 05:28] lburgazzoli commented on #836
if you are talking about https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/Lease.java#L86, then it should be enough to close the client the methods returns.

[2020-10-21 01:41] septyy commented on #836
If the client is not closed, many leaseId will be added to the etcd keepalive event queue continuously, will it eventually cause a memory leak?

[2020-10-21 07:29] lburgazzoli commented on #836
can you add a little bit more details ? I'm not sure I follow

[2020-10-23 02:39] septyy commented on #836
`
int ttl =1;
while(true){
long leaseID = leaseClient.grant(ttl).get().getID();
feature = kvClient.put(kvKey, kvValue, PutOption.newBuilder().withLeaseId(leaseID).build());
LeaseResponse.keepAlive(leaseClient, leaseID);
ttl++;
}
`
If the client is not closed, many leaseId will be added to the etcd keepalive event queue continuously, I couldn't find a corresponding method to cancel the etcd keepAli

[2020-10-23 08:26] lburgazzoli commented on #836
not closing the client is a resource leak in your application, like it would be if you don't close an input stream, however doesn't [Lease::revoke](https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/Lease.java#L60) work for you ?

[2020-10-25 09:50] lburgazzoli commented on #532
@Excpt0r have you had any time to work on this ?

[2020-10-25 10:14] Excpt0r commented on #532
Hi @lburgazzoli
my fix was merged on Jul 13, but maybe that was not covering all aspects (I saw some more related changes on the master branch)
But note that the new linked issue #795 shows jetcd v0.5.3 in the logs - the fix was not yet included there.
Btw, are there any plans to release a 0.5.4? I'm still using the snapshot repo.

[2020-10-26 08:24] lburgazzoli commented on #532
oh, forgot it sorry, I'm gogin to do a nre release

[2020-10-26 09:38] lburgazzoli commented on #532
0.5.4 has been released top maven central

[2020-10-26 09:38] lburgazzoli commented on #532
@yingjieLi01 mind testing it ?

[2020-10-26 09:39] lburgazzoli commented on #795
@vinglogn can you please test against 0.5.4 ?

[2020-10-26 13:10] hubeicaolei opened #840 "is there a problem in the method close of the class ClientConnectionManager?"
hi,guys

I have got a  java.util.concurrent.RejectedExecutionException when I ran my project with jetcd, the log like as :

java.util.concurrent.RejectedExecutionException: Task java.util.concurrent.FutureTask@ab75a3b rejected from java.util.concurrent.ThreadPoolExecutor@5db34d1[Terminated, pool size = 6, active threads = 0, queued tasks = 0, completed tasks = 3107809]

I double checked my code, a

[2020-10-26 13:13] lburgazzoli commented on #840
mind sending a pr to fix it ?

[2020-10-26 14:00] hubeicaolei commented on #840
I'm pleasure to fix it. will send a pr tomorrow.

[2020-10-27 06:17] #840 closed

[2020-10-27 06:18] lburgazzoli commented on #786
@linww did you create the demo project ?

[2020-11-02 09:03] bh-tt opened #844 "Unable to use TLS since 0.5.4"
We have an etcd cluster reachable using HTTPS. Since 0.5.4 we were unable to do this due to a TLS error. After some searching we found out jetcd no longer uses `https` schemes in its urls, instead opting for `ip` or `dns+srv`. This results in a target such as `ip:///etcd0.com:2379,etcd1.com:2379,etcd2.com:2379`. We have verified that the cluster is reachable using etcdctl.

 - Should we simply dis

[2020-11-02 09:05] bh-tt commented on #844
Using a no-op TrustManager that does not verification at all we can connect, but this is not desirable in a production setup.

[2020-11-02 09:11] lburgazzoli commented on #844
We have this ssl tests that is currently working as expected:

    https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/SslTest.java

The fact that the uri scheme has changed does not affect of ssl is on or off.
I guess you'd need to set the authority but mabe there is somethign missing.

Some help to set-up a test case would be really appreciated giving I don't have

[2020-11-02 09:16] bh-tt commented on #844
I will take a look.

[2020-11-02 09:24] bh-tt commented on #844
Setting authority works, thank you!

[2020-11-02 09:24] #844 closed

[2020-11-02 09:35] Thomasdezeeuw opened #845 "java.lang.NoSuchMethodError in ForwardingChannelBuilder.defaultChannelBuilder"
I'm trying to port [YCSB](https://github.com/brianfrankcooper/YCSB) to etcd, with this library it's fairly easy. But I've hit the following error which I can't solve.

[code]

On GitHub: https://github.com/etcd-io/jetcd/blob/18f20ee37dc1517b71460e4329391b9c32faa037/jetcd-core/src/main/java/io/etcd/jetcd/ClientConnectionManager.java#L260

My Java isn't the best any more, but `NettyChannelBuilder` i

[2020-11-02 09:39] Thomasdezeeuw commented on #845
Relevant code is here: https://github.com/Thomasdezeeuw/YCSB/blob/cb239b8ddf900b3f59261de1d56ea78d31b582df/etcd/src/main/java/site/ycsb/db/EtcdClient.java.

[2020-11-02 09:49] lburgazzoli commented on #845
This is usually caused by mixing version of netty/grpc can you check the version used by jetcd are not overridden by some of the project deps ?

[2020-11-02 10:10] Thomasdezeeuw commented on #845
@lburgazzoli grpc-core and grpc-netty are both version 1.33.0, netty is 4.1.51.

[code]

But I think you're right about the dependencies, I got a couple of warnings about them. I'll look into it a bit more, thanks for the quick response.

[2020-11-02 10:23] Thomasdezeeuw commented on #845
This seems to be a problem with the dependencies indeed, so I'm closing this. Thanks @lburgazzoli.

[2020-11-02 10:23] #845 closed

[2020-11-02 15:18] magiccrafter opened #846 "Change the ClientBuilder's connectTimeoutMs field type"
**Problem:**
I find counter-intuitive to have `connectTimeoutMs` field of type: `Integer`.
[code]
There are two reasons:
- It is a common practice in Java language to have `millis` represented as `long`.
- It is not consistent with the rest of the configuration fields, i.e.:  `keepaliveTimeMs`, `keepaliveTimeoutMs`

If the above make sense I would suggest to either use `java.time.Duration` or `jav

[2020-11-02 15:20] lburgazzoli commented on #846
@magiccrafter do you have time to send a PR ? Duration is fine with me

[2020-11-02 15:28] magiccrafter commented on #846
I'm happy to contribute.
I would prefer to do the changes without backward compatibility and skip the step of deprecating. It will be an easy spot during upgrade since it will complain at compile time. @lburgazzoli Are you ok with that?

[2020-11-02 15:29] lburgazzoli commented on #846
I am

[2020-11-02 15:30] magiccrafter commented on #846
perfect, I will ping you once I've the PR.

[2020-11-03 17:47] magiccrafter opened #847 "retryMaxDuration not respected for the Lock"
**Problem:**
When `retryMaxDuration` is set I expect that any lock after the first `c.getLockClient().lock()` will keep retrying to get the lock until the `retryMaxDuration` is reached. Sadly based on my tests thats not the case.

[code]

Here you can find the full code to reproduce the issue:
https://github.com/magiccrafter/jetcd-lock-retry

Not 100% sure if thats expected behaviour since I could

[2020-11-04 06:30] mzyfree opened #848 "Lost io.etcd.jetcd.api packages in code"
I can not find the io.etcd.jetcd.api packages in code.So the code in ide show import packages missing.

[2020-11-04 07:10] lburgazzoli commented on #848
if you are using jetcd as dependency, the package is there bit if you are building jetcd, then that package contains auto generated code so you need to instruct the ide to include it, usually they are located i. target/generated-code or something similar

[2020-11-11 14:04] #836 closed

[2020-11-11 14:11] septyy opened #851 "keepalive in a while loop maybe lead memory leak?"
[code]
If put keepalive() in a while loop and run many hours or a day, the "io.etcd.jetcd.lease.LeaseKeepAliveResponse" and "LeaseResponse$$Lambda$352/526296674" can cause memory grow very fast. Can't keepalive() be placed in the while loop? Or is there something wrong with my usage?

[2020-11-11 14:16] lburgazzoli commented on #851
What's your use case for doping this ?
Are you able to track down the cause of the issue ?

[2020-11-16 05:12] cleverpig opened #853 "How can catch put and delete events with Watch?"
I made a watch with jetcd 0.5.0, and process event with LoggingWatchListener.
but It only call when any event complete, how can do like etcdctl:
![image](https://user-images.githubusercontent.com/580435/99215252-5626c780-280d-11eb-8373-6d2c00f0f824.png)

Here is my code:
[code]

[code]

[2020-11-16 08:58] lburgazzoli commented on #853
What do you mean exactly ?

[2020-11-16 09:41] cleverpig commented on #853
I mean How to monitor and process events with etcd watcher?
I tried the Listener to listen events, but can't get event type and more event detail.
So I tried watch.watch method with consumer parameter, but it doesn't work.

[2020-11-16 10:02] lburgazzoli commented on #853
can you please try to update to the latest release ?
we do have some tests here you may want to check: https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/WatchTest.java#L50

[2020-11-21 00:36] #824 closed

[2020-11-21 06:48] cleverpig commented on #853
Yes, I'd checked out the master and compile & install it.
But Listener doesn't fire "onNext" event still. I debuged my code, and found it never call "onNext" method in WatcherImpl class.
![image](https://user-images.githubusercontent.com/580435/99869766-8654d880-2c08-11eb-93cb-86237f6a9474.png)

[2020-11-21 07:51] lburgazzoli commented on #853
how do you set up the watcher ?

[2020-11-21 07:56] lburgazzoli commented on #853
can you provide a reproducer ? a failing test would be very welcome

[2020-11-23 01:36] cleverpig commented on #853
Sure!
1, Maven dependencies:
[code]

2,[etcdUtil and testCase source code](https://github.com/etcd-io/jetcd/files/5580804/source.code.zip)

[2020-11-23 11:04] lburgazzoli commented on #853
I've create the following example:

[code]

It requires groovy and if I run it with:

[code]

I get something like:

[code]

So to me it appears to work, am I missing something ?

[2020-11-24 03:29] cleverpig commented on #853
I translated groove to java class, this doesn't work for me.

[code]

logging output without any listener's event:
[code]

etcd server output:
[code]

Btw, which etcdServer version are your? I tried 3.3.25 and 3.4.13.

[2020-11-24 06:34] lburgazzoli commented on #853
I've tested with both 3.3 and 3.4, command line to run it is:

[code]

Then you can try my example with [jbang](https://www.jbang.dev/) using a [gist](https://gist.github.com/lburgazzoli/4398aef11cc2880daf4ad05a4dbe8f58):

[code]

And it does work for me, I suspect you have some issue in how you start etcd

[2020-11-25 02:27] cleverpig commented on #853
Jbang is ok.
But I change to the maven build with your code and etcd config, it doesn't work too...

[2020-11-25 06:17] lburgazzoli commented on #853
So you have something wrong on your set-up.

Did you try to use the exact same dependencies I've used for jbang/groovy ?
I've noticed that you are using some old version of jetcd and slf4j.

[2020-11-25 13:48] marcosflobo opened #855 "Unexpected error occurred: cannot find a NameResolver for ip:///localhost:2379"
Hello,

# Description
Playing with this project I've tried to do the hello world but unfortunately, the client code is not able to reach the etcd server (localhost)

[code]

It looks like my code is not able to reach the etcd server working as a Docker container when my local `etcdctl` actually can connect. I'm doing it all in localhost.

# How do I run the etcd server?
[code]
# Does the etcd work

[2020-11-25 13:52] lburgazzoli commented on #855
That seems quite strange as the resolver should be part of jetcd-core jar.
Can you share more info about the project set-up, dependencies etc ?

[2020-11-25 15:07] marcosflobo commented on #855
Thanks for the fast response.

Yes, actually I continue investigating and I could reduce a bit the scope.

Actually, using directly the `jetcd` dependency, I do not face this error. This means that it works well in a clear Java Gradle app.

Now, I give you more context. I'm doing a wrapper/integration. I'm using `jetcd` on this micronaut integration (https://github.com/marcosflobo/micronaut-etcd/t

[2020-11-25 15:09] lburgazzoli commented on #855
I think the problem is either in how the fat jar is created, so the relevant resources are not included or there is an issue with the classloader

[2020-11-25 16:12] marcosflobo commented on #855
I think the same. However, it's strange to me that the way a JAR is created could affect a value is considered well or not. I'll keep investigating on the way the JAR is created? Any clue/advise?

Thanks!

[2020-11-25 16:32] lburgazzoli commented on #855
it depends what shadow does, if it rename classes, then you also need to rename the service files

[2020-11-25 16:39] lburgazzoli commented on #855
So I did test your demo and it works for me, at least it does not fail
`compile files('tmplib/etcd-1.0.0.BUILD-SNAPSHOT-all.jar` however, looks suspicious as the `-all` is already an uber jar

[2020-11-25 16:44] marcosflobo commented on #855
Did it work properly for you with no changes from the repo?

[2020-11-25 16:46] lburgazzoli commented on #855
it does not build at all as it reference the `tmplib`
I got it working by changing to the real jetcd dependency, and by working it means it does not throw the exception you mentioned

[2020-11-25 17:01] marcosflobo commented on #855
Indeed, using the real `jetcd` it works. I'll come back to this ASAP with a conclusion to my issue. What it's important is that the issue is not in the `jetcd` itself

[2020-11-26 05:39] septyy commented on #851
Thanks, author. I have already resolved the problem. It was maybe uncorrect usage.

[2020-11-26 05:39] #851 closed

[2020-11-26 05:41] septyy opened #856 "Can provide watch async api usage?"
Sorry, I can not find the example how to call watch async ? Can you please share the example with UT or other ways?

[2020-11-27 19:00] marcosflobo commented on #855
@lburgazzoli the problems as in my side, as you suspected ;). FYI Here the full topic and solution https://github.com/marcosflobo/micronaut-etcd/issues/9

Please, feel free to close this issue.

Thank you for your support!

[2020-11-28 13:58] marcosflobo opened #857 "question: Beta annotation for KV and Election clients"
Hello,

There are 2 clients, KV and Election, which are annotated with `@Beta` meaning that "is declared as unstable interface"

May I ask why is still unstable and if there is a plan to make it stable?

Thanks for your time on this!

/question

[2020-11-30 08:18] lburgazzoli commented on #855
ths for the feedback

[2020-11-30 08:18] #855 closed

[2020-11-30 08:19] lburgazzoli commented on #857
I think they are leftovers, you are wlcome to send a PR to remove them

[2020-11-30 13:39] marcosflobo commented on #857
I'll do, thanks!

[2020-12-01 02:22] septyy commented on #856
Is there any update?

[2020-12-01 06:32] lburgazzoli commented on #856
what do you mean exactly ?

[2020-12-01 12:21] septyy commented on #856
Does the jetcd provide async watch implementation?

[2020-12-01 12:29] lburgazzoli commented on #856
watch is asynchronous, have a look at https://github.com/etcd-io/jetcd/blob/master/jetcd-examples/jetcd-watch/src/main/java/io/etcd/jetcd/examples/watch/Main.java

[2020-12-06 02:13] javasoze opened #861 "jetcd depends on spotbugs, which is not compatible with APL 2.0"
Though jetcd is APL 2.0, the included spotbugs-annotations is LGPL: https://github.com/spotbugs/spotbugs/blob/master/LICENSE

Its dependency should probably be removed: https://github.com/etcd-io/jetcd/blob/master/pom.xml#L315

[2020-12-07 12:04] lburgazzoli commented on #861
@javasoze do you have time to work on a PR ?

[2020-12-09 16:54] #857 closed

[2020-12-14 00:46] #833 closed

[2020-12-23 12:13] kentchenjh opened #867 "Watch resume throw npe"
**version**
0.5.0

**how to reproduce**
use a watch client and watch a event , then shut down etcd server, and wait for a min.

jetcd will throw a npe like this.
[code]

after that resuming watch is impossible.

[2020-12-23 12:27] lburgazzoli commented on #867
can you test with latest release ?

[2020-12-24 02:20] kentchenjh commented on #867
test with 0.5.3, no NPE show up, But watch is still unavailable after etcd server down for 2 or 3 mins. Is there any max retry time or timeout for watch?

[2021-01-02 23:28] lburgazzoli commented on #846
@magiccrafter have you had any time to work on this pr ?

[2021-01-03 01:02] #786 closed

[2021-01-04 22:36] magiccrafter commented on #846
Happy new year @lburgazzoli
The PR is ready to be reviewed.

[2021-01-11 01:07] #848 closed

[2021-02-02 00:46] #853 closed

[2021-02-02 10:16] niklaskhf opened #880 "Redacted"
Redacted. Please feel free to delete this issue.

[2021-02-02 10:28] lburgazzoli commented on #880
no, looks like a bug

[2021-02-02 10:35] lburgazzoli commented on #880
@niklaskhf I have very limited time to look at the issue, do you maybe have some spare time to check what's going on and send a PR ?

[2021-02-04 07:52] niklaskhf commented on #880
@lburgazzoli I'm unfortunately not really familiar with Java's gRPC and netty channels. I know that in the grpc-go library there is a dial option [WithBlock](https://pkg.go.dev/google.golang.org/grpc#WithBlock) that would block until the channel is connected, but can't find something similar for Java.
At first I thought `connectTimeoutMs` would accomplish this, but on re-testing it doesn't seem to

[2021-02-08 00:40] #856 closed

[2021-02-13 00:40] #861 closed

[2021-02-15 14:03] jdhoek opened #885 "CHANGELOG is unmaintained"
The CHANGELOG looks abandoned. If changes are not maintained there I would recommend removing it.

Some information on what version of `jetcd` is recommended for which Etcd release and what the minor version bumps mean would be appreciated though.

[2021-02-15 14:06] lburgazzoli commented on #885
Yep, I'm aware of that but I'm really need some help to maintain such aspects.

[2021-02-26 07:07] pubxun opened #889 "In readme，api reference link is 404"
https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md

In readme， this link is 404

[2021-03-02 05:26] #889 closed

[2021-03-03 00:42] #867 closed

[2021-03-08 10:46] #880 closed

[2021-04-02 07:38] koo-taejin opened #900 "When is the next release scheduled?"
Hi, my name is Taejin.
First of all, I really thanks for creating such a wonderful project.

Currently, I am using jetcd in my personal project, and I am using grpc 1.36.1,
and it is difficult to change the grpc version because some libraries used grpc.

I checked that my project does not work properly due to a compatibility issue with grpc 1.33.0 version and 1.36.1 version.
(Link to related issue

[2021-04-07 13:50] lburgazzoli commented on #900
I'll try to do a release in the coming days

[2021-04-24 01:01] #885 closed

[2021-05-04 06:41] cfz commented on #900
hi @lburgazzoli, do you have a release plan for this? if you have some TODO, i'm also willing to help. we heavily use jetcd in production.

[2021-05-04 09:23] lburgazzoli commented on #900
Version 0.5.7 should be available soon on maven central

[2021-05-04 12:10] lburgazzoli commented on #900
0.5.7 available on maven central https://search.maven.org/artifact/io.etcd/jetcd-core/0.5.7/jar

[2021-05-04 12:10] #900 closed

[2021-05-11 13:31] breaksilence opened #914 "Can access to classes and methods be properly opened"
Why are most of the classes or methods final or private, which almost blocks the extension of jetcd

[2021-05-11 13:43] breaksilence commented on #914
1. When the grpc on which jetcd depends has a security problem and the grpc has to be upgraded, it may need to be compatible with jetcd

2. When I want to set retrypolicy, I find that it is a fixed write dead policy, and it is difficult to extend it

3. I want to add a specific implementation, such as implementing a custom clientimpl, but I can't inherit it. After copying the source code in time,

[2021-05-11 14:33] lburgazzoli commented on #914
can you open an issue on point 2 and 3 ? I think the policy and the client impl can be eventually be mad possible, maybe you can provide also some example.

[2021-05-12 02:03] breaksilence opened #915 "Hard for custom clientimpl and set retrypolicy"
this issue Discussion based on issue #914

1. When I want to set retrypolicy, I find that it is a fixed write dead policy, and it is difficult to extend it

2. I want to add a specific implementation, such as implementing a custom clientimpl, but I can't inherit it. After copying the source code in time, it's difficult to reuse the internal logic, because the internal references are protected

two

[2021-05-20 16:06] senfamulo opened #922 "Embrace gRPC deadlines"
Context:
In a 5 node production environment we encountered a situation where one of the nodes went completely crazy for yet uncertain reasons. It massively slowed down, gained seconds of clock difference and lost the connection to its peers. So far so bad, but the the quorum is not lost thus the system should keep on operating fine. However our client application instances use jetcd (0.5.0) to com

[2021-05-20 16:18] lburgazzoli commented on #922
I think a similar mechanic of what it is done in the lease client can be implemented in other part of the code, do you have any time to help on this feature ?

[2021-05-20 22:44] senfamulo commented on #922
Thank you for the extraordinarily quick response!
I suppose the `io.etcd.jetcd.options.*` is a suitable place to give optional control over deadlines?
It would be my honor and pleasure to contribute, it's just that my employer would rather see me in prison than not owning every line of code i write or idea i have, be it in or off working hours :confounded: Well see what we can do...

[2021-05-21 06:19] lburgazzoli commented on #922
io.etcd.jetcd.options.* seems fine but we can discuss while we iterate over the implementation.

looking forward to your contribution

[2021-06-02 07:58] zhongliang-lu opened #925 "unlock is failure"
Two processes, one A, the other B. A lock. (key, leaseId), B lock. (key, leaseId). A lock.unlock(key) but lease not revoke . B not get lock.

[2021-06-10 07:26] ysc972 opened #927 "request help ： using Jetcd watch api cannot receive evnet"
Hello . When I use Jetcd's Watch function after a while ,I put something to etcd with Jetcd  put api ,but My Application can not receive the put event. I don't know what the problem is caused by this problem.

[2021-06-10 07:49] lburgazzoli commented on #927
it is very hard to provide any sort of help with issues reported this way as:

- no information about what are the versions of jetcd and etcd
- no logs / stack trace
- no reproducer

I have very little time to work on this project so if you are seeking for help, please try to set-up a reproducer (i.e. you can send a PR with a unit/integration test) and I'll do my best to help/fix the issue.

[2021-06-10 07:58] ysc972 commented on #927
Thank you for your reply. `jetcd-core.version`:`0.5.7`,`etcd version` : '3.5.0' .
My code is as follows.

[code]
Thank you.

[2021-06-10 08:01] lburgazzoli commented on #927
This is the code of the watcher, I need some sort of a reproducer for the issue

[2021-06-10 08:10] ysc972 commented on #927
When this problem occurs, I didn't get any logs and stack trace. When I put something to etcd , the watch did not executed . I am waiting for this problem now. I would like to know when I use wacher api , need I use some api to keep alive with etcd . When the connettion of etcd disconected ,should I watcher again . Thank you for your reply .

[2021-06-10 08:12] lburgazzoli commented on #927
it should automatically reconnect but now you are adding another info that war missing in the original description: are you saying that the problem happen after a disconnection ?

[2021-06-10 08:25] ysc972 commented on #927
I'm just guessing this is the reason. I closed etcd for a while and then restarted. The jetcd running normally.So, now I don’t know the cause of this problem.I don't know what I should do when the problem happend again . The watcher does not execute ,so i can not get any log or stack trace . Thank you for your reply .

[2021-06-10 08:55] lburgazzoli commented on #927
can you maybe enable more tracing on etcd and jetcd ?
so maybe etcd would report additional info ?

In the past I saw some issue because jetcd was not reconnecting properly or because there were issues in re-starting the etcd cluster so some node did not receive any update.

Maybe you can also add a callback to the watcher for the error and log it.

[2021-06-10 09:01] ysc972 commented on #927
I only ran one etcd node. I don't know if it is caused by this.

My startup command is as follows.

[code]

[2021-06-10 17:03] mikehuston opened #928 "Support for RequestProgress for Watch?"
I'd like to use the RequestProgress functionality added https://github.com/etcd-io/etcd/pull/9869 in this Java etcd client.

Use case is similar to the one mentioned in that PR; I'd like to maintain an in-memory cache of an etcd key range and use RequestProgress in combination with a quorum read so that I can know when my cached data may be out of date.

I looked at the Watch [interface](https://g

[2021-06-10 17:09] lburgazzoli commented on #928
A PR would be very welcome !

[2021-06-10 17:26] mikehuston commented on #928
Excellent, thanks @lburgazzoli! I'll take a shot at a PR, using the Go client change as a reference.

[2021-06-17 13:45] horizonzy opened #934 "Change prefix param type to boolean."
the param prefix at get api is ByteString, it's weird, it can be replace by boolean.

https://github.com/etcd-io/jetcd/blob/76637dc28dcf1beef89c5e07cb3a32cbff86231f/jetcd-core/src/main/java/io/etcd/jetcd/options/GetOption.java#L180-L185

[2021-06-17 16:57] horizonzy commented on #934
At go version, prefix is a flag which to get value by input key prefix. We just need `set prefix = true or false`, instead of `set prefix = key` again. It makes me confuse, after see the source code, I understant it.
So make the prefix param easier to understand, modify the param type, user didn't set key as the prefix value again.

[2021-06-17 17:23] lburgazzoli commented on #934
Ok, I think we need two thing here otherwise is even more confusing:
- withPrefix does not sound right for a boolean value, it seems to suggest you have to provide a prefix, maybe isPrefix could be better
- it need to be handled consistently in any method not only Get

[2021-06-17 17:27] horizonzy commented on #934
That's fine.

[2021-06-17 17:48] horizonzy commented on #934
All done, see the newest commit.

[2021-06-18 12:36] lburgazzoli commented on #934
Fixed by https://github.com/etcd-io/jetcd/pull/935

[2021-06-18 12:36] #934 closed

[2021-07-08 10:44] jtgrabowski opened #946 "Resuming a watch on the latest revision that may be older than requested by the caller"
`WatcherImpl` sets the internal `revision` to `WatchOption#getRevision()` during instantiation but `WatcherImpl` overwrites the field on stream creation [here](https://github.com/etcd-io/jetcd/blob/8270c7301b0e7de2a359d0f772b5597b677ff097/jetcd-core/src/main/java/io/etcd/jetcd/WatchImpl.java#L221) with the latest existing revision.
If the latest existing revision is older than the provided by the

[2021-07-08 10:50] lburgazzoli commented on #946
What should be the behavior here ?
Should the call fail because the revision do not exists ?

[2021-07-08 11:00] jtgrabowski commented on #946
We could simply resume on the provided revision if it's newer than the latest existing.
afaik etcd server doesn't consider calls with "future revisions" as invalid.

[2021-07-08 11:13] lburgazzoli commented on #946
ok, make sense: do you have any time to work on a pr ?

[2021-07-08 11:27] jtgrabowski commented on #946
Yeah, I'll create a PR.

[2021-07-08 11:33] lburgazzoli commented on #946
That's really appreciated, I have very limited time so contributions are really welcome

[2021-07-08 14:28] jtgrabowski opened #947 "ClientConnectionManager retries work only for auth errors"
`Util.isRetryable` returns `true` only for token auth errors which seams like a typo. Should we retry on everything but auth errors?
As a result retries don't work for intermittent failures like temporary unavailability of etcd server.

[2021-07-08 14:33] lburgazzoli commented on #947
As far as I remember the idea was that if the token is expired, then we should retry and regenerate one so it may be still a valid case.

[2021-07-08 14:42] jtgrabowski commented on #947
Thanks, that makes sense. I refreshed the attached PR so that `UNAVAILABLE` and token errors are retried.

[2021-07-09 12:26] #947 closed

[2021-07-12 07:20] jtgrabowski commented on #946
The PR is ready.

[2021-07-12 09:54] #946 closed

[2021-07-13 11:06] mfleming opened #951 "Cancelled watchers should be closed"
When jetcd receives a cancelled response, such as when trying to read a compacted revision and getting a `CompactedException`, the watcher is effectively dead and will not receive any more events. I think it makes sense for jetcd to automatically close the watcher rather than leaving it to the user.

[2021-07-16 09:06] #951 closed

[2021-07-19 00:54] #914 closed

[2021-07-26 07:36] zliangliang1024 opened #956 "run exception"
[code]

[2021-07-26 07:39] lburgazzoli commented on #956
can you please provide a reproducer or at least the instruction to reproduce it ?

[2021-07-26 08:02] zhengyuyzhao commented on #956
tai la ji la ba

[2021-07-26 08:22] zliangliang1024 commented on #956
just use example, ctl and watcher both exception

[code]

[2021-07-26 08:43] zhengyuyzhao commented on #956
![image](https://user-images.githubusercontent.com/23691991/126960493-4525809e-edba-4717-a365-9330b32c0af3.png)

[2021-07-26 10:38] lburgazzoli commented on #956
did you copy the examples or run them from the jetcd repo ?

[2021-07-26 11:04] zliangliang1024 commented on #956
yes

[2021-07-26 11:15] lburgazzoli commented on #956
@zliangliang1024 yesy to what of the question ?

[2021-07-26 11:41] lburgazzoli commented on #956
I have followed the readme document in the example folder and they are working as expected
If you have copied the code in your project, please be sure the netty version is compatible with grpc-java

[2021-07-28 00:55] #922 closed

[2021-07-28 04:39] zliangliang1024 commented on #956
relation dependencies just follow，i have not depdency netty alone, example dependenies also follow
[code]

[2021-07-28 05:47] lburgazzoli commented on #956
it may come transitively from the grpc dependency so better not to declare it as it would come automatically from jetcd.

[2021-07-28 06:39] zliangliang1024 commented on #956
ok, thank you very much, i need  modify grpc-all version is 1.27.1 , because jetcd grpc-netty version is 1.27.1
io.grpc:grpc-all:1.27.1 and io.etcd:jetcd-core:0.5.0 work correctly
suggest describing version correspondence  on the official website or readme

[2021-07-28 06:40] #956 closed

[2021-07-28 06:41] lburgazzoli commented on #956
you can use jetcd-all if you want to use a "self-containing" artifact as it shades all the needed dependencies.

[2021-07-28 06:50] zliangliang1024 commented on #956
ok,I tried it just now ，it's also work correctly,thank you!

[2021-07-29 17:37] juliankung-db commented on #928
PR opened for this change https://github.com/etcd-io/jetcd/pull/957

[2021-07-29 18:36] mikehuston commented on #928
Thanks @juliankung-db! (we work at same company). After this merges, @lburgazzoli do you know how soon a new release including it might be available? We're trying to weigh different options for being able to use this functionality in our company's codebase. Many thanks!

[2021-07-30 17:19] juliankung-db commented on #928
Thanks for the quick turnaround on the review and merge @lburgazzoli :^)

In terms of the release, it'd be great on our side if it'd be possible to create a new release in the next week or two (please let us know if we can help). If not, we can look at short-term workarounds until the next release.

[2021-07-30 17:21] lburgazzoli commented on #928
I can plan to do a release over the week-end or beginning next week.
Ping me if you don't hear back from me about the release.

[2021-08-04 20:50] lburgazzoli commented on #928
Sorry for the delay, I have released it now.
Should be available on maven central in a few hours

[2021-08-09 00:54] #925 closed

[2021-08-11 06:24] lburgazzoli commented on #928
@juliankung-db can we close this issue now ?

[2021-08-11 16:34] juliankung-db commented on #928
Yep, looks like everything's good and working on our end, thanks :^)

Feel free to close it, @mikehuston is OOO until next week so he won't be able to close it until then

[2021-08-12 06:09] #928 closed

[2021-08-12 10:00] LERSONG commented on #956
@zhengyuyzhao 你的问题解决了吗？我也有同样的问题

[2021-08-12 10:03] lburgazzoli commented on #956
@LERSONG @zhengyuyzhao would be nice to use english here

[2021-08-12 10:11] zhengyuyzhao commented on #956
State secrets

[2021-08-13 08:41] LERSONG commented on #956
@zhengyuyzhao i use netty-buffer-4.1.66.Final in jetcd-core-0.5.10, then it run successfully.
`

             <dependency>
			<groupId>io.netty</groupId>
			<artifactId>netty-buffer</artifactId>
			<version>4.1.66.Final</version>
			<exclusions>
				<exclusion>
					<groupId>io.netty</groupId>
					<artifactId>netty-common</artifactId>
				</exclusion>
			</exclusions>
		</dependency>

		<dependen

[2021-08-13 08:44] LERSONG commented on #956
@zhengyuyzhao u can see [https://github.com/yametech/etcd-registry-spring-boot-starter](url)

[2021-08-18 00:54] #927 closed

[2021-08-20 03:11] huayaoyue6 commented on #823
when you use this method :
[code]
but have some error happens in "onNext" logic , you will get nothing tips expects "OUTBOUND RST_STREAM: streamId=5 errorCode=8" in log which in debug level , the exception is catch and mute ,  caluse the listener method:
[code]
"onError" is empty. if you dont familiar with the api and you will spend some time  to find out why the watch callback only invoke once.

[2021-08-20 03:14] huayaoyue6 commented on #823
when you use this method :
[code]
but have some error happens and throw exception in "onNext" implementation, you will get nothing tips expects "OUTBOUND RST_STREAM: streamId=5 errorCode=8" in log which in debug level , the exception is catch and mute ,  caluse the listener method:
[code]
"onError" is empty. if you dont familiar with the api and you will spend some time  to find out why the watch

[2021-08-20 07:57] lburgazzoli commented on #823
@huayaoyue6 is there anything we can do to improve this case ?

[2021-08-23 13:40] jeet129 opened #965 "jetcd-core v0.5.10 keepAlive terminates with a call to onComplete after some time"
[code]

  As per the documentation the keepAlive should renew the lease till the time application is running. I am calling this snippet from main method which keeps on running but still the lease expires after some time (a random time like 20 minutes, 30 minutes or so) with receiving a callback for onCompleted() method of observer.

Please help with fixing this issue. Looks like the keepAlive retr

[2021-08-25 01:42] pioneer-hash opened #967 "concurrent update fail"
The update fails in concurrent situations but no error message is reported
Let's write it this way:
[code]

[2021-08-25 11:46] jeet129 commented on #965
@lburgazzoli need your input on this. This is a very basic use case where in I want to keep the lease alive for the duration application is running or it is explicitly revoked. It should have worked as per the API docs.

[2021-08-30 05:29] lburgazzoli commented on #823
@huayaoyue6 the interface

[code]

Is of course expected to mute exception as you don't provide any error handler so it is up to you to ensure that the implementation of `onNext` does handles its exceptions. If you need to catch errors, there are a few other methods that add support to catch exceptions like:

 https://github.com/etcd-io/jetcd/blob/38133bcad3148dcbc951f047e8532e3732986bb3/jetcd-cor

[2021-08-30 05:37] lburgazzoli commented on #965
There should be an error happening in background or an error not recovered properly as the ttl here is 60 seconds but the `onCompleted` happens after 20/30 minutes, do you have any chance to increase the log level on both the client and the server and see what is happening ?

[2021-08-30 05:41] lburgazzoli commented on #967
This does not seems a concurrent update.
Can you provide a reproducer for the issue ?

[2021-08-31 10:37] carlanton opened #970 "Detecting connection errors"
Hi!

What is the correct way to do KV requests with a timeout? The client seems to retry forever (jetcd 0.5.10).
My code looks like this:

[code]

If I run this code without ectd running, it will never terminate. I've tried different retry options to the client builder but I can't get it to work.

Thanks,
Anton

[2021-08-31 10:40] lburgazzoli commented on #970
you mean, you run the code without having etcd running at all ?
can you please create a test/reproducer for this issue ?

[2021-08-31 12:43] carlanton commented on #970
Exactly! And I want to get notified if my application fails to connect the etcd server. I'll try to create a test.

[2021-08-31 14:23] carlanton commented on #970
Hopefully this test (#971) makes sense.

Currently, when I do `future.get(10, TimeUnit.SECONDS)` I will get a TimeoutException since the future is not ready yet. The thing I would except is that the future completes exceptionally (because of too-many-reties or something), which then can be handeld with the CompletableFuture api. What do you think?

[2021-08-31 14:25] lburgazzoli commented on #970
thx for the PR, I'll try to have a look at the issue in the coming days but I can't promise any ETA as I'm quite busy at the moment so if you have any spare time to digg into the issue, then it would be really appreciated.

[2021-09-01 08:29] carlanton commented on #970
I think that the problem is related to gRPC's "[wait for ready](https://github.com/grpc/grpc/blob/master/doc/wait-for-ready.md)" semantics. Currently it is enabled for all stubs (`.withWaitForReady()` in ClientConnectionManager). I updated the PR with a new setting in ClientBuilder that can disable it.

Another option could be to disable wait-for-retry completely  and rely on the Failsafe retry th

[2021-09-01 08:56] lburgazzoli commented on #970
The `wait-for-retry` option has been introduced by another user to avoid relying on failsafe so I think this is not an option for the moment

[2021-09-02 14:08] jeet129 commented on #965
Hello @lburgazzoli thanks for your response. I did increased the log visibility to DEBUG but I am not seeing any error or any abnormal events in both java client and etcd server logs.

[2021-09-03 17:34] mathewsreji opened #972 "Support for transaction and rollback on failure"
Hello community

I've been trying to understand transactions in etcd a bit more clear. Have a requirement where we have multiple put operations on the etcd.

Suppose, I have something as follows
1. PUT("path1/mykey1", "myvalue1)
2. PUT("anotherpath/mykey2", "myvalue2)
3. PUT("differentpath/mykey3", "myvalue3)

I need to ensure that even if my application fails / process dies / network drops at 3rd

[2021-09-09 10:40] lburgazzoli commented on #972
We have some tests here: https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/KVTest.java#L182-L251

Not sure if they cover all your cases but you may give it a try

[2021-09-14 07:32] johnxiaohe commented on #965
My Project get This Error after start 5s. And Watcher not Work

[2021-09-15 10:07] johnxiaohe commented on #965
I want to know which startup configuration of ETCD affects Jetcd's remote KeepAlive and Watch request operations. Or Jetcd client Build parameters affect the success or failure of KeepAlive and Watch requests

[2021-09-15 10:08] johnxiaohe commented on #965
default deadline after 5s

[2021-09-16 03:06] johnxiaohe commented on #965
3.4.7 and 3.5.0 version not work with module of simple auth or non auth. it work with SSL/TLS auth module.
Maybe KeepAlive and Watch only support GrpcConn operation?

[2021-09-18 07:00] johnxiaohe opened #979 ""Watch" And "KeepAlive" Operation Invalid Without SSL Auth On Windows System"
JetcdVersion: 0.5.0
EtcdVersion: ^3.3+

Only works when the SSL connection is opened !
Not Work When No Auth Or Simple Auth !

![企业微信截图_16319380634383](https://user-images.githubusercontent.com/37014780/133879547-33d508e2-c6d7-4474-80a5-01429dfe3df1.png)
![企业微信截图_16319465398344](https://user-images.githubusercontent.com/37014780/133879562-fa5c8845-9fec-4417-b8ef-cce5dfab1c3e.png)

[2021-09-21 04:17] lburgazzoli commented on #979
This sounds strange but unfortunately I do not have a window system to test, are you able to debug this ?

[2021-09-21 06:07] johnxiaohe commented on #979
We Can`t  Solve This Problem. It Work When We Use SSL Model. So It Might Be a compatibility issue with GRPC?

[2021-09-21 06:36] lburgazzoli commented on #979
It is very hard to provide help when issues are reported this way as there's no information about how etcd is setup, no code that shows how jetcd is used and no logs.

Giving that I only have a screenshot to base my analysis I would say that etcd is configured to disable unauthorized access and jetcd is silently trying to reconnect.

You can try to debug the code to confirm my analysis.

[2021-09-21 06:39] johnxiaohe commented on #979
ETCD uses all the default configuration. The code is Jetcd's ExampleDemo

[2021-09-21 06:45] lburgazzoli commented on #979
you are talking about ssl then you say that etcd is default so, there's something missing.

[2021-09-21 06:48] johnxiaohe commented on #979
We used to use SSL to connect and work normally. But now we use the default way to connect and can’t work normally on WindowsSystem

[2021-09-21 06:54] lburgazzoli commented on #979
Can you please provide the etcd set-up ?
Can you please provide logs ?

[2021-09-21 06:57] johnxiaohe commented on #979
This is set-up... . Forget about SSL, we are not talking about SSL
![image](https://user-images.githubusercontent.com/37014780/134125390-e4539cb8-ced8-4240-9a0b-153b7cad47fc.png)

[2021-09-21 06:59] lburgazzoli commented on #979
Again, can you please provide jetcd debug logs ?

[2021-09-21 07:00] johnxiaohe commented on #979
This Code. https://github.com/etcd-io/jetcd/blob/master/jetcd-examples/jetcd-ctl/src/main/java/io/etcd/jetcd/examples/ctl/Main.java

[2021-09-21 07:02] lburgazzoli commented on #979
Again:
1. I do not have windows
2. I need help to debug this issue

So please, can you provide logs ?
I see etcd is running on a linux box here so the communication can also be between etcd nodes and jetcd, did you try with etcdctl ?

[2021-09-21 07:09] johnxiaohe commented on #979
I don't want to interfere with your judgment. Because Jetcd does not output error log. This is the connection output log after startup. Thank you！

[code]

[2021-09-21 07:57] lburgazzoli commented on #979
Can you please try with etcdctl ?

[2021-09-21 08:00] johnxiaohe commented on #979
There is no problem with etcdctl.

[2021-09-21 08:55] lburgazzoli commented on #979
I did try on linux with etcd 3.4.16 and jetcdctl compiled from master and it works.
Unfortunately I do not have a Windows box so I can't test you exact set-up.

I recommend to try with the latest release, you need to debug a little bit the code to understand what's going on.

[2021-09-21 09:24] johnxiaohe commented on #979
thank you very much！

[2021-09-24 04:25] thislyc opened #986 "We hope that the grpc request to obtain the token can also support custom headers"
![Uploading image.png…]()

[2021-09-24 04:27] thislyc commented on #986
We need to pass through some parameters in the header, including the request to obtain the token, which is very meaningful

[2021-09-24 04:48] lburgazzoli commented on #986
You are welcome to open a PR

[2021-09-24 05:13] thislyc commented on #986
![image](https://user-images.githubusercontent.com/42378143/134621638-961dd603-7fbf-4252-8fc1-7a41228bf267.png)
I'm trying to modify it, but it doesn't work.

[2021-09-27 09:50] guyoulan opened #988 "jetcd cannot reload renewed client certificate automatically"
Hi,

I'm using jetcd as java client to connect etcd server with tls, but face problem when the client certificate expires, it can not automatically reload the cert and failed to connect server.

       private static SslContext getOpenSslContext(EtcdClientConfig config) throws SSLException {
            File trustManagerFile = new File(config.getCaCert());
            File keyCertChainFile = new F

[2021-09-27 10:17] lburgazzoli commented on #988
Well, if the certificates has expired, you'd probably need to provide the new one and restart the application. jetcd does not watch for the files read by the trustManager and keyManager for changes.

[2021-09-27 14:52] guyoulan commented on #988
Hi @lburgazzoli

The new one already renew and placed in the same location which already provided to jetcd client.
Then what does this code  test for? Seems it says can refresh token even if the ca cert expired.
https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/test/java/io/etcd/jetcd/WatchTokenExpireTest.java

[2021-09-27 14:54] guyoulan commented on #988
If need to restart the application, all the watch client, lease keepalive connection are shutting down....

[2021-09-27 15:35] lburgazzoli commented on #988
cleont certificate expiration and token refresh are two different things, how is your etcd started ?

[2021-09-27 16:46] guyoulan commented on #988
I use etcd cluster in kubernetes environment, it enables tls authentication.
Well, so jetcd currently does not support client cert refresh in its connection, right?
This should be a common question, yet may not jetcd issue. I just wander how others handle this kind of scenario.

[2021-09-27 16:50] guyoulan commented on #988
Or is there any way to set ssl socket for this scenario in jetcd client but not close the client and create another client?

[2021-09-27 16:52] lburgazzoli commented on #988
Again there are two things:
1. token refresh which should be supported as per the test you linked
2. hot reload of a client cert file which is not supported and (not sure if that is even possible but you should check the underlying grpc-java library as the stack if provided by such library)

[2021-09-27 16:54] lburgazzoli commented on #988
Have a look at: https://github.com/grpc/grpc-java/issues/5335

[2021-09-27 17:05] guyoulan commented on #988
Thanks, I'm looking into that link.

[2021-10-04 21:14] mikehuston commented on #970
Thanks so much @carlanton @lburgazzoli for reporting and the analysis.

I've also been running into this (etcd client appears to retry forever and it would be helpful to be notified with exception after timeout).

Is there a recommended solution or workaround? Would @carlanton's proposal of adding `waitForReady` toggle in `ClientBuilder` break anything?

[2021-10-05 04:11] lburgazzoli commented on #970
@mikehuston I think it can be an acceptable compromise, willing to send a PR ?

[2021-10-05 11:07] carlanton commented on #970
I've updated #971 with a fix!

[2021-10-09 10:35] johnxiaohe opened #992 "refreshToken failed"
My Etcd Server is Etcd Grpc-Proxy Cluster By Etcd Version 3.3.25

When Token is Invalid. Proxy Node response msg is ”etcdserver:invalid auth token“.
But response code is UNKNOWN(2), Not UNAUTHENTICATED(16).
![企业微信截图_1633754973301](https://user-images.githubusercontent.com/37014780/136654589-e4631786-7a43-49d9-bedc-d3a84081fced.png)

[2021-10-11 15:23] Excpt0r opened #993 "IP resolver not updating IPs on failure"
Hi,

I use jetcd in an application that runs on kubernetes and connects to a 3-node ETCD cluster (also k8s).
When I scale down the ETCD cluster to 0 instances and then scale up again to 3,
jetcd client is not able to reconnect again to the ETCD cluster (healthy again).
The new ETCD pods on kubernetes get a new IP, and DNS names are updated and also resolve correctly within the JVM (when networkadd

[2021-10-11 16:18] Excpt0r commented on #993
So far I have not enough knowledge about jetcd, the changes done in https://github.com/etcd-io/jetcd/pull/814 and how that works with grpc-java, to be able to design a solution.
If you already have an idea what needs to be changed, let me know and I will have a look.

[2021-10-12 05:55] lburgazzoli opened #995 "Remove jetcd-all"
I have a limited time to maintain the project and I want to reduce the number of artifacts to the bare minimum, so I'm proposing to remove jetcd-all.

Objections ?

[2021-10-12 08:55] lburgazzoli opened #996 "Remove jetcd-extensions"
I have a limited time to maintain the project and I want to reduce the number of artifacts to the bare minimum, so I'm proposing to remove jetcd-extensions.

Objections ?

[2021-10-12 16:15] Excpt0r commented on #993
Thanks! I will test the PR in the next few days.

[2021-10-14 20:51] mikehuston commented on #970
Thank you @lburgazzoli and @carlanton? 🙌

Is there any chance a new release will be available soon-ish that includes https://github.com/etcd-io/jetcd/pull/971?

[2021-10-14 21:00] lburgazzoli commented on #970
I'm waiting for feedback on another pr, then I can do a release

[2021-10-17 07:34] lburgazzoli commented on #992
please add kore details, what is failing ?

[2021-10-17 07:36] johnxiaohe commented on #992
![image](https://user-images.githubusercontent.com/37014780/137616762-cf284967-e7b7-4e8e-9441-d3c208a99069.png)
[code]

[2021-10-17 07:39] johnxiaohe commented on #992
![image](https://user-images.githubusercontent.com/37014780/137616929-f9133cf8-4f36-4acb-b79a-ce727aced044.png)
[code]

[2021-10-17 07:44] lburgazzoli commented on #992
well, this is how maven works and not really related to the jetcd project itself.

If you build a module, you need to be sure the other modules have been installed or use --also-make option, see https://maven.apache.org/guides/mini/guide-multiple-modules.html

[2021-10-17 07:52] johnxiaohe commented on #992
![image](https://user-images.githubusercontent.com/37014780/137617435-9ea75019-d239-48b4-a35d-4a27706f9659.png)

[2021-10-17 07:58] johnxiaohe commented on #992
Please understand, I don't have so much time to research how to install it.

[2021-10-17 08:01] lburgazzoli commented on #992
I do not have much time either, please run the following command from the command line:

[code]

[2021-10-17 08:46] lburgazzoli commented on #992
@johnxiaohe I've opened a PR that may fox some issuses https://github.com/etcd-io/jetcd/pull/998 and I've tested a fresh copy of the project

![image](https://user-images.githubusercontent.com/1868933/137619327-42e58b29-5193-4ec8-a527-bda277ee5f81.png)

So to me it works, let me know if you have other issues

[2021-10-17 09:00] lburgazzoli commented on #988
@guyoulan it is ok if I close this issue ? It does not seems something directly related to jetcd and if you find a way to make it easy, I'm happy to incorporate a PR

[2021-10-17 09:05] lburgazzoli commented on #915
@breaksilence can you provide some exemplar code about what you are doing as today ?

[2021-10-18 11:00] lburgazzoli commented on #992
can you please run `mvn install -DskipTests` from the root project ?

[2021-10-18 11:33] lburgazzoli commented on #992
well, if there's a problem I'd like to fix it but I need some more help from your side as I'm not experiencing any issues as you do.

Can you please use maven from the command line ?

    mvn install -DskipTests

from the root project

[2021-10-18 21:36] #993 closed, assigned to nobody

[2021-10-22 10:11] #992 closed, assigned to nobody

[2021-10-30 05:47] mattisonchao commented on #809
I want to help you migrate this project to Gradle, which type should we do (Kotlin script or groovy) ?

[2021-11-02 19:40] carlanton commented on #970
Thanks a lot! 👍

[2021-11-02 19:40] #970 closed

[2021-11-03 14:11] johnxiaohe opened #1005 "Why the MethodType of LeaseKeepAlive and Watch function is BIDI_STREAMING"
rpc LeaseKeepAlive(stream LeaseKeepAliveRequest) returns (stream LeaseKeepAliveResponse) {}

[2021-11-03 14:13] johnxiaohe commented on #1005
I was recently looking at the problem that the LeaseKeepAlive method did not receive a response callback on the windows system. Thank you.

[2021-11-03 14:17] johnxiaohe commented on #1005
I found that KeepAlive-Observer is set to pass Debug.  And KeepAlive request sending is also executed to the ClientCallImpl.sendMessageInternal function. But ClientStreamListenerImpl did not receive the callback notification.
No error log even.

[2021-11-03 14:21] johnxiaohe commented on #1005
Other UNARY type methods can be returned. Execute the messagesAvailable method. Then execute the observer callback. But the BIDI_STREAMING methods not callback. I have a hard time understanding.

[2021-11-03 14:30] johnxiaohe commented on #1005
[code]
I have tried again to keep KeepAlive

[2021-11-05 07:34] guyoulan commented on #988
@lburgazzoli Sorry for late reply, you can close this issue. Agree that it's not directly related to jetcd.

[2021-11-05 08:08] #988 closed

[2021-11-06 00:54] #967 closed

[2021-11-09 09:02] carlye opened #1008 "io.etcd.jetcd.shaded.io.grpc.StatusRuntimeException: INTERNAL: Panic! This is a bug!"
After running for a period of time, our application reports “io.etcd.jetcd.shaded.io.grpc.StatusRuntimeException: INTERNAL: Panic! This is a bug!” . Back to normal after restart the application. I guess there may be a problem with the channel .
How can we fix it ?  Any suggestions are greatly appreciated !

        <dependency>
            <groupId>io.etcd</groupId>
            <artifactId>jetcd-c

[2021-11-09 09:25] carlye commented on #1008
2021-11-05 00:02:12 |-ERROR in c.i.v.c.c.e.EtcdClient at [EtcdClient.java:242] - Read ETCD[uap-mock-dev.properties],Error：java.util.concurrent.ExecutionException: i
o.grpc.StatusRuntimeException: INTERNAL: Panic! This is a bug!
java.util.concurrent.CompletionException: java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: INTERNAL: Panic! This is a bug!
        at java.util.conc

[2021-11-09 09:50] lburgazzoli commented on #1008
The cause is `java.lang.OutOfMemoryError: unable to create new native thread` so it may be that there is some memory leak somewhere (either in jetcd or in your code).

You need to profile the application to see what's the root cause or provide a reproducer and I'll investigate.

[2021-11-09 13:05] carlye commented on #1008
Thank you very much for your reply, we will carefully check the code again.  When we reproduce or find a problem, we will contact you again

[2021-11-11 06:48] johnxiaohe commented on #312
same problem when reconnect etcd server

[2021-11-11 08:05] lburgazzoli commented on #312
can you provide a reproducer ?

[2021-11-11 08:20] johnxiaohe commented on #312
Step
1. open watch
2. stop etcd
3. jetcd will frequently callback Linstener.onError. Exception Message: io.exception
4. start etcd
5. jetcd callback Linstener.onError. ExceptionMessage:  etcd server failed to create watch id

I try rerun watch operating. But cant watch. Exception Message: io.exception

[2021-11-11 08:22] lburgazzoli commented on #312
do you have any time to submit a PR with an integration test ?

[2021-11-11 08:29] lburgazzoli opened #1009 "Drop support for Java 8"

[2021-11-11 08:55] johnxiaohe commented on #312
Recently, the project is relatively busy, and there is no time to do the previous PR. And I think the above process steps are very clear.
It is difficult to do integration testing in this scenario

[2021-11-11 10:08] johnxiaohe commented on #312
Application Logs:
[code]
ETCD Logs
[code]

[2021-11-11 11:48] johnxiaohe commented on #312
debug get headers:
[code]

[2021-11-11 12:50] johnxiaohe commented on #312
I guess because the ETCD restarted. So the previous Token has expired. But returning here does not return an error that the authentication is invalid. Instead, there is no permission. So will not go through the re-authorization process?

[2021-11-11 12:57] lburgazzoli commented on #312
it could be, [this](https://github.com/etcd-io/jetcd/blob/aa057f86003f941a8e685e87df4d4d0980a95dd4/jetcd-core/src/main/java/io/etcd/jetcd/Util.java#L84-L87) method should probably be updated.

However the error from etcd is really mileading

[2021-11-11 13:05] johnxiaohe commented on #312
Yes. And the error of the proxy node returns CODE

[2021-11-11 13:14] johnxiaohe commented on #312
This is indeed the problem. After ETCD restarted, I called a one-yuan request to automatically refresh the token. Then the monitoring succeeded. I hope the refresh token method can be called externally. Finally, can this fix be updated to version 0.5.0?

[2021-11-11 13:21] lburgazzoli commented on #312
we can probably include the check for that error in the method I linked

[2021-11-11 13:47] #809 closed

[2021-11-11 13:47] #995 closed

[2021-11-11 13:47] #996 closed

[2021-11-11 13:47] #1009 closed

[2021-11-12 02:53] johnxiaohe commented on #312
When the connection has been disconnected. Failed to close Watcher. At this time the connection has been disconnected.

[code]

[2021-11-12 06:46] johnxiaohe commented on #312
Temporary solution

[code]

[2021-11-16 00:57] #972 closed

[2021-11-16 02:14] Cifer0325 opened #1012 "when the connected etcd node is down or in error, jectd watch cluster would not work."
In java program, I used the v0.5.10 jetcd to watch a ETCD cluster.
Basically, the jectd builds the connection with the dns domain, which is resolved into three ETCD IPs. Then, while I stop the ETCD sever on one node that the program connected, the ETCD watch was useless and could not watch any changes for keys. It was not until I restart the ETCD server, stop before, that this watch worked again.

[2021-11-16 07:20] breaksilence commented on #915
ClientImpl and ClientConnectionManager is not public , Client is a interface , ClientConnectionManager  is not a public class, when I want custom implementation , overwrite some method ,not easy to did it

[2021-11-16 08:56] lburgazzoli commented on #915
This was clear but I need some clear examples as most of the classes are not supposed to be overridden by the user.

The fact that we have interface is mainly for implementation purpose so I need to understand what are the bits that may need to be customized and then I can evaluate the introduction of the right extension points but you can understand that we cannot open everything up as it would b

[2021-11-16 09:03] lburgazzoli commented on #1012
Can you provide an example ?
Can you also try with etcdctl ?

The dns resolver refreshes the IPs automatically buit that's not under the control of jetcd (https://github.com/etcd-io/jetcd/blob/master/jetcd-core/src/main/java/io/etcd/jetcd/resolver/DnsSrvNameResolver.java#L125-L161) but I guess the dns resolves the 3 IPs regardless of the fact that one instance is up or down.

As a note, the defaul

[2021-11-16 17:05] lburgazzoli commented on #1005
@johnxiaoheis this related to jetcd ? or more grpc-java or etcd grpc definition ?

[2021-11-17 03:01] Cifer0325 commented on #1012
hi~ @lburgazzoli,
I think I expressed sth wrong. I agree that the dns resolver refreshes the IPs automatically. Based on my situation, the watch have been stablished. and then , I stop one of ETCD server, which the watch real connect to. On next, I continued to update value successfully for ETCD cluster. I found the watcher did not get any response from cluster. But, while I restarted the nod stop

[2021-11-17 03:13] hypocrite30 opened #1014 "The usage of jetcd is missing in README.md"
The examples about how to use jetcd in README.md were disappeared.
[Examples](https://github.com/etcd-io/jetcd/tree/master/jetcd-examples) can not be found.
Plz update the new URL or give me the way to learn about how to use jetcd. Thanks a lot. : )

[2021-11-17 06:14] lburgazzoli commented on #1012
Please, can you provide an example/reproducer ?
Did you try to change the load balancing policy ?

[2021-11-17 06:19] lburgazzoli commented on #1014
fixed

[2021-11-17 06:19] #1014 closed

[2021-11-17 08:08] Cifer0325 commented on #1012
String urls = "http://newinit.etcd.jddb.com:2379";
        Client etcdClient = Client.builder().endpoints(urls).build();
        String key = "/cy";
        Integer maxEvents = Integer.MAX_VALUE;
        CountDownLatch latch = new CountDownLatch(maxEvents);
        Watch.Watcher watcher = null;
        try
        {
            ByteSequence watchKey = ByteSequence.from(key, UTF_8);
            Wat

[2021-11-17 08:23] lburgazzoli commented on #1012
So here you are not using the DNS+SRV resolver provided by jetcd and in such case, the resolution returns a single address.

At the moment this functionality is not implemented  but I guess it can be: do you have any time to implement it ? I don't have too much time to do it myself.

As workaround, you can list the 3 addresses or use DNS+SRV

[2021-11-17 08:42] Cifer0325 commented on #1012
thank for your explain, I got it~

[2021-11-18 04:11] Cifer0325 commented on #1012
hi~ @lburgazzoli
while I run with master env, I found this issue have been solved. Compared with 0.5.10 jetcd, the master branch have a AbstractNameResolver class to create doResolve function which can resolve the domain.
would you mind to tell me where the master branch to release a new version?
or Could your provide a new released version which could run on JAVA 8 env ?  ^.^

[2021-11-18 06:27] lburgazzoli commented on #1012
I think it solve it by chance as the logic has not changed so maybe when a node goes down, then its IP is removed from the dns resolution ?  I think I will re-work the resolver impl we have so you can also use the [dns resolver from etcd-java](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/DnsNameResolver.java).

Is Java 8 really needed ?
My plan is to support LT

[2021-11-18 06:49] Cifer0325 commented on #1012
In my country, over thousands of companies  program is deployed based on free JAVA 8. Even Java 17 is out, it will take much time and programmer to change JAVA 8  to Java 17.  Those companies will not update old and stable program into a new java env.
maybe a special version ^.^~

[2021-11-18 08:07] lburgazzoli commented on #1012
I can certainly do a release with Java 8 but be aware that support will be removed soon.
I really don't have enough time to keep support for Java 8

[2021-11-18 13:10] lburgazzoli commented on #1012
I have release version 0.6.0 but unfortunately some plugins do not support anymore Java 8 so I can only use Java 11

[2021-11-22 12:01] illidanzen163 opened #1017 "isPrefix in GetOp don't work"
**Describe the bug**
jetcd version 0.5.10
I tryed to get range values by prefix in txn. But I can't get any value by using isPrex(). When I replace "isPrefix()" by "withPrefix()", it works.

**To Reproduce**
[code]

In the response there is nothing printed. But In getResponse the value is printed.

And when I replace isPrefix by withPrefix, it works.
[code]

**Expected behavior**
isPrefix works as

[2021-11-22 13:37] hypocrite30 opened #1018 "Page not found in README.md"
The [instruction ](https://github.com/etcd-io/etcd/blob/main/Documentation/dl_build.md) in [jetcd-ctl/README.md](https://github.com/etcd-io/jetcd/blob/master/jetcd-ctl/README.MD) is missing.
Plz update doc. Thanks a lot.

[2021-11-22 13:41] lburgazzoli commented on #1018
A PR to fix the issue would be very welcome

[2021-11-24 00:56] #965 closed

[2021-11-26 08:06] #1018 closed

[2021-11-29 00:56] #979 closed

[2021-11-30 09:24] breaksilence commented on #915
The current design is actually reasonable,If necessary I think we can start from two points.
eg:
1.Open necessary parameters or configured API methods, such as timeout retry mechanism
2.Provide a basic abstraction layer to implement the necessary methods, liberalize the protection of classes, and provide the requirements of specific reconstruction scenarios

If the API method is flexible enough, t

[2021-11-30 09:53] lburgazzoli commented on #915
You are very welcome to provide a PR

can you give a concrete example ?

[2021-12-01 02:31] weibubli opened #1022 "Could not work well when network partitions."
I found that the client's retry mechanism does not handle etcd exceptions.
For example, if the node requested by the client is partitioned in the cluster, the client does not retry the request on other nodes. Although the cluster is available at this time, the client fails to request the request.

How to handle this exception so that the client can successfully request in this case？

The following

[2021-12-02 01:02] vongosling commented on #1022
This is a verified problem by OpenChaos(https://github.com/openmessaging/openchaos). I found the [doc](https://etcd.io/docs/v3.5/learning/design-client/) said "Client-side keepalive ping still does not reason about network partitions...  (see etcd#8673 for more detail)."

It seems no answer to this problem, right? ping @xiang90

[2021-12-07 02:54] 20190101wkl opened #1025 "In kubernetes environment, use headless mode to connect etcd. After etcd restarts, it cannot be connected"
**Describe the bug**
In kubernetes environment, use headless mode to connect etcd. After etcd restarts, it cannot be connected

**To Reproduce**
1.create client using endpoints
`Client client = Client.builder().endpoints(
"http://common-etcd-etcd-0.common-etcd-etcd-headless.common.svc.cluster.local:2379",
"http://common-etcd-etcd-1.common-etcd-etcd-headless.common.svc.cluster.local:2379",
"http://

[2021-12-07 06:49] lburgazzoli commented on #1025
this has bern fixed in the latest release, can you try it out

[2021-12-07 08:48] 20190101wkl commented on #1025
The latest releases version is v0.5.0, which is the version we use.
![image](https://user-images.githubusercontent.com/46295149/144996622-8ff6ddb5-42ad-4fbf-ad54-61d96477f3e9.png)

[2021-12-07 08:49] 20190101wkl commented on #1025
The latest releases version is v0.5.0, which is the version we use.

[2021-12-07 08:50] lburgazzoli commented on #1025
No, the latest version is 0.6.1 (see https://search.maven.org/search?q=jetcd-core)
That is the latest version on github but it is not up to date

[2021-12-07 08:52] 20190101wkl commented on #1025
OK, thanks. I'll try the latest version

[2021-12-07 11:32] 20190101wkl commented on #1025
Jdk11 is required for release version 0.6.1. Our project uses JDK1.8. Has this problem been solved in the release version compatible with JDK1.8

[2021-12-07 11:36] lburgazzoli commented on #1025
Well, it is not a problem per se as the goal is to maintain support for LTS - 1 so Java 11 at the moment.

I'm the only maintainer so it is hard for me to maintain everything, if you want to help re-introducing support for Java 8, then  feel free to provide a PR

[2021-12-07 11:46] 20190101wkl commented on #1025
OK, I mean, in JDK1.8 compatible distributions (such as 0.5.11 and 0.5.10), has the problem that etcd will lose connection after restarting been solved

[2021-12-07 12:02] lburgazzoli commented on #1025
Not sure about what I can do, will have a look in the coming days

[2021-12-11 11:56] #1017 closed

[2021-12-15 10:19] leland17 opened #1033 "the round-robin do not take effective version 0.5.9"
**Describe the bug**
when a node is down in my etcd cluster, due to client pick_first mechanism,  the client would not connected to the cluster. even retry action do not taken.

When i change it to the round_robin policy, do not take efffective too.

**To Reproduce**
1. have a three node cluster, for example, 10.xx.xx.1, 10.xx.xx.2, 10.xx.xx.3, and the 10.xx.xx.1 is down, then the configure sequen

[2021-12-15 10:29] lburgazzoli commented on #1033
What versions did you use ?

[2021-12-15 10:40] leland17 commented on #1033
client 0.5.9

[2021-12-15 10:40] leland17 commented on #1033
server 3.4.14.3

[2021-12-15 10:44] lburgazzoli commented on #1033
An issue with the way the IP resolver works has been fixed in 0.6.x, can you try with that one ?

[2021-12-15 10:54] leland17 commented on #1033
where can i download that jar？
![image](https://user-images.githubusercontent.com/9267662/146173866-185b3046-ea56-461d-8aaf-25812bca8b4d.png)

[2021-12-15 10:56] lburgazzoli commented on #1033
From maven https://search.maven.org/search?q=jetcd-core

[2021-12-15 11:00] leland17 commented on #1033
i found that but it seems do not have jetcd-all 0.6.1

[2021-12-15 11:03] lburgazzoli commented on #1033
It is expected, jetcd-all has been removed in 0.6.x
If you use maven/gradle, the right set transitive dependencies should be retrieved by jetcd-core

[2021-12-15 12:49] leland17 commented on #1033
unfortunately, it has been the same.
nothing helped. and have no idea now, need help

[2021-12-15 12:54] lburgazzoli commented on #1033
does etcdctl works in such set-up ?
jetcd does nothing more than delegating to grpc-java

[2021-12-15 12:58] leland17 commented on #1033
I don't know why the retryenable is false, and i have no ability to change it

![image](https://user-images.githubusercontent.com/9267662/146190684-825d62f6-87d8-4950-9dc9-f80a47e3d5a3.png)

[2021-12-15 13:03] lburgazzoli commented on #1033
I mean, you need to try with etcdctl with a cluster and killing one node to wee how it works.

[2021-12-15 13:04] leland17 commented on #1033
it works of course the whole cluster. Because my go-clientV3 runs as normal

[2021-12-15 13:10] lburgazzoli commented on #1033
can you try to debug it ?
the retry logic should be implemented by the application code so maybe, there is some exception that is not taken into account

[2021-12-15 14:22] leland17 commented on #1033
![image](https://user-images.githubusercontent.com/9267662/146203642-032d4ac0-bc59-44e1-9e7b-6efe9ef2b0e3.png)
how should i set authority if my endpoints is in picture. and my cert do not contains such ip list

[2021-12-16 01:31] leland17 commented on #1033
thanks a lot, problem have been solved.

[2021-12-16 08:45] leland17 commented on #1033
but also I want to know，whether  the authority supports multi ip:port config, like: 10.xx.xx.1:2379, 10.xx.xx.2:2379, 10.xx.xx.3:2379.  and the code comment  never details

[2021-12-16 08:49] lburgazzoli commented on #1033
if you have time, please send a PR to add more visibility

[2021-12-16 08:56] lburgazzoli commented on #1033
This code is what configures the authority: https://github.com/etcd-io/jetcd/blob/main/jetcd-core/src/main/java/io/etcd/jetcd/resolver/IPNameResolver.java

So in essence, if the authority is configured with the builder, then it is used otherwise it is derived from the addresses as this is what grpc-java offers. See the NameResolver class

[2021-12-16 13:13] leland17 commented on #1033
And whether by the pick_first policy (the first node is ther error node),  jetcd have a buffer to storage context deadline error write request. And after the node recover，then the buffer data are transfered to write into the etcd cluster.

In my case that take place.

[2021-12-16 13:15] lburgazzoli commented on #1033
can you rephrase the sentence ?

[2021-12-16 13:21] leland17 commented on #1033
I hava edit my question. sorry

[2021-12-16 13:48] lburgazzoli commented on #1033
jetcd as a retry logic but the etcd node to hit is delegated to grpc-java (by the load balance policy)

[2021-12-16 14:15] lpcy opened #1036 "confused by the lock api"
I simply tested the lock api, but the code execution was beyond my expectation. First, I use etcdctl tool to occupy a lock, then execute the code, hoping to wait for the lock to be released, and then close the etcdctl tool. I thought the code would get lock and continue to execute, but it didn't (no "lock ok!" print). Did I write something wrong?
command: `etcdctl  --endpoints=myip:port lock lockN

[2021-12-18 12:58] sudoHackIn commented on #1036
Hi, @lpcy what versions(jetcd, etcd ,etcdclt) do you use? I tried your example and it did work as you expect.
May be there is issue with lock acquiring with etcdctl?
Try
`etcdctl --endpoints=--endpoints=myip:port lock lockName ` (without notepad)

[2021-12-18 13:21] sudoHackIn commented on #657
Looks like issue is no longer actual, because there is no longer com.google.protobuf:protobuf-lite in dependency tree, only
![protobuf-java](https://user-images.githubusercontent.com/9380854/146642484-e80e03fa-1498-4703-89dd-4986f0c7c0ba.png)
@SButterfly can you retest again?

[2021-12-18 13:48] sudoHackIn commented on #847
@lburgazzoli may be we should add additional documentation, that retries only works on unsuccessful operations? (network and authentication problems?)

[2021-12-18 14:00] lburgazzoli commented on #847
feel free to document it

[2021-12-19 07:20] lpcy commented on #1036
@sudoHackIn Thank you for your test. I found it was because of one bug in 3.x version etcd server. When one program that own and requiring a lot of lock on same lock name is suddenly killed, the memory data of the server is leaked. And this causes all clients to be unable to acquire new lock until the etcd server restart.

[2021-12-19 17:14] sudoHackIn commented on #1036
So, there is no issue in jecd? Can you close it?

[2021-12-20 01:04] lpcy commented on #1036
@sudoHackIn Yes, of course.

[2021-12-20 01:04] #1036 closed

[2021-12-20 07:22] horizonzy opened #1038 "Make future.get() throw exception when streamIds exhausted."
**Versions**
- jetcd: 0.4.1
- java: jdk8

**Describe the bug**
[code]
If user code as above, when grpc htttp2 stream id exhausted, it will block forever.

Is it can throw exception when stream id exhausted.

[2021-12-20 07:59] lburgazzoli commented on #1038
can you please provide a reproducer ?

[2021-12-20 08:05] SButterfly commented on #657
Yes, thank you)

[2021-12-21 11:45] horizonzy opened #1039 "Server side will close connection automatically when client watch many keys?"
**Versions**
- etcd: 3.4.7
- jetcd: 0.4.1
- java: jdk8

**Describe the bug**
In my situation, my client will get key value and watch it,  the number of key about 20w.
When the programer running, the key number reach abount 10w, the exception happened.
It looks the connection be closed by server side. At the same time, observer the netstat, the connection closed, then establish a new connection.

!

[2021-12-21 11:56] lburgazzoli commented on #1039
At the moment the watch impl is a little inefficient as it creates a watcher per watch, int eh future this need to be improved by re-using the same channel.

Out of curiosity, why do you need to create so many watchers ? can't you watch using i.e. a prefix ?

[2021-12-21 12:02] horizonzy commented on #1039
Is there some differentce between `multi key watch` and `prefix watch`. `prefix watch` is less performance loss than `multi key watch`

[2021-12-21 12:08] lburgazzoli commented on #1039
For a prefix watch you do a single watch request and then you get all the events on the relevant keys it certainly reduce the resource both the server and the client require

[2021-12-21 12:11] horizonzy commented on #1039
Thanks, I will modify the way of watch

[2021-12-21 12:11] #1039 closed

[2021-12-21 12:11] horizonzy commented on #1038
Fine, I will reproduce it

[2021-12-24 03:06] leland17 opened #1040 "how to debug a ssl certificate bug"
**Versions**
- etcd: _add the etcd version here_  3.4.13.2
- jetcd: _add the jetcd version here_ 0.5.9
- java: _add the java version here_ 11

**Describe the bug**
the jetcd do not show the log when the client connection failed due to the ssl shakehands. the only log is the client deadline.

**To Reproduce**
Steps or reproducer to reproduce the behavior.
This section *must* be provided, if not, th

[2021-12-24 14:20] sudoHackIn commented on #1040
Hi, jetcd internally use netty as a transport, so you can enable netty logs to debug ssl issue.
also try enabling java ssl logs
https://docs.oracle.com › ReadDebug
Debugging SSL/TLS connections - Oracle Help Center

[2022-01-16 01:06] #1008 closed

[2022-01-17 09:54] mmizera opened #1041 "Received GOAWAY with ENHANCE_YOUR_CALM. Debug data: too_many_pings"
**Versions**
- etcd: 3.5
- jetcd: 0.6.1
- java: openjdk 11

**Describe the bug**
When running quarkus app, Im getting these warnings

2022-01-17 10:45:03,031 WARNING [io.grp.net.NettyClientHandler] (grpc-nio-worker-ELG-2-4) Received GOAWAY with ENHANCE_YOUR_CALM. Debug data: too_many_pings
2022-01-17 10:45:03,031 WARNING [io.grp.int.AtomicBackoff] (grpc-nio-worker-ELG-2-4) Increased keepalive time

[2022-01-17 10:14] lburgazzoli commented on #1041
Does this happen also when using a non quarkus app ?

[2022-01-17 14:24] mmizera commented on #1041
Not sure, did not try it yet. But underlying framework should not be relevant, hence jetcd does not use any part of quarkus or quarkus related library as far as I undestand it.

I will try it later and let you know.

[2022-01-24 00:57] #1005 closed

[2022-01-24 08:01] horizonzy commented on #1038
Hi, I reproduce it, it work now, close it

[2022-01-24 08:01] #1038 closed

[2022-01-25 01:05] #1012 closed

[2022-02-08 01:02] #1022 closed

[2022-02-14 00:58] #1025 closed

[2022-02-23 01:10] #1033 closed

[2022-03-02 01:16] #1040 closed

[2022-03-07 10:09] mster429 opened #1044 "Conflict versions among jetcd core and grpc"
`Could not resolve version conflict among [io.etcd:jetcd-core:jar:0.5.8 -> io.etcd:jetcd-common:jar:0.5.8 -> io.grpc:grpc-core:jar:1.39.0, io.etcd:jetcd-core:jar:0.5.8 -> io.grpc:grpc-core:jar:1.39.0, io.etcd:jetcd-core:jar:0.5.8 -> io.grpc:grpc-netty:jar:1.39.0 -> io.grpc:grpc-core:jar:[1.39.0,1.39.0], io.etcd:jetcd-core:jar:0.5.8 -> io.grpc:grpc-grpclb:jar:1.39.0 -> io.grpc:grpc-core:jar:[1.39.0

[2022-03-07 10:16] mster429 commented on #1044
<dependency>
            <groupId>io.github.lognet</groupId>
            <artifactId>grpc-spring-boot-starter</artifactId>
            <version>${grpc-spring-boot-starter.version}</version>
        </dependency>

Resoloved the issue by upgrading the dependency from 3.5.1 to 4.55

<grpc-spring-boot-starter.version>4.5.5</grpc-spring-boot-starter.version>

[2022-03-07 10:16] #1044 closed

[2022-03-10 09:39] mster429 opened #1045 "jetcd 0.5.11 giving error when calling KVClient.Get() method"
I have wriiten a jetcd client wrapper in a spring application. And it uses jetcd-core 0.5.11. Getting following error while fetching the config value via KVClient.

Wrapper Method
[code]

[code]

[2022-03-10 12:36] yashugrankar opened #1046 "Jetcd watch stream not receiving updates after restarting etcd cluster nodes"
**Versions**
- etcd: 3.3
- jetcd: 0.5.11
- java: openjdk 8

**Describe the bug**
I am planning to use jetcd in an application, which sets up a watcher to check for updates to a key range in a 3 node etcd-cluster. This watcher is expected to run till the application terminates.

I want to determine the client behaviour when the etcd cluster is down. To do this, I'm starting a watch on the cluster t

[2022-03-10 16:21] lburgazzoli commented on #1046
can you test with a version built from the main branch ?

[2022-03-10 17:16] yashugrankar commented on #1046
@lburgazzoli I tried running the test again after using a new build from the main branch. I'm still getting the same result (i.e updates are not being received after nodes are restarted).

[2022-03-10 17:19] lburgazzoli commented on #1046
ok, I have very limited time so it would be very beneficial if you have time to create a test for this so that I can take a look.

[2022-03-13 11:41] leo-lao opened #1047 "does jetcd start to require JDK11 since version 0.6.0?"
Your project readme.md says

but I find `jetcd` seems to require JDK11 since version 0.6.0
I cannot run my example code using `jetcd-0.6.1` maven dependency in the JDK 8 environment.

And this also can be found in unzipped .class files from this website:
https://mvnrepository.com/artifact/io.etcd/jetcd-core/

Currently I am  concerned about this JDK dependency issue,
In fact I don't want to upgrad

[2022-03-13 13:51] lburgazzoli commented on #1047
From release 0.6.x the minimum java version has been bumped to 11 (https://github.com/etcd-io/jetcd/tree/jetcd-0.6.1) but due to popular demand we have temporary reverted that decision but  I have not performed any release since then.

I will probably cut a new release in the coming weeks but I can't promise anything as I'm maintaining this project in my very limited spare time.

I would also reco

[2022-03-14 01:27] leo-lao commented on #1047
Thank you for your effort, JDK11 is also one option for us, but we need time to estimate possible impact.
Anyway, we wil use `jetcd-0.5.x`	temporarily.

[2022-03-14 10:11] jasonstack opened #1049 "Use keep-alive-timeout from ClientBuilder instead of hardcoded FIRST_KEEPALIVE_TIMEOUT_MS"
**Versions**
- jetcd: 0.5.10

**Describe the bug**

When network latency is high, the `KeepAlive` in `LeaseImpl` is removed by `deadLineExecutor` before first keep alive response from ETCD server, because it uses `FIRST_KEEPALIVE_TIMEOUT_MS=5000`

**To Reproduce**
Use byteman to inject 10 second delay to `LeaseImpl#processKeepAliveResponse`.

**Expected behavior**
It should use user-provided keep-

[2022-03-14 10:16] jasonstack commented on #1049
Sure

[2022-03-14 14:00] #1047 closed

[2022-03-15 18:08] #1049 closed

[2022-03-16 04:45] jasonstack commented on #1049
@lburgazzoli do you know when is the next release?

[2022-03-16 07:40] Wang0310 commented on #844
@bh-tt  How to set the authorization?

[2022-03-16 08:07] bh-tt commented on #844
I set it using the builder method: `io.etcd.jetcd.Client.builder().authority("etcd");`

[2022-03-16 08:20] Wang0310 commented on #844
@bh-tt "etcd" is the value of hosts in the CA certificate issuing system.
My code snippet:
![image](https://user-images.githubusercontent.com/5894924/158546390-62ee8431-bc20-4cb9-b0ef-e2051ae87efa.png)
The etcd background log shows the following information:
Mar 16 16:18:44 localhost etcd: {"level":"warn","ts":"2022-03-16T16:18:44.483+0800","caller":"embed/config_logging.go:169","msg":"rejected co

[2022-03-16 08:29] bh-tt commented on #844
Yes, the etcd server certificate has `etcd` as one of its SANs. I am using the `"h2"` String as supportedProtocols however, not HTTP_2.

I do not use client certificate authorization, so I cannot help you with that.

[2022-03-16 08:34] Wang0310 commented on #844
Well, thank you anyway~

[2022-03-16 08:57] Wang0310 opened #1052 "Java SSL link error"
I encountered a problem with the following code snippet:

![image](https://user-images.githubusercontent.com/5894924/158552696-c3156498-f37e-45c1-a230-540cea6603fd.png)

However, the etCD service displays the following error:

![image](https://user-images.githubusercontent.com/5894924/158552878-61f7606a-86d9-4736-8b65-c129ae5928a8.png)

So, I'm not sure what the problem is, right?  When I use etcd

[2022-03-16 10:36] Wang0310 commented on #1052
Hello, because there are some problems with pulling the whole project, so I make a simple example referring to the use case.
![image](https://user-images.githubusercontent.com/5894924/158571229-fb8514d4-c3c6-48dc-9890-9e6a540e01fc.png)
etcd background error message is as follows:
![image](https://user-images.githubusercontent.com/5894924/158571389-2bcfe0e9-93ee-4dbf-9ae3-936438e6f4dd.png)

[2022-03-17 03:26] Wang0310 commented on #1052
Hello, after i added "keyManager" today, I can use it. Thank you for your reply.
![image](https://user-images.githubusercontent.com/5894924/158730720-c9d1153e-ca9e-4499-9ec8-68c840f8f3aa.png)

[2022-03-17 03:26] #1052 closed

[2022-03-18 06:46] wuyueandrew opened #1053 "version 0.6.x not support Java8"
**Versions**
- etcd: _add the etcd version here_
- jetcd: 0.6.0,0.6.1
- java: 8

**Describe the bug**
version 0.6.x not support Java8

io/etcd/jetcd/resolver/DnsSrvResolverProvider has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0

**To Reproduce**

**Expected behavior**

**Addit

[2022-03-18 09:09] phyxdown opened #1055 "jetcd watch become invalid after network isolation and compact"
Sorry but, I mistakenly raised a bug report on etcd-io/etcd.

here is the link:  https://github.com/etcd-io/etcd/issues/13822

[2022-03-18 22:28] lburgazzoli commented on #1055
If the bug is against jetcd please close the one on etcd

[2022-03-18 22:28] lburgazzoli commented on #1053
Version 0.7.0 with Java 8 support has been released

[2022-03-18 22:28] #1053 closed

[2022-03-25 11:05] Jon-Gaara commented on #1045
This may be caused by the grpc version，you can use jetcd-all instead of jetcd-core or change the jetcd core version to 0.5.0.

[2022-03-25 11:07] lburgazzoli commented on #1045
note that jetcd-all is not more provided starting from jetcd 0.6.x

[2022-03-26 01:14] #1041 closed

[2022-03-29 07:27] Cesarla opened #1056 "TryLock Support"
**Describe the solution you'd like**
[etcd 3.5](https://github.com/etcd-io/etcd/blob/4504daa6b03f361a44a760e4bd5caf0e4ae9fc7e/CHANGELOG/CHANGELOG-3.5.md#v350-2021-06) added support for try-lock, but so far jetcd doesn't support it:

Are there any plans to add support for it?

[2022-03-29 10:51] Apache9 opened #1057 "Set daemon to true when creating background thread pool, and also set a proper name for the thread"
**Is your feature request related to a problem? Please describe.**
In our company, some users do not close etcd client properly and non daemon thread will make their process hang there forever.
We can pass in an executorService when constructing etcd client through ClientBuilder, but in WatchImpl we will always create a non daemon thread pool. And what's more, the thread just uses the default name

[2022-04-07 03:25] yijianli commented on #1057
We face the same issue, +1

[2022-04-07 05:34] lburgazzoli commented on #1057
@Apache9 any chance you contribute a fix ?

[2022-04-07 07:07] yijianli opened #1060 "Jetcd did not refresh the auth token"
**Versions**
- etcd: 3.4.16
- jetcd: 0.5.10
- java: 1.8

**Describe the bug**
The jetcd client did not refresh the auth token when the token is expired.

**To Reproduce**
running jetcd client with etcd 3.4.16, the jetcd auth token will be expired eventually. And raise the error like
`Caused by: io.etcd.jetcd.shaded.io.grpc.StatusRuntimeException: UNKNOWN: etcdserver: invalid auth token`

**Expecte

[2022-04-07 07:08] yijianli commented on #1060
https://github.com/etcd-io/jetcd/pull/1059 This is my fix PR

[2022-04-07 08:29] Apache9 commented on #1057
Sure, let me provide a PR.

[2022-04-10 12:54] Apache9 commented on #1057
Opened #1062

Do I need to sign something like an ICLA before contributing code?

Thanks.

[2022-04-10 14:05] Apache9 opened #1063 "The vertx instance is not closed when closing ClientConnectionManager"
**Versions**
- etcd: not important
- jetcd: 0.7.0
- java: not important

**Describe the bug**
When connecting to etcd, we will intialize a vertx instance. But in ClientConnectionManager.defaultChannelBuilder, we just store the vertx instance to a local variable so when closing ClientConnectionManager, we have no way to close the vertx instance. It will create a non daemon thread by default which c

[2022-04-11 06:03] lburgazzoli commented on #1063
fixed by https://github.com/etcd-io/jetcd/pull/1064

[2022-04-11 06:03] #1063 closed

[2022-04-13 05:06] lburgazzoli commented on #1057
no, everything is fine

[2022-04-13 05:06] #1057 closed

[2022-04-14 08:42] yijianli commented on #1060
Resolved

[2022-04-14 08:42] #1060 closed

[2022-04-18 02:39] yijianli opened #1066 "New release"
Can i have a new release for the jetcd-all?

[2022-04-18 07:59] lburgazzoli commented on #1066
I will release a new version of jetcd this week but jetcd-all is not more published/supported

[2022-04-19 02:29] yijianli commented on #1066
Curious. Why the jetcd-all is no longer supported? In our case, the Grpc lib in jetcd is not compatible with our grpc version

[2022-04-19 06:35] lburgazzoli commented on #1066
I have very limited time to support the library so I had to remove some bits to ease the maintenance.

I'm happy to get it back if someone steps up and help maintaining it

[2022-04-20 06:55] 809544928 commented on #738
I meet the problem, can not fix it.
Yesterday I can run my code, but today it report this error.

[2022-04-20 10:14] yijianli commented on #1066
Ok, got it. I will help to handle the jetcd-all for this version. Thanks again

[2022-04-24 11:40] vinsia commented on #1066
@lburgazzoli there is a PR to shadow the jetcd-core, https://github.com/etcd-io/jetcd/pull/1068.
As the description, I did not test the release process. Can you help to do that? or how can I verify that?

[2022-04-24 11:46] lburgazzoli commented on #1066
you should be bale to dry-run a release

[2022-04-24 15:41] yijianli commented on #1066
let me try

[2022-04-25 02:42] vinsia commented on #1066
@lburgazzoli it is ok to run `./gradlew jetcd-core:publishToMavenLocal`

[2022-04-25 02:43] vinsia commented on #1066
can you help to merge this PR and publish a new release, thanks

[2022-05-09 06:31] yijianli commented on #1066
@lburgazzoli ping

[2022-05-09 21:31] lburgazzoli commented on #1066
v0.7.1 has been released

[2022-05-09 21:31] #1066 closed

[2022-05-14 10:53] junzhiL commented on #532
i have similar problem, i'm using jetcd-core-0.5.7,  etcd server version is 3, my application watching the etcd, after shut down etcd server about 30s, i get the below exception , maybe its jetcd's bug, could anyone tell me what version fix this problem or how to fix it.

[code]

and this is my watch function:
[code]

[2022-05-17 01:40] #1046 closed

[2022-05-22 15:49] liangyuanpeng commented on #1055
It would be great if you can provide some code for it.

[2022-05-27 08:45] wangweicugw commented on #1041
I found this problem also. Is there anybody can solve this problem?

[2022-05-27 18:51] sudoHackIn commented on #1056
@Cesarla, etcd grpc api is not exposing method wit same semantics. [I created issue in etcd](https://github.com/etcd-io/etcd/issues/14062), so will wait, what they say

[2022-05-30 01:47] #1055 closed

[2022-06-01 02:00] #1045 closed

[2022-06-02 22:12] aphyr commented on #688
I'm seeing something very much like this in jetcd 0.6.1, in the [Jepsen etcd tests](https://github.com/jepsen-io/etcd):

[code]

Some googling suggests this could be due to incompatible versions of protobuf dependencies being on the classpath, but the only conflicting dependency I can find comes from jetcd itself, which requires both com.google.errorprone/error_prone_annotations 2.7.1 (via guava)

[2022-06-10 11:23] SadykovR commented on #853
I have the same issue. Itried to put and get values and it works well, but Watch doesnt works - Watch.Listener doesn't fires when I put a value.
I use 0.5.0 version.
P.S. Also tried to add Watch and test it using etcdctl tool on the same server - works fine.